<div class="upload-picture">
    <div bsModal #uploadPictureNoneGalleryModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModel"
        aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="col-md-12 title-item local-upload">{{l("LocalUpload")}}</span>
                    </h4>
                </div>

                <div class="modal-body row">
                    <div class="col-lg-6 col-md-6" [id]="'dropArea'+uploadUid">
                        <div class="upload-area-wrap" [id]="'uploadAreaWrap'+uploadUid">
                            <div class="upload-area" [id]="'uploadArea'+uploadUid"></div>
                            <div class="img-area" [id]="'profilePicture'+uploadUid"></div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="upload-tips-wrap">
                            <div class="tips-item">
                                <span class="char"></span>
                                <span class="content">提个醒</span>
                            </div>
                            <div class="tips-item">
                                <span class="char">1、</span>
                                <span class="content">支持jpg/gif/png格式，单张图片大小不超过2M， 最多上传4张图片；</span>
                            </div>
                            <div class="tips-item">
                                <span class="char">2、</span>
                                <span class="content">所有图片皆有自动添加水印；</span>
                            </div>
                            <div class="tips-item">
                                <span class="char">3、</span>
                                <span class="content">上传图片不得违反国家相关法律法规，本站有权对争议图片进行删改。</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn primary-bgcolor" [id]="'confirmUpload'+uploadUid" [buttonBusy]="loading" [busyText]="'上传中...'"><i class="vapps-icon vapps-icon-app-confirm"></i><span>确认</span></button>
                    <button type="button" class="btn btn-cancel" [id]="'cancelUpload'+uploadUid" (click)="close()" [disabled]="loading"><span class="vapps-icon vapps-icon-app-cancel"></span>{{l("Cancel")}}</button>
                </div>
            </div>
        </div>
    </div>
</div>