<div [@routerTransition]>
    <div *hideItBootstrap="['xs','sm']" class="manage-booking">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>{{l("Booking.List")}}</span>
                        </h1>
                        <div>
                            <breadcrumb></breadcrumb>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right"></div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="orange">
                            <h6 class="card-title">{{l("Search")}}</h6>
                        </div>

                        <div class="card-content">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="common-max-width">
                                        <label class="col-md-3 label-on-left">{{l("Booking.Name")}}</label>
                                        <div class="col-md-9">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label"></label>
                                                <input class="form-control common-max-width" [(ngModel)]="bookingName" type="text" name="bookingName" placeholder="{{l('Booking.Name')}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="common-max-width">
                                        <label class="col-md-3 label-on-left">{{l("Search.CreationTime")}}</label>
                                        <div class="col-md-9" style="padding-right: 0; padding-left: 0;">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <div class="flatpickr-wrap">
                                                        <input class="form-control startCreationTime" type="text" name="startCreationTime" placeholder="{{l('Search.CreationTime.ChooseStart')}}"
                                                            [(ngModel)]="startCreationTime" data-input>
                                                        <a class="input-button flatpickr-toggle" title="{{l('Switch')}}" data-toggle>
                                                            <i class="vapps-icon-dc-calendar"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <div class="flatpickr-wrap">
                                                        <input class="form-control endCreationTime" type="text" name="endCreationTime" placeholder="{{l('Search.CreationTime.ChooseEnd')}}"
                                                            [(ngModel)]="endCreationTime" data-input>
                                                        <a class="input-button flatpickr-toggle" title="{{l('Switch')}}" data-toggle>
                                                            <i class="vapps-icon-dc-calendar"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div [hidden]="!spreadMoreService.spreadMoreStatus.active">
                                    <div class="col-xs-6">
                                        <div class="common-max-width">
                                            <label class="col-md-3 label-on-left">{{l("Booking.TenantField")}}</label>
                                            <div class="col-md-9">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChangeHandler($event)" [textField]="'text'" [valueField]="'value'"
                                                        [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="common-max-width">
                                            <label class="col-md-3 label-on-left">{{l("Booking.State")}}</label>
                                            <div class="col-md-9">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label"></label>
                                                    <kendo-dropdownlist [data]="bookingActiveSelectListData" (valueChange)="bookingActiveChangeHandler($event)" [textField]="'displayText'"
                                                        [valueField]="'value'" [valuePrimitive]="true" [defaultItem]="bookingActiveSelectDefaultItem"></kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row btn-wrap">
                                <div class="col-xs-6 col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-3 common-min-width">
                                    <div class="text-center spread-more">
                                        <button class="btn btn-block primary-bgcolor" (click)="spreadMoreService.toggleStatus()">
                                            <i class="fa " [ngClass]="{'fa-chevron-down': !spreadMoreService.spreadMoreStatus.active, 'fa-chevron-up': spreadMoreService.spreadMoreStatus.active}"></i>
                                            <span>{{ l('AdvancedSearch') }}</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="col-xs-6 col-md-2 col-sm-3 common-min-width">
                                    <div class="text-center">
                                        <button class="btn btn-block primary-bgcolor" (click)="searchData()" [buttonBusy]="searching" [busyText]="l('Searching')">
                                            <i class="fa fa-search"></i>
                                            <span>{{l("Search")}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-12 booking-list-wrap" *ngIf="organizationBookingResultData.length>0; else empty">
                <!-- 翻转最外层，包含翻转前front-wrap / 翻转后back-wrap -->
                <div *ngFor="let bookingItem of organizationBookingResultData | paginate: { itemsPerPage: listParam.MaxResultCount, currentPage: listParam.CurrentPage,totalItems: listParam.TotalItems };let index = index"
                    class="col-lg-3 col-md-4 col-sm-4 booking-item flip" [ngClass]="{'active': flipIsToBackFlag[index]}">
                    <!--翻转前-->
                    <div class="no-padding front-wrap box-shadow" #disabledAni [ngClass]="{'disabled-style': !bookingItem.isActive}">
                        <div class="top-banner-wrap">
                            <div class="org-bg" [ngStyle]="{'background-image': 'url(' + getBookingBgUrl(bookingItem.pictureUrl) + ')'}"></div>
                        </div>
                        <div class="booking-details">
                            <div class="xiaoyuyue-title-box">{{bookingItem.name}}</div>
                            <div class="content clearfix">
                                <div class="pull-left">
                                    <div class="booking-overbrim" [ngClass]="countOverbrimState(bookingItem.subMaxBookingNum, bookingItem.subAvailBookingNum)">
                                        <div class="wave">
                                            <span class="before" [ngStyle]="{'top': countOverbrimTop(bookingItem.subMaxBookingNum, bookingItem.subAvailBookingNum)+'px'}"></span>
                                            <span class="after" [ngStyle]="{'top': countOverbrimTop(bookingItem.subMaxBookingNum, bookingItem.subAvailBookingNum)-2+'px'}"></span>
                                        </div>
                                    </div>
                                    <div class="overbrim-value">{{ getOverbrimValue(bookingItem.subMaxBookingNum, bookingItem.subAvailBookingNum)}}%
                                    </div>
                                </div>
                                <div class="booking-info pull-right">
                                    <div class="info-row-item">
                                        <span class="key">{{l('Booking.BookedNum')}}</span>
                                        <span class="value">{{bookingItem.subBookedNum}}</span>
                                    </div>
                                    <div class="info-row-item">
                                        <span class="key">{{l('Booking.AvailBookingNum')}}</span>
                                        <span class="value">{{bookingItem.subAvailBookingNum}}</span>
                                    </div>
                                    <div class="info-row-item">
                                        <span class="key">{{l('Booking.QueueNum')}}</span>
                                        <span class="value">{{bookingItem.subQueueNum}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 蒙版遮罩 -->
                        <div class="booking-item-cover unselectable clearfix" *ngIf="bookingItem.isActive">
                            <div class="qr-code-wrap">
                                <qr-code [value]="shareBaseUrl+bookingItem.id" [size]="250" [iconUrl]="qrcodeIconUrl"></qr-code>
                            </div>
                            <div class="handle-wrap">
                                <div class="handle-item-1 row">
                                    <span class="item col-md-4 col-sm-4 col-xs-4" *ngIf="isGranted(permissions.bookingManage_BookingDisable)" (click)="disabledBookingClass(index)">
                                        <i class="vapps-icon-app-disabled"></i>{{l('Booking.Disabled')}}</span>
                                    <span class="item col-md-4 col-sm-4 col-xs-4" (click)="shareHandler(bookingItem.id)">
                                        <i class="vapps-icon-app-share"></i>{{l('Booking.Share')}}</span>
                                    <span class="item col-md-4 col-sm-4 col-xs-4" (click)="showCheckInOrderHandle(bookingItem.id)">
                                        <i class="vapps-icon-app-check-in"></i>{{ l('Booking.CheckIn') }}</span>
                                </div>
                                <div class="handle-item-2 pull-right">
                                    <span class="btn item-wrap" (click)="editHandler(bookingItem.id)" title="{{l('Booking.Edit')}}">
                                        <span class="show-icon vapps-icon-app-edit"></span>
                                        <span class="show-text">{{l('Edit')}}</span>
                                    </span>

                                    <span class="btn item-wrap" (click)="copyBooking(index)" title="{{l('Booking.Copy')}}" [buttonBusy]="copying" [busyText]="l('Copying')">
                                        <i class="show-icon vapps-icon-app-copy-1"></i>
                                        <span class="show-text">{{l('Copy')}}</span>
                                    </span>

                                    <span class="btn item-wrap" (click)="flipIsToBack(index, true)" title="{{l('Booking.Detail')}}">
                                        <span class="show-icon vapps-icon-app-detail"></span>
                                        <span class="show-text">{{l('Detail')}}</span>
                                    </span>

                                    <span class="btn item-wrap" (click)="removeBooking(index)" title="{{l('Booking.Delete')}}" [buttonBusy]="deleting" [busyText]="l('Deleting')">
                                        <i class="show-icon vapps-icon-app-delete"></i>
                                        <span class="show-text">{{l('Delete')}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="booking-item-cover clearfix" *ngIf="!bookingItem.isActive">
                            <div class="handle-wrap">
                                <div class="handle-item-1 row">
                                    <span class="item col-md-6 active" (click)="beforeBookingClass(index)">
                                        <i class="vapps-icon-app-active"></i>{{l('Active')}}
                                    </span>
                                </div>
                                <div class="handle-item-2 pull-right">
                                    <span class="btn item-wrap" *ngIf="isGranted(permissions.bookingManage_BookingEdit)" (click)="editHandler(bookingItem.id)"
                                        title="{{l('Booking.Edit')}}">
                                        <span class="show-icon vapps-icon-app-edit"></span>
                                        <span class="show-text">{{l('Edit')}}</span>
                                    </span>

                                    <span class="btn item-wrap" *ngIf="isGranted(permissions.bookingManage_BookingCopy)" (click)="flipIsToBack(index, true)"
                                        title="{{l('Booking.Detail')}}">
                                        <span class="show-icon vapps-icon-app-detail"></span>
                                        <span class="show-text">{{l('Detail')}}</span>
                                    </span>

                                    <span class="btn item-wrap" *ngIf="isGranted(permissions.bookingManage_BookingDelete)" (click)="removeBooking(index)" title="{{l('Booking.Delete')}}">
                                        <span class="show-icon vapps-icon-app-delete"></span>
                                        <span class="show-text">{{l('Delete')}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- 待确认人数  -->
                        <div class="wait-confirm-num" *ngIf="bookingItem.wait4ConfirmNum > 0" (click)="showConfirmOrderHandler(bookingItem.id)">{{ bookingItem.wait4ConfirmNum}}</div>
                    </div>
                    <!--翻转后-->
                    <div class="back-wrap box-shadow">
                        <div class="portlet light portlet-fit">
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-subject">{{l("Booking.Detail")}}</span>
                                </div>
                            </div>
                            <div class="portlet-body content-wrap clearfix">
                                <div class="content-item">
                                    <div class="name orange-color">{{bookingItem.name}}</div>
                                    <span class="vapps-icon-app-edit orange-color" (click)="editHandler(bookingItem.id)"></span>
                                </div>
                                <div class="content-item">
                                    <div class="name">{{l("Booking.Outlet")}}</div>
                                    <div class="desc text-overflow orange-color" [title]="bookingItem.outlet">{{bookingItem.outlet}}</div>
                                </div>
                                <div class="content-item">
                                    <div class="name">{{l("Booking.Datetime")}}</div>
                                    <div class="desc text-overflow" [title]="bookingItem.availableBookingTime">{{bookingItem.availableBookingTime}}</div>
                                </div>
                                <div class="content-item">
                                    <div class="name">{{l("Booking.OutletAddress")}}</div>
                                    <div class="desc text-overflow" [title]="bookingItem.outletAddress">{{bookingItem.outletAddress}}</div>
                                </div>
                                <div class="content-item">
                                    <div class="name">{{l("Booking.Contactor")}}</div>
                                    <div class="desc text-overflow">{{bookingItem.contactor}}</div>
                                </div>
                                <div class="content-item">
                                    <div class="name">{{l("Booking.PhoneNumber")}}</div>
                                    <div class="desc text-overflow">{{bookingItem.contactorPhoneNum}}</div>
                                </div>
                                <div class="content-item">
                                    <div class="name">
                                        <span class="booking-custom-btn light-bgcolor btn" (click)="showBookingCostomHandler(bookingItem)">{{l('BookingOrder.List')}}</span>
                                    </div>
                                </div>
                                <div class="back clearfix" (click)="flipIsToBack(index, false)">
                                    <span class="vapps-icon-app-back btn btn-xs  light-bgcolor pull-right"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-12" *ngIf="organizationBookingResultData.length>0">
                <div class="pull-right">
                    <div class="has-text-centered">
                        <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <xiaoyuyue-share-booking-model #shareBookingModel [slogen]="l('Booking.ShareTitle')"></xiaoyuyue-share-booking-model>
        <xiaoyuyue-check-in-order-model #checkInOrderModelComponent></xiaoyuyue-check-in-order-model>
        <xiaoyuyue-confirm-order-model #confirmOrderModelComponent (isShowModelHander)="isShowComfirmOrderModelHandler($event)"></xiaoyuyue-confirm-order-model>
        <xiaoyuyue-booking-custom-model #bookingCustomModelComponent></xiaoyuyue-booking-custom-model>
    </div>

    <div *showItBootstrap="['xs','sm']">
        <div class="mobile-manage-booking">
            <xiaoyuyue-list-scroll [height]="'calc(100vh - 55px)'" [isNeedPullUpLoad]="'true'" [isNeedPullDownRefresh]="'true'" (finishPullUpHandle)="pullUpLoad()"
                (finishPullDownHandle)="pullDownRefresh()">
                <div class="content">
                    <div *ngIf="allOrganizationBookingResultData.length>0; else empty">
                        <div class="booking-content-wrap" *ngFor="let organizationBookingResultData of allOrganizationBookingResultData; let indexI=index">
                            <div class="booking-content" *ngFor="let bookingItem of organizationBookingResultData; let indexJ=index">
                                <div class="booking-item box-shadow" (click)="setActionFlag(indexJ)">
                                    <div [ngClass]="{'disabled-style': !bookingItem.isActive}">
                                        <div class="top-wrap clearfix">
                                            <div class="title pull-left">{{bookingItem.name}}</div>
                                            <div class="icon pull-right" [ngClass]="{'rotate-180': actionFlag[indexJ], 'rotate-360': !actionFlag[indexJ]}">
                                                <span class="vapps-icon-app-drop-down"></span>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="flex-left">
                                                <div class="booking-overbrim" xiaoyuyueIndicator [uuid]="bookingItem.id" [criticalValue]="getOverbrimValue(bookingItem.subMaxBookingNum, bookingItem.subAvailBookingNum)"
                                                    [class]="'booking-overbrim indicator-container-'+bookingItem.id">
                                                </div>
                                            </div>
                                            <div class="flex-right">
                                                <div class="content-item">
                                                    <span class="name">{{ l('Booking.Outlet') }} : </span>
                                                    <span class="desc">{{ l('Outlet.Name') }}</span>
                                                </div>
                                                <div class="content-item">
                                                    <span class="name">{{ l('Dashboard.BookingRate') }} : </span>
                                                    <span class="desc">{{bookingItem.subBookedNum}} / {{bookingItem.subMaxBookingNum}}</span>
                                                </div>
                                                <div class="content-item">
                                                    <span class="name">{{ l('Booking.ResponderNumber') }} : </span>
                                                    <span class="desc">{{bookingItem.subBookedNum}}</span>
                                                </div>
                                                <div class="content-item">
                                                    <span class="name">{{ l('Dashboard.SubQueueNum') }} : </span>
                                                    <span class="desc">{{bookingItem.subQueueNum}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom-action" *ngIf="actionFlag[indexJ]">
                                        <button class="action-item" (click)="showDetail(bookingItem.id)">
                                            <span class="icon vapps-icon-app-detail"></span>{{ l('BookingList.ViewEdit') }}</button>
                                        <span class="line">|</span>
                                        <button class="action-item" *ngIf="bookingItem.isActive" (click)="disabledBookingClass(indexI, indexJ)">
                                            <span class="icon vapps-icon-app-cancel"></span>{{ l('BookingList.DisabledBooking') }}</button>
                                        <button class="action-item" *ngIf="!bookingItem.isActive" (click)="beforeBookingClass(indexI, indexJ)">
                                            <span class="icon vapps-icon-app-active"></span>{{ l('BookingList.ActivBooking') }}</button>
                                        <span class="line">|</span>
                                        <button class="action-item" [ngClass]="{'disabled-style': bookingItem.wait4ConfirmNum == 0}" [disabled]="bookingItem.wait4ConfirmNum == 0"
                                            (click)="showMobileConfirmOrderModel(bookingItem.id, indexI)">
                                            <span class="icon vapps-icon-app-confirm-2"></span>
                                            {{ l('BookingList.WaitConfirm') }}
                                            <span class="avail-num" *ngIf="bookingItem.wait4ConfirmNum !== 0">{{ bookingItem.wait4ConfirmNum }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </xiaoyuyue-list-scroll>
            <div class="add-time-btn">
                <span class="icon vapps-icon-cb-add-time" routerLink="/booking/create"></span>
            </div>
        </div>
        <xiaoyuyue-mobile-confirm-order-model #mobileConfirmOrderModel (batchConfirmStateHanlder)="batchConfirmStateHanlder($event)"></xiaoyuyue-mobile-confirm-order-model>

    </div>
</div>

<ng-template #empty>
    <xiaoyuyue-empty-page [text]="slogan"></xiaoyuyue-empty-page>
</ng-template>