<div *hideItBootstrap="['xs','sm']">
    <div [@routerTransition]>
        <div class="login-wrap card">
            <form #loginForm="ngForm" method="post">
                <div class="login-title">
                    <div class="title">
                        <img class="logo" src="/assets/common/images/login/logo-x2.png" alt="">
                    </div>
                    <div class="toggle-wrap clearfix">
                        <span class="ordinary-login col-md-6" (click)="isOrdinaryLogin()">
                            {{l('Account')}}
                            <span class="line" *ngIf="ordinaryLogin"></span>
                        </span>
                        <span class="phone-login col-md-6" (click)="isPhoneLogin()">
                            {{l('Telephone')}}
                            <span class="line" *ngIf="!ordinaryLogin"></span>
                        </span>
                    </div>
                </div>
                <div class="login-body card-content">
                    <div [@routerTransition] class="ordinary-login-wrap form-horizontal" *ngIf="ordinaryLogin">
                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-name"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" type="text" placeholder="{{ l('PlaceholderTips.Login') }}" autofocus [(ngModel)]="loginService.authenticateModel.loginCertificate"
                                        name="loginCertificate" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-passwd"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input class="form-control" type="password" placeholder="{{l('PlaceholderTips.Passwd')}}" [(ngModel)]="loginService.authenticateModel.password"
                                        name="password" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [@routerTransition] class="phone-login-wrap form-horizontal" *ngIf="!ordinaryLogin">
                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-phone"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input class="form-control" type="number" autofocus name="phoneNumber" [(ngModel)]="model.phoneNum" maxlength="11" pattern="(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7}"
                                        placeholder="{{l('PhoneNumber')}}" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-code"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="validate-code-wrap form-group form-md-line-input form-md-floating-label">
                                    <input class="form-control" type="number" name="identifyCode" [(ngModel)]="model.loginCode" required placeholder="{{l('VerificationCode')}}">
                                    <xiaoyuyue-send-sms-code [codeType]="codeType" [phoneNumber]="model.phoneNum"></xiaoyuyue-send-sms-code>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="checkbox">
                                <label>
                                    <input [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{l('RememberMe')}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <span class="forgot-password pull-right">
                                <a routerLink="/account/forgot-password" id="forget-password">{{l('ForgotPassword')}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="login-btn-wrap">
                        <button class="btn btn-login" type="submit" (click)="login()" [disabled]="!loginForm.form.valid" [buttonBusy]="saving" [busyText]="l('Logging')">
                            <i></i>
                            <span>{{l("LogIn")}}</span>
                        </button>
                    </div>
                    <div class="form-group form-md-line-input">
                        <div *ngIf="loginService.externalLoginProviders.length > 0">
                            <ul class="social-icons-wrap">
                                <li *ngFor="let provider of loginService.externalLoginProviders">
                                    <a *ngIf="provider.name!='WeChatMP'" class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,$event)"
                                        title="{{provider.name}}"></a>
                                </li>
                            </ul>

                            <div class="tooltip in tooltip-top top" id="externalLogin">
                                <div class="externalLogin-arrow"></div>
                                <div class="externalLogin-wrapper" id="externalLoginContainer"></div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" id="username" class="form-control" [(ngModel)]="loginService.authenticateModel.loginCertificate">
                    <label for="username">用户名</label>
                    <span class="help-block">请输入用户名</span>
                    
                </div>-->
                </div>
                <div class="login-footer"></div>
            </form>
        </div>
    </div>
</div>

<div *showItBootstrap="['xs','sm']">
    <div [@routerTransition] *ngIf="!ordinaryLogin">
        <form #fastLoginForm="ngForm" method="post">
            <div class="mobile-login-wrap">
                <div class="logo-wrap">
                    <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
                </div>

                <div class="login-body">
                    <div class="form-item">
                        <div class="form-group label-floating">
                            <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="model.phoneNum" maxlength="11" pattern="(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7}"
                                placeholder="{{l('PhoneNumber')}}" autofocus required>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="validate-code-wrap form-group label-floating">
                            <input class="form-control" type="number" name="identifyCode" [(ngModel)]="model.loginCode" required placeholder="{{l('VerificationCode')}}">
                            <xiaoyuyue-send-sms-code [codeType]="codeType" [phoneNumber]="model.phoneNum"></xiaoyuyue-send-sms-code>
                        </div>
                    </div>

                    <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!fastLoginForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('Logging')">
                        <i></i>
                        <span>{{l("LogIn")}}</span>
                    </button>

                    <div class="form-item clearfix account-action">
                        <span class="pull-left" routerLink="/auth/register">{{ l('Page.FastRegister') }}</span>
                        <span class="pull-right" (click)="isOrdinaryLogin()">{{ l('Page.OrdinaryLogin') }}</span>
                    </div>

                    <div class="extra-login">
                        <div class="title-text">
                            <span class="text">{{ l('Page.External') }}</span>
                        </div>
                        <div *ngIf="loginService.externalLoginProviders.length > 0">
                            <ul class="social-icons-wrap">
                                <li *ngFor="let provider of loginService.externalLoginProviders">
                                    <a *ngIf="provider.name!='WeChatMP'" class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,$event)"
                                        title="{{provider.name}}"></a>
                                </li>
                            </ul>

                            <div class="tooltip in tooltip-top top" id="externalLogin">
                                <div class="externalLogin-arrow"></div>
                                <div class="externalLogin-wrapper" id="externalLoginContainer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div [@routerTransition] *ngIf="ordinaryLogin">
        <form #ordinaryLoginForm="ngForm" method="post">
            <div class="mobile-login-wrap">
                <div class="logo-wrap">
                    <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
                </div>

                <div class="login-body">
                    <div class="form-item">
                        <div class="form-group label-floating">
                            <input class="form-control" type="text" placeholder="{{ l('PlaceholderTips.Login') }}" [(ngModel)]="loginService.authenticateModel.loginCertificate"
                                name="UserName" required autofocus>
                        </div>
                    </div>

                    <div class="form-item">
                        <div class="form-group label-floating">
                            <input class="form-control" type="password" placeholder="{{ l('PlaceholderTips.Passwd') }}" [(ngModel)]="loginService.authenticateModel.password"
                                name="EmailAddress" required>
                        </div>
                    </div>

                    <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!ordinaryLoginForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('Logging')">
                        <i></i>
                        <span>{{l("LogIn")}}</span>
                    </button>

                    <div class="form-item clearfix account-action">
                        <span class="pull-left" routerLink="/auth/register">{{ l('Page.FastRegister') }}</span>
                        <span class="pull-right" (click)="isPhoneLogin()">{{ l('Page.SmsLogin') }}</span>
                    </div>

                    <div class="extra-login">
                        <div class="title-text">
                            <span class="text">{{ l('Page.External') }}</span>
                        </div>
                        <div *ngIf="loginService.externalLoginProviders.length > 0">
                            <ul class="social-icons-wrap">
                                <li *ngFor="let provider of loginService.externalLoginProviders">
                                    <a *ngIf="provider.name!='WeChatMP'" class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,$event)"
                                        title="{{provider.name}}"></a>
                                </li>
                            </ul>

                            <div class="tooltip in tooltip-top top" id="externalLogin">
                                <div class="externalLogin-arrow"></div>
                                <div class="externalLogin-wrapper" id="externalLoginContainer"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>