<div class="confirm-order-wrap ani" [ngClass]="{'fade-in': isShowModelFlag, 'fade-out': !isShowModelFlag}">
    <div class="wrap">
        <div class="confirm-model">
            <div class="header-model clearfix">
                <div class="title-name">预约确认</div>
                <div class="command-wrap">
                    <span class="process-batch btn btn-white" (click)="batchComfirmBookingOrderHandler()">{{ confirmOrderText }}</span>
                </div>
            </div>

            <div class="content-model">
                <kendo-grid [data]="wait4ComfirmOrderListData | async" [pageSize]="gridParam.MaxResultCount" [skip]="gridParam.SkipCount"
                    [sort]="gridParam.Sorting" [pageable]=" { buttonCount: gridParam.ButtonCount, info: gridParam.Info, type: gridParam.Type, pageSizes: gridParam.PageSizes, previousNext: gridParam.PreviousNext }"
                    [sortable]="gridParam.Sortable" (dataStateChange)="dataStateChange($event)" [scrollable]="gridParam.Scrollable">
                    <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}"
                        pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}"
                        pagerFirstPage="{{l('FirstPage')}}" pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>
                    <!-- 应约人 -->
                    <kendo-grid-column title="应约人">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ dataItem.customerName }}</span>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- 预约时间 -->
                    <kendo-grid-column title="预约时间">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ dataItem.hourOfDay }}</span>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- 预约人数 -->
                    <kendo-grid-column title="预约人数">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ dataItem.subscriberNum }}</span>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- 联系电话 -->
                    <kendo-grid-column title="联系电话">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ dataItem.phoneNum }}</span>
                        </ng-template>
                    </kendo-grid-column>

                    <!-- 预约时间 -->
                    <kendo-grid-column title="订单创建时间">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <span>{{ t(dataItem.creationTime) }}</span>
                        </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column title="{{l('Actions')}}">
                        <ng-template kendoGridCellTemplate let-dataItem>
                            <!-- edit command directive, will be visible when not in edit mode -->
                            <button title="确认" class="btn comfirm-btn" *ngIf="!isBatchConfirmFlag" (click)="comfirmBookingOrderHander(dataItem.id)">确认</button>
                            <div class="md-checkbox-list" *ngIf="isBatchConfirmFlag" [ngClass]="{'k-button': false}">
                                <div class="checkbox">
                                    <label>
                                                <input [id]="'name'+dataItem.id" (click)="batchComfirmBookingOrder($event.target.checked,dataItem.id)" class="md-check" type="checkbox">
                                            </label>
                                </div>
                            </div>
                        </ng-template>
                    </kendo-grid-column>
                </kendo-grid>
            </div>

            <div class="footer-model"></div>
        </div>
    </div>

    <div class="bg-cover" (click)="hideModel()"></div>
</div>