<div bsModal #bookingOrderInfoModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookingOrderInfoModel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img class="avatar box-shadow" [src]="getProfileAvatar()" width="100px" alt="avatar">
            </div>
            <div class="modal-body" *hideItBootstrap="['xs','sm']">
                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.Status')}}</div>
                    <div class="col-md-5 col-xs-8 desc">
                        <span class="order-status" [ngClass]="'status-'+dataItem.status">{{ bookingOrderStatusName[dataItem.status-1] }}</span>
                    </div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.Name')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.customerName }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.BookingName')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.bookingName }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.Outlet')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.outletName }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.Datetime')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.hourOfDay }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.SubscriberNum')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.subscriberNum }}</div>
                </div>

                <div class="row item" *ngIf="dataItem.phoneNum">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.PhoneNumber')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.phoneNum }}</div>
                </div>

                <div class="row item" *ngIf="dataItem.emailAddress">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.EmailAddress')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ dataItem.emailAddress }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.CreationTime')}}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ t(dataItem.creationTime) }}</div>
                </div>

                <div class="row item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{ l('Booking.CheckInState') }}</div>
                    <div class="col-md-5 col-xs-8 desc" *ngIf="!dataItem.checkIn">{{ l('Booking.CheckInState.No') }}</div>
                    <div class="col-md-5 col-xs-8 desc" *ngIf="dataItem.checkIn">{{ l('Booking.CheckInState.Yes') }}</div>
                </div>

                <div class="row item" *ngIf="dataItem.checkIn">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{ l('Booking.CheckInState') }}</div>
                    <div class="col-md-5 col-xs-8 desc">{{ t(dataItem.checkInDateTime) }}</div>
                </div>

                <div class="row item" [title]="dataItem.checkInLocation" *ngIf="dataItem.checkIn && dataItem.checkInLocation">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{ l('Booking.CheckInLocation') }}</div>
                    <div class="col-md-5 col-xs-8 desc text-overflow">{{ dataItem.checkInLocation }}</div>
                </div>

                <div class="row item remark-item">
                    <div class="col-md-3 col-xs-4 col-lg-offset-1 name">{{l('BookingOrder.Remark')}}</div>
                    <div class="col-md-5 col-xs-8 desc">
                        <textarea class="form-control col-md-5 col-xs-8 " [(ngModel)]="dataItem.remark" name="remark" placeholder="{{l('BookingOrder.EditRemark')}}"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-body mobile" *showItBootstrap="['xs','sm']">
                <div class="clearfix">
                    <!-- 预约状态 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.Status')}}</div>
                        <div class="col-xs-7 desc">
                            <span class="order-status" [ngClass]="'status-'+dataItem.status">{{ bookingOrderStatusName[dataItem.status-1] }}</span>
                        </div>
                    </div>

                    <!-- 签到状态 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{ l('Booking.CheckInState') }}</div>
                        <div class="col-xs-7 desc" *ngIf="!dataItem.checkIn">{{ l('Booking.CheckInState.No') }}</div>
                        <div class="col-xs-7 desc" *ngIf="dataItem.checkIn">{{ l('Booking.CheckInState.Yes') }}</div>
                    </div>

                    <!-- 客户姓名 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.Name')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.customerName }}</div>
                    </div>

                    <!-- 客户电话 -->
                    <div class="col-xs-6 item" *ngIf="dataItem.phoneNum">
                        <div class="col-xs-5 name">{{l('BookingOrder.PhoneNumber')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.phoneNum }}</div>
                    </div>

                    <!-- 预约名称 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.BookingName')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.bookingName }}</div>
                    </div>

                    <!-- 预约门店 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.Outlet')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.outletName }}</div>
                    </div>

                    <!-- 预约人数 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.SubscriberNum')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.subscriberNum }}</div>
                    </div>

                    <!-- 签到时间 -->
                    <div class="col-xs-6 item" *ngIf="dataItem.checkIn">
                        <div class="col-xs-5 name">{{ l('Booking.CheckInDate') }}</div>
                        <div class="col-xs-7 desc">{{ d(dataItem.checkInDateTime) }}</div>
                    </div>

                    <!-- 签到位置 -->
                    <div class="col-xs-6 item" [title]="dataItem.checkInLocation" *ngIf="dataItem.checkIn && dataItem.checkInLocation">
                        <div class="col-xs-5 name">{{ l('Booking.CheckInLocation') }}</div>
                        <div class="col-xs-7 desc text-overflow">{{ dataItem.checkInLocation }}</div>
                    </div>

                    <!-- 预约时间 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.Datetime')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.hourOfDay }}</div>
                    </div>

                    <!-- 创建时间 -->
                    <div class="col-xs-6 item">
                        <div class="col-xs-5 name">{{l('BookingOrder.CreationTime')}}</div>
                        <div class="col-xs-7 desc">{{ d(dataItem.creationTime) }}</div>
                    </div>

                    <!-- 客户邮箱 -->
                    <div class="col-xs-6 item" *ngIf="dataItem.emailAddress">
                        <div class="col-xs-5 name">{{l('BookingOrder.EmailAddress')}}</div>
                        <div class="col-xs-7 desc">{{ dataItem.emailAddress }}</div>
                    </div>
                </div>

                <!-- 备注信息 -->
                <div class="item remark-item clearfix">
                    <div class="desc col-xs-12">
                        <textarea class="form-control col-xs-6 " [(ngModel)]="dataItem.remark" name="remark" placeholder="{{l('BookingOrder.EditRemark')}}"></textarea>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn primary-bgcolor" *ngIf="isGranted(permissions.bookingManage_BookingOrderConfirm)&&(dataItem.status === 1)"
                    (click)="confirmCustomerOrder()" [buttonBusy]="confirming" [busyText]="l('Confirming')">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span>{{l("ConfirmBooking")}}</span>
                </button>
                <button type="button" class="btn btn-perfect" *ngIf="isGranted(permissions.bookingManage_BookingOrderRemark)" (click)="remarkBookingOrder()"
                    [buttonBusy]="updating" [busyText]="l('Updating')">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    <span>{{l("BookingOrder.UpdateRemark")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>