.time-info {
    .xiaoyuyue-title-box {
        width: calc(100% - 40px);
        height: 64px;
        line-height: 64px;
        text-align: center;
        .btn-action-wrap {
            position: absolute;
            top: 0;
            right: 20px;
            .icon+.icon {
                margin-left: 15px;
            }
            .icon {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                cursor: pointer;
            }
            .vapps-icon-app-delete {
                font-size: 36px;
            }
        }
    }
    .portlet-title {
        margin-bottom: 0;
        .add-time {
            span {
                color: #ff9742;
            }
        }
    }
    .portlet-body {
        position: relative;
        min-height: 200px;
        padding-top: 0;
        .time-info-wrap {
            position: relative;
            margin-top: 52px;
            border: 1px solid #eee;
            .time-item+.time-item {
                border-top: 1px solid #eee;
            }
            .flatpickr-wrap {
                position: relative;
                .flatpickr-toggle {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }
            }
            .time-item {
                // width: 510px;
                height: 64px;
                .name {
                    line-height: 64px;
                    border-right: 1px solid #eee;
                }
                .input-box {
                    margin-top: 15px;
                    input.common-max-width {
                        width: 240px;
                        height: 34px;
                    }
                    .add-time-btn-wrap {
                        width: 30px;
                        height: 30px;
                        position: relative;
                        margin-top: 2px;
                        text-align: center;
                        border-radius: 50%;
                        border: 1px solid #ff9742;
                        background-color: transparent;
                        cursor: pointer;
                        .vapps-icon-cb-add-time {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #ff9742;
                            font-size: 15px;
                        }
                        .vapps-icon-dc-customer-vip {
                            color: #ff9742;
                            font-size: 15px;
                        }
                    }
                }
                .view-box {
                    line-height: 64px;
                }
            }
            .booking-date-item {
                .input-box {
                    position: relative;
                    .vapps-icon-dc-calendar {
                        position: absolute;
                        top: 50%;
                        right: 142px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }
            }
            .booking-time-item {
                .item {
                    overflow: hidden;
                    margin-bottom: 15px;
                }
            }
            .submit-item {
                text-align: center;
                >.btn-submit,
                >.btn-cancel {
                    margin-top: 15px;
                }
            }
        } // .add-time-btn-wrap {
        //     width: 60px;
        //     height: 60px;
        //     margin-top: 12%;
        //     text-align: center;
        //     background-color: #ff9742;
        //     border-radius: 50%;
        //     cursor: pointer;
        //     .vapps-icon-cb-add-time {
        //         line-height: 60px;
        //         color: #FFF;
        //         font-size: 30px;
        //     }
        // }
    }
}