<div class="header clearfix">
    <div class="card-header card-header-text pull-left" data-background-color="orange">
        <h6 class="card-title">预约时间热度</h6>
    </div>
    <span class="dropdown-list pull-right">
         <kendo-dropdownlist [data]="orgBookingSelectListData" (valueChange)="orgBookingSelectListDataChangeHandler($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true"[value]="orgBookingDefaultListItem"></kendo-dropdownlist> 
    </span>
</div>
<div id="bookingAccessHeatEcharts" echarts [options]="chartOption" [loading]="showloading" theme="shine" class="demo-chart"></div>