.common-max-width {
    max-width: 360px;
}

.create-outlet {
    .page-head {
        .back-btn {
            width: 26px;
            height: 26px;
            line-height: 26px;
            display: inline-block;
            border-radius: 26px;
            color: #FFF;
            background-color: #FF9641;
            overflow: hidden;
            transition: width .15s;
            cursor: pointer;
            vertical-align: text-top;
            .text {
                color: #FFF;
                padding-right: 8px;
            }
            .vapps-icon-app-back {
                font-size: 26px;
                font-weight: 800;
                vertical-align: middle;
            }
        }
        .back-btn:hover {
            width: 68px;
        }
    }
    .outlet-image-wrap {
        padding-top: 20px;
        .outlet-image {
            width: 100%;
            height: 200px;
            border: 1px solid #d5d5d5;
        }
    }
}


/* 移动端样式 */

.mobile-create-outlet {
    overflow: hidden;
    .next-step {
        width: 100%;
        height: 50px;
        position: fixed !important;
        left: 0;
        bottom: 0;
        text-align: center;
        background-color: #FF9641;
        color: #FFF;
        font-size: 15px !important;
        margin: 0;
        border-radius: 0 !important;
        z-index: 10000;
    }
    .side-bar {
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, .6);
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .nav-tabs {
            display: flex;
            background-color: transparent;
            .nav-item.active {
                .nav-link {
                    color: #FFF!important;
                    background-color: #FF9641;
                    border-radius: 4px;
                    cursor: pointer;
                }
            }
            .nav-item {
                flex: 1;
                line-height: 50px;
                text-align: center;
                .nav-link {
                    display: inline-block;
                    width: 100%;
                    padding: 0;
                    color: #AAA!important;
                    font-size: 16px;
                    >span {
                        display: block;
                        line-height: 50px;
                    }
                }
            }
        }
    }
    .outlet-bg {}
}