<div *hideItBootstrap="['xs','sm']">
    <div [@routerTransition] class="wrapper">
        <form #registerForm="ngForm" method="post">
            <div class="register-wrap card">
                <div class="register-title">
                    <div class="title">
                        <img class="logo" src="/assets/common/images/login/logo-x2.png" alt="小预约">
                    </div>
                    <div class="toggle-wrap clearfix">
                        <span class="ordinary-login col-md-6" (click)="isPhoneRegister()">
                            {{ l('PhoneRegister') }}
                            <span class="line" *ngIf="phoneRegister"></span>
                        </span>
                        <span class="phone-login col-md-6" (click)="isEmailRegister()">
                            {{ l('EmailRegister') }}
                            <span class="line" *ngIf="!phoneRegister"></span>
                        </span>
                    </div>
                </div>
                <div [@routerTransition] *ngIf="phoneRegister">
                    <div class="register-body form-horizontal" style="margin-top: 60px;">
                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-name"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('TenantName')}}" type="text" name="tenancyName" required autofocus [(ngModel)]="model.tenancyName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-phone"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('PhoneNumber')}}" type="tel" name="phoneNumber" required [(ngModel)]="model.phoneNumber">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-code"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="validate-code-wrap form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('VerificationCode')}}" type="text" name="registerCode" required [(ngModel)]="model.registerCode">
                                    <xiaoyuyue-send-sms-code [codeType]="codeType" [phoneNumber]="model.phoneNumber"></xiaoyuyue-send-sms-code>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-passwd"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('SetPassword')}}" type="password" name="password" required [(ngModel)]="model.password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-passwd"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('ConfirmPasswd')}}" type="password" name="confirmPasswd" required [(ngModel)]="confirmPasswd">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" name="aboutTerms" value="true" />{{l('ReadAndAgree')}}
                                    </label>
                                    <span>
                                        <a href="javascript:;" (click)="readProtocolModal()">《{{ l('ReadProtocol') }}》</a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="register-btn-wrap">
                            <button class="btn btn-register" type="submit" (click)="register()" [disabled]="!registerForm.form.valid" [buttonBusy]="saving"
                                [busyText]="l('Page.Registering')">
                                <i></i>
                                <span>{{l("CreateAnAccount")}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div [@routerTransition] *ngIf="!phoneRegister">
                    <div class="register-body form-horizontal" style="margin-top: 60px;">
                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-name"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('TenantName')}}" type="text" name="tenancyName" required autofocus [(ngModel)]="model.tenancyName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-email email-icon"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="validate-code-wrap form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{ l('EmailAddressField') }}" type="tel" name="adminEmailAddress" required [(ngModel)]="model.adminEmailAddress">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-code"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('VerificationCode')}}" type="text" name="registerCode" required [(ngModel)]="model.registerCode">
                                    <xiaoyuyue-send-sms-code [codeType]="codeType" [sendCodeType]="sendCodeType" [emailAddress]="model.adminEmailAddress"></xiaoyuyue-send-sms-code>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-passwd"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('SetPassword')}}" type="password" name="password" required [(ngModel)]="model.password">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-md-1 col-sm-2 label-on-left">
                                <span class="vapps-icon-app-login-passwd"></span>
                            </label>
                            <div class="col-md-11 col-sm-10">
                                <div class="form-group label-floating">
                                    <label class="control-label"></label>
                                    <input class="form-control" placeholder="{{l('ConfirmPasswd')}}" type="password" name="confirmPasswd" required [(ngModel)]="confirmPasswd">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="checkbox col-md-12">
                                    <label>
                                        <input type="checkbox" name="aboutTerms" value="true" />{{l('ReadAndAgree')}}
                                    </label>
                                    <span>
                                        <a href="javascript:;" (click)="readProtocolModal()">《{{ l('ReadProtocol') }}》</a>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="register-btn-wrap">
                            <button class="btn btn-register" type="submit" (click)="register()" [disabled]="!registerForm.form.valid" [buttonBusy]="saving"
                                [busyText]="l('Page.Registering')">
                                <i></i>
                                <span>{{l("CreateAnAccount")}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="register-footer"></div>
            </div>
        </form>
    </div>
</div>

<div *showItBootstrap="['xs','sm']">
    <div [@routerTransition] class="wrapper">
        <form #registerForm="ngForm" method="post">
            <div class="register-wrap card">
                <div class="logo-wrap">
                    <img class="ng-tns-c1-0" alt="logo" src="/assets/common/images/login/logo-colorized.png" style="width: 40px;">
                </div>
                <div class="register-body form-horizontal">

                    <div class="row">
                        <label class="col-md-1 col-sm-2 label-on-left">
                            <span class="vapps-icon-app-login-name"></span>
                        </label>
                        <div class="col-md-11 col-sm-10">
                            <div class="form-group label-floating">
                                <label class="control-label"></label>
                                <input class="form-control" placeholder="{{l('TenantName')}}" type="text" name="tenancyName" required autofocus [(ngModel)]="model.tenancyName">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-1 col-sm-2 label-on-left">
                            <span class="vapps-icon-app-login-phone"></span>
                        </label>
                        <div class="col-md-11 col-sm-10">
                            <div class="validate-code-wrap form-group label-floating">
                                <label class="control-label"></label>
                                <input class="form-control" placeholder="{{l('PhoneNumber')}}" type="tel" name="phoneNumber" required [(ngModel)]="model.phoneNumber">
                                <xiaoyuyue-send-sms-code [codeType]="codeType" [phoneNumber]="model.phoneNumber"></xiaoyuyue-send-sms-code>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-1 col-sm-2 label-on-left">
                            <span class="vapps-icon-app-login-code"></span>
                        </label>
                        <div class="col-md-11 col-sm-10">
                            <div class="form-group label-floating">
                                <label class="control-label"></label>
                                <input class="form-control" placeholder="{{l('VerificationCode')}}" type="text" name="registerCode" required [(ngModel)]="model.registerCode">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-1 col-sm-2 label-on-left">
                            <span class="vapps-icon-app-login-passwd"></span>
                        </label>
                        <div class="col-md-11 col-sm-10">
                            <div class="form-group label-floating">
                                <label class="control-label"></label>
                                <input class="form-control" placeholder="{{l('SetPassword')}}" type="password" name="password" required [(ngModel)]="model.password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-1 col-sm-2 label-on-left">
                            <span class="vapps-icon-app-login-passwd"></span>
                        </label>
                        <div class="col-md-11 col-sm-10">
                            <div class="form-group label-floating">
                                <label class="control-label"></label>
                                <input class="form-control" placeholder="{{l('ConfirmPasswd')}}" type="password" name="confirmPasswd" required [(ngModel)]="confirmPasswd">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="checkbox col-md-12">
                                <label>
                                    <input type="checkbox" name="aboutTerms" value="true" />{{l('ReadAndAgree')}}
                                </label>
                                <span>
                                    <a href="javascript:;" (click)="readProtocolModal()">《{{ l('ReadProtocol') }}》</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="register-btn-wrap">
                        <button class="btn btn-register" type="submit" (click)="register()" [disabled]="!registerForm.form.valid" [buttonBusy]="saving"
                            [busyText]="l('Page.Registering')">
                            <i></i>
                            <span>{{l("CreateAnAccount")}}</span>
                        </button>
                    </div>
                </div>
                <div class="register-footer"></div>
            </div>
        </form>
    </div>
</div>
<xiaoyuyue-protocol-model #protocolModal></xiaoyuyue-protocol-model>