@import '../../../sass/xiaoyuyue/_mixin';
.wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    @include flexMiddle(3);
    &.mobile {
        .register-wrap {
            [class^="vapps-icon-"],
            [class*=" vapps-icon-"] {
                margin-top: 28px;
            }
            .form-group {
                margin-top: 20px;
            }
            .toggle-wrap {
                .ordinary-login {
                    .text {
                        border-right: 1px solid #FF9641;
                    }
                }
                .phone-login,
                .ordinary-login {
                    text-align: center;
                    .content {
                        .line {
                            background-color: #FF9641;
                        }
                    }
                }
            }
        }
    }
    .register-wrap {
        width: 380px;
        position: relative;
        padding: 50px 20px 0;
        background-color: #FFF;
        .logo-wrap {
            width: 100px;
            height: 100px;
            line-height: 100px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #FFF;
            border-radius: 50%;
            text-align: center;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
            img {
                display: inline-block;
                margin-right: 6px;
            }
        }
        .toggle-wrap {
            .ordinary-login {
                padding-right: 0;
                .text {
                    border-right: 1px solid #FFF;
                }
            }
            .ordinary-login,
            .phone-login {
                .content {
                    position: relative;
                    line-height: 30px;
                    padding: 15px 0;
                    cursor: pointer;
                    .line {
                        width: 60%;
                        height: 2px;
                        position: absolute;
                        top: 44px;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 0 auto;
                        background-color: #FFF;
                    }
                }
            }
        }
        .mt-checkbox {
            padding-left: 20px;
            font-size: 12px;
            color: #808080;
            &>span {
                width: 14px;
                height: 14px;
            }
            &>span:after {
                top: 0;
                left: 4px;
            }
        }
        .register-title {
            width: 340px;
            position: absolute;
            top: -40px;
            background: url("/assets/common/images/login/bg-gradient.jpg");
            background-repeat: repeat-y;
            color: #FFF;
            background-color: #ff9742;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
            .title {
                height: 100px;
                line-height: 100px;
                .logo {
                    width: 46px;
                    margin-right: 8px;
                }
            }
        }
        .register-body {
            .validate-code-wrap {
                position: relative;
            }
            .email-icon {
                font-size: 12px;
                transform: scale(.8);
            }
            .register-btn-wrap {
                width: 100%;
                text-align: center;
                .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
                    padding: 10px 14px;
                    font-size: 14px;
                }
                .btn-register {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    background: url("/assets/common/images/login/bg-gradient.jpg");
                    background-repeat: repeat-y;
                    border: 0;
                    border-radius: 4px;
                }
            }
        }
    }
}