<div *hideItBootstrap="['xs','sm']">
    <div class="account-security" [@routerTransition]>
        <form #accountSecurity="ngForm">
            <div class="row margin-bottom-5">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>账户安全</span>
                            </h1>
                            <div>
                                <breadcrumb></breadcrumb>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="security-info col-lg-6">
                    <div class="card">
                        <div class="form-horizontal">
                            <div class="card-header card-header-text" data-background-color="orange">
                                <h6 class="card-title">安全信息</h6>
                            </div>
                            <div class="card-content">
                                <div class="login-passwd content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">登录密码</span>
                                        <span class="pull-left already-set">已设置</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" (click)="showChangePasswdModel()">设置</button>
                                    </div>
                                </div>

                                <div class="verify-phone content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">验证手机</span>
                                        <span class="pull-left not-set" *ngIf="!isBindingPhone()">未设置</span>
                                        <span class="pull-left already-set" *ngIf="isBindingPhone()">已设置</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" *ngIf="isBindingPhone()" (click)="showChangePhoneModel()">修改</button>
                                        <button type="button" class="btn primary-bgcolor" *ngIf="!isBindingPhone()" (click)="showBindingPhoneModel()">设置</button>
                                    </div>
                                </div>

                                <div class="verify-email content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">验证邮箱</span>
                                        <span class="pull-left not-set">未设置</span>
                                        <!-- <span class="pull-left already-set">已设置</span> -->
                                    </p>
                                    <div class="right-item pull-right">
                                        <!-- <button type="button" class="btn primary-bgcolor">修改</button> -->
                                        <button type="button" class="btn primary-bgcolor">设置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-linked col-lg-6">
                    <div class="card">
                        <div class="form-horizontal">
                            <div class="card-header card-header-text" data-background-color="orange">
                                <h6 class="card-title">账户关联</h6>
                            </div>
                            <div class="card-content">
                                <div class="login-passwd content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-icon pull-left"><img src="assets/common/images/social/wechat-x2.png" style="width: 36px;" alt="wechat"></span>
                                        <span class="pull-left not-set">未绑定</span>
                                        <!-- <span class="pull-left already-set">微信名</span> -->
                                    </p>
                                    <div class="right-item pull-right">
                                        <!-- <button type="button" class="btn primary-bgcolor">改绑</button> -->
                                        <button type="button" class="btn primary-bgcolor">绑定</button>
                                    </div>
                                </div>

                                <div class="verify-phone content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-icon pull-left"><img src="assets/common/images/social/weibo-x2.png" style="width: 34px;" alt="weibo"></span>
                                        <span class="pull-left not-set">未绑定</span>
                                        <!-- <span class="pull-left already-set">QQ号</span> -->
                                    </p>
                                    <div class="right-item pull-right">
                                        <!-- <button type="button" class="btn primary-bgcolor">改绑</button> -->
                                        <button type="button" class="btn primary-bgcolor">绑定</button>
                                    </div>
                                </div>

                                <div class="verify-email content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-icon pull-left"><img src="assets/common/images/social/qq-x2.png" style="width: 28px;" alt="qq"></span>
                                        <span class="pull-left not-set">未绑定</span>
                                        <!-- <span class="pull-left already-set">微博账号</span> -->
                                    </p>
                                    <div class="right-item pull-right">
                                        <!-- <button type="button" class="btn primary-bgcolor">改绑</button> -->
                                        <button type="button" class="btn primary-bgcolor">绑定</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <xiaoyuyue-change-passwd-model #changePasswdModel></xiaoyuyue-change-passwd-model>
        <xiaoyuyue-binding-phone-model #bindingPhoneModel></xiaoyuyue-binding-phone-model>
        <xiaoyuyue-unbinding-phone-model #unbindingPhoneModel></xiaoyuyue-unbinding-phone-model>
    </div>
</div>

<div *showItBootstrap="['xs','sm']">
    <div class="mobile-account-security" [@routerTransition]>
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" routerLink="/settings/security">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-user-security"></span>
                        <p class="text">账户安全</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>