<div *hideItBootstrap="['xs','sm']">
    <div class="account-security" [@routerTransition]>
        <form #accountSecurity="ngForm">
            <div class="row margin-bottom-5">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>{{ l('Menu.Account.Security') }}</span>
                            </h1>
                            <div>
                                <breadcrumb></breadcrumb>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="security-info col-lg-6">
                    <div class="card">
                        <div class="form-horizontal">
                            <div class="card-header card-header-text" data-background-color="orange">
                                <h6 class="card-title">{{ l('Security.InfoField') }}</h6>
                            </div>
                            <div class="card-content">
                                <div class="login-passwd content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">{{ l('Security.PasswordField') }}</span>
                                        <span class="pull-left already-set">{{ l('Security.Set') }}</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" (click)="showChangePasswdModel()">{{ l('Setting') }}</button>
                                    </div>
                                </div>

                                <div class="verify-phone content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">{{ l('Security.VerifyPhone') }}</span>
                                        <span class="pull-left not-set" *ngIf="!userSecurityInfo.phoneNumber">{{ l('Security.Unset') }}</span>
                                        <span class=" pull-left already-set" *ngIf="userSecurityInfo.phoneNumber">{{ l('Security.Set') }}</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" *ngIf="userSecurityInfo.phoneNumber" (click)="showChangePhoneModel()">{{ l('Revise') }}</button>
                                        <button type="button" class="btn primary-bgcolor" *ngIf="!userSecurityInfo.phoneNumber" (click)="showBindingPhoneModel()">{{ l('Setting') }}</button>
                                    </div>
                                </div>

                                <div class="verify-email content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-title pull-left">{{ l('Security.VerifyEmail') }}</span>
                                        <span class="pull-left already-set" *ngIf="userSecurityInfo.emailAddress">{{ l('Security.Set') }}</span>
                                        <span class="pull-left not-set" *ngIf="!userSecurityInfo.emailAddress">{{ l('Security.Unset') }}</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" *ngIf="!userSecurityInfo.emailAddress" (click)="showBindingEmailModel()">{{ l('Setting') }}</button>
                                        <button type="button" class="btn primary-bgcolor" *ngIf="userSecurityInfo.emailAddress" (click)="showChangeEmailModel()">{{ l('Revise') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-linked col-lg-6">
                    <div class="card">
                        <div class="form-horizontal">
                            <div class="card-header card-header-text" data-background-color="orange">
                                <h6 class="card-title">{{ l('Security.AccountAssociation') }}</h6>
                            </div>
                            <div class="card-content">
                                <div class="login-passwd content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-icon pull-left">
                                            <img src="assets/common/images/social/wechat-x2.png" style="width: 36px;" alt="wechat">
                                        </span>
                                        <span class="pull-left not-set" *ngIf="!userSecurityInfo.weChat">{{ l('Security.Unbound') }}</span>
                                        <span class="pull-left already-set" *ngIf="userSecurityInfo.weChat">{{ userSecurityInfo.weChat }}</span>
                                        <!-- <span class="pull-left already-set">微信名</span> -->
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" *ngIf="userSecurityInfo.weChat" (click)="unBindWeChat()" [buttonBusy]="unBindingWechat"
                                            [busyText]="l('Security.Unbinding')">
                                            <i></i>
                                            <span>{{ l('Security.Unbind') }}</span>
                                        </button>
                                        <button type="button" class="btn primary-bgcolor" *ngIf="!userSecurityInfo.weChat" (click)="bindWeChat()">{{ l('Security.Binding') }}</button>
                                    </div>
                                </div>
                                <div class="verify-qq content-item clearfix">
                                    <p class="left-item pull-left">
                                        <span class="tip-icon pull-left">
                                            <img src="assets/common/images/social/qq-x2.png" style="width: 28px;" alt="qq">
                                        </span>
                                        <span class="pull-left not-set" *ngIf="!userSecurityInfo.qq">{{ l('Security.Unbound') }}</span>
                                        <span class="pull-left already-set" *ngIf="userSecurityInfo.qq">{{ userSecurityInfo.qq }}</span>
                                    </p>
                                    <div class="right-item pull-right">
                                        <button type="button" class="btn primary-bgcolor" *ngIf="userSecurityInfo.qq" (click)="unBindQQ()" [buttonBusy]="unBindingQQ" [busyText]="l('Security.Unbinding')" >
                                            <i></i>
                                            <span>{{ l('Security.Unbind') }}</span>
                                        </button>
                                        <button type="button" class="btn primary-bgcolor" *ngIf="!userSecurityInfo.qq" (click)="bingQQ()">{{ l('Security.Bind') }}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <xiaoyuyue-change-passwd-model #changePasswdModel></xiaoyuyue-change-passwd-model>
        <xiaoyuyue-binding-phone-model #bindingPhoneModel></xiaoyuyue-binding-phone-model>
        <xiaoyuyue-unbinding-phone-model #unbindingPhoneModel></xiaoyuyue-unbinding-phone-model>
        <xiaoyuyue-binding-email-model #bindingEmailModel></xiaoyuyue-binding-email-model>
        <xiaoyuyue-unbinding-email-model #unbindingEmailModel></xiaoyuyue-unbinding-email-model>
        <xiaoyuyue-external-binding-model [wechatName]="userSecurityInfo.weChat" #externalBindingModel (weChatBindRsult)="bindWeChatResult($event)"></xiaoyuyue-external-binding-model>
    </div>
</div>

<div *showItBootstrap="[ 'xs', 'sm']">
    <div class="mobile-account-security" [@routerTransition]>
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" routerLink="/settings/security">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-user-security"></span>
                        <p class="text">{{ l('Menu.Account.Security') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>