<div class="base-info">
    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">{{l("General")}}</span>
            </div>
        </div>

        <div class="portlet-body">
            <!-- 项目名称 -->
            <div class="info-row row">
                <div class="project-name name col-md-3 text-right"><span>项目名称</span></div>
                <div class="col-md-9 input-box">
                    <input type="text" name="projectName" [(ngModel)]="input.name">
                </div>
            </div>
            <!--项目简介-->
            <div class="intro-row row">
                <div class="project-intro name col-md-3 text-right"><span>项目简介</span></div>
                <div class="col-md-9">
                    <textarea name="projectIntro" [(ngModel)]="input.description"></textarea>
                </div>
            </div>
            <!--选择联系人-->
            <div class="choose-contact-row row">
                <div class="choose-contact name col-md-3 text-right"><span>选择联系人</span></div>
                <div class="col-md-9 input-box">
                    <input type="text" name="projectIntro">
                </div>
            </div>
            <!--应约人所需信息选项-->
            <div class="info-checkbox-row row">
                <div class="info-checkbox name col-md-3 text-right"><span>应约人所需信息选项</span></div>
                <div class="col-md-9">
                </div>
            </div>
        </div>
    </div>
</div>