<div [@routerTransition]>
    <form #supplyRegisterForm="ngForm" method="post">
        <div class="register-wrap card">
            <div *showItBootstrap="['xs','sm']">
                <div class="logo-wrap">
                    <img class="ng-tns-c1-0" alt="logo" src="/assets/common/images/login/logo-colorized.png" style="width: 40px;">
                </div>
            </div>
            <div class="register-body form-horizontal">

                <div class="clearfix">
                    <label class="col-xs-1 col-sm-1 label-on-left">
                            <span class="icon vapps-icon-app-login-name"></span>
                        </label>
                    <div class="col-xs-11 col-sm-11">
                        <div class="form-group label-floating">
                            <label class="control-label"></label>
                            <input class="form-control" placeholder="{{l('TenantName')}}" [(ngModel)]="model.tenantName" #tenantName="ngModel" type="text" name="tenancyName" maxlength="10" required autofocus>
                            <div *ngIf="tenantName.invalid && (tenantName.dirty || tenantName.touched)" class="text-danger">
                                <div *ngIf="tenantName.errors.required">机构名称必填</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">
                    <div class="form-group">
                        <div class="checkbox col-md-12">
                            <label>
                                <input type="checkbox" name="readAndAgree" [(ngModel)]="readAndAgree" />{{l('ReadAndAgree')}}
                            </label>
                            <span><a href="javascript:;" (click)="readProtocolModal()">《小预约平台网络服务协议》</a></span>
                        </div>
                    </div>
                </div>
                <div class="register-btn-wrap">
                    <button class="btn btn-register" type="submit" [disabled]="!(supplyRegisterForm.form.valid && readAndAgree)" (click)="supplRregisterHandler()">
                            <i></i>
                            <span>补充注册</span>
                        </button>
                </div>
            </div>
            <div class="register-footer"></div>
        </div>
    </form>
    <xiaoyuyue-protocol-model #protocolModal></xiaoyuyue-protocol-model>
</div>