.booking-custom-wrap {
    .btn-white {
        color: #FF9641;
        background-color: #FFF;
    }
    .modal-dialog .modal-body {
        .serach-wrap {
            margin-top: 0px;
            .form-group {
                margin-top: 0px;
            }
        }
    }
}

.modal .modal-dialog {
    margin-top: 40px;
}

.k-grid td:first-child,
.k-grid th:first-child {
    padding-left: 24px;
}

.k-grid td:first-child,
.k-grid th:first-child {
    padding-left: 24px;
}