<div class="booking-custom-wrap">
    <div bsModal #bookingCustomModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="bookingCustomModel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="title-name">{{ bookingItem.name }}</div>
                    <div class="command-wrap">
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row serach-wrap">
                            <div class="col-md-11">
                                <div class="col-md-3">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control common-max-width" [(ngModel)]="customerName" type="text" name="customerName" placeholder="{{l('BookingOrder.Name')}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control common-max-width" [(ngModel)]="phoneNumber" type="text" name="phoneNumber" placeholder="{{l('BookingOrder.PhoneNumber')}}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <kendo-dropdownlist [data]="checkInSelectListData" [(ngModel)]="checkIn" name="checkIn" [textField]="'displayText'" [valueField]="'value'"
                                            [valuePrimitive]="true" [defaultItem]="selectCheckInDefaultItem"></kendo-dropdownlist>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating is-empty">
                                        <div class="flatpickr-wrap">
                                            <label class="control-label"></label>
                                            <input class="form-control common-max-width booking-custom-creation-time" [(ngModel)]="creationStartDate" type="text" placeholder="{{l('BookingOrder.CreationTime')}}"
                                                name="creationStartDate" data-input>
                                            <a class="input-button flatpickr-toggle" title="{{l('Switch')}}" data-toggle>
                                                <i class="vapps-icon-dc-calendar"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <kendo-dropdownlist [data]="orderStatusSelectList" [(ngModel)]="status" name="status" [textField]="'displayText'" [valueField]="'value'"
                                            [valuePrimitive]="true" [defaultItem]="selectDefaultItem"></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <span class="btn" (click)="loadData()" [buttonBusy]="searching">
                                    <i class="vapps-icon-app-search"></i>
                                    <span class="show-text"></span>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="grid-wrap">
                        <kendo-grid [data]="bookingCustomListData | async" [pageSize]="gridParam.MaxResultCount" [skip]="gridParam.SkipCount" [sort]="gridParam.Sorting"
                            [pageable]=" { buttonCount: gridParam.ButtonCount, info: gridParam.Info, type: gridParam.Type, pageSizes: gridParam.PageSizes, previousNext: gridParam.PreviousNext }"
                            [sortable]="gridParam.Sortable" (dataStateChange)="dataStateChange($event)" [scrollable]="gridParam.Scrollable">
                            <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}"
                                pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}"
                                pagerFirstPage="{{l('FirstPage')}}" pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>

                            <!-- 订单状态  -->
                            <kendo-grid-column title="{{l('BookingOrder.Status')}}">
                                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                    <span class="order-status" [ngClass]="setOrderTipsClass(dataItem.status)">{{ displayStatus[dataItem.status-1] }}</span>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- 应约人 -->
                            <kendo-grid-column title="{{l('BookingOrder.Name')}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <img class="avatar" [src]="dataItem.profilePictureUrl" alt="avatar">
                                    <span>{{ dataItem.customerName }}</span>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- 预约时间 -->
                            <kendo-grid-column title="{{l('BookingOrder.Datetime')}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span>{{ t(dataItem.bookingDate,'YYYY-MM-DD') }} {{ dataItem.hourOfDay }}</span>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- 预约人数 -->
                            <kendo-grid-column title="{{l('BookingOrder.Num')}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span>{{ dataItem.subscriberNum }}</span>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- 联系电话 -->
                            <kendo-grid-column title="{{l('BookingOrder.PhoneNumber')}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span>{{ dataItem.phoneNum }}</span>
                                </ng-template>
                            </kendo-grid-column>

                            <!-- 预约时间 -->
                            <kendo-grid-column title="{{l('BookingOrder.CreationTime')}}">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <span>{{ t(dataItem.creationTime) }}</span>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>