<div class="header clearfix">
    <span class="title pull-left">预约饱和度</span>
    <span class="dropdown-list pull-right">
        <kendo-dropdownlist [data]="outletSelectListData"  (valueChange)="outletSelectListDataChangeHandler($event)" textField="text" valueField="value" [valuePrimitive]="true" [value]="outletDefaultListItem"></kendo-dropdownlist> 
    </span>
</div>

<div class="content" *ngIf="bookingStatisticsData">
    <div class="top-view clearfix">
        <div class="item left-item">
            <span class="text-data">
                <p class="text">可预约总人数</p>
                <span class="total">{{ bookingStatisticsData.subMaxBookingNum }}</span>
            </span>
            <span class="icon"></span>
        </div>
        <div class="item right-item">
            <span class="text-data">
                <p class="text">新参与人数</p>
                <span class="total">{{ bookingStatisticsData.subBookingNum }}</span>
            </span>
            <span class="icon"></span>
        </div>
    </div>

    <div class="table-list">
        <div class="table-head">
            <span class="head-item">项目名</span>
            <span class="head-item">预约进度</span>
            <span class="head-item">饱和度</span>
            <span class="head-item">排队人数</span>
        </div>
        <div class="table-content" *ngFor="let item of bookingStatisticsData.bookings">
            <span class="content-item">{{ item.name }}</span>
            <span class="content-item">{{ item.subBookedNum}} / {{ item.subBookingNum }}</span>
            <span class="content-item">{{ getSaturationValue(item.subBookedNum, item.subBookingNum) }}</span>
            <span class="content-item">{{ item.subQueueNum }}</span>
        </div>
    </div>
</div>