<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("Settings")}}</span> <small>{{l("SettingsHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue" (click)="_hostSettingService.saveAll()"><i class="fa fa-floppy-o"></i> {{l("SaveAll")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <tabset class="tab-container tabbable-line" *ngIf="_hostSettingService.hostSettings">
                <tab heading="{{l('General')}}" *ngIf="showTimezoneSelection">
                    <general-info [hostSettings]="_hostSettingService.hostSettings"></general-info>
                </tab>

                <tab heading="{{l('TenantManagement')}}" *ngIf="_hostSettingService.hostSettings.tenantManagement">
                    <tenant-management [hostSettings]="_hostSettingService.hostSettings"></tenant-management>
                </tab>

                <tab heading="{{l('UserManagement')}}" *ngIf="_hostSettingService.hostSettings.userManagement">
                    <user-management [hostSettings]="_hostSettingService.hostSettings"></user-management>
                </tab>

                <tab heading="{{l('Security')}}" *ngIf="_hostSettingService.hostSettings.security">
                    <security-component [hostSettings]="_hostSettingService.hostSettings"></security-component>
                </tab>

                <tab heading="{{l('EmailSmtp')}}" *ngIf="_hostSettingService.hostSettings.email">
                    <email-smtp [hostSettings]="_hostSettingService.hostSettings"></email-smtp>
                </tab>

                <tab heading="{{l('HostExternalLogin')}}" *ngIf="_hostSettingService.hostSettings.externalAuthentication">
                    <login-setting></login-setting>
                </tab>

                <tab heading="{{l('HostSmsSetting')}}">
                    <sms-setting></sms-setting>
                </tab>
            </tabset>
        </div>
    </div>
</div>