.upload-picture {
    .modal-dialog {
        .modal-content {
            .modal-header {
                .modal-title {
                    .title-item {
                        text-align: center;
                    }
                    .picture-gallery,
                    .local-upload {
                        font-size: 18px;
                        color: #868686;
                        cursor: pointer;
                    }
                    .picture-gallery:hover,
                    .local-upload:hover,
                    .active {
                        color: #FF9641;
                    }
                }
            }
            .modal-body {
                .content-item {
                    .upload-area-wrap {
                        width: 200px;
                        height: 200px;
                        position: relative;
                        margin: 0 auto;
                        border: 1px dashed #CCC;
                        .upload-area {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            cursor: pointer;
                            i {
                                font-size: 30px;
                            }
                        }
                        .img-area {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .upload-tips {
                        .tips-item {
                            display: flex;
                            margin-top: 20px;
                            .char {
                                width: 30px;
                                flex: 0 0 30px;
                            }
                            .content {
                                flex: 1;
                            }
                        }
                    }
                }
            }
            .modal-footer {}
        }
    }
}