<!-- 验证旧手机  -->
<div class="current-phone-wrap">
    <div [@routerTransition] *ngIf="!phoneNum ? false :  !isVerified">
        <form #currentPhoneFrom="ngForm">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-login-phone"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.OldTelephone')}}</label>
                            <span class="form-control" appStringEncrypt>{{ phoneNum }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('VerifyCode')}}</label>
                            <input type="text" class="form-control" name="validateCode" [(ngModel)]="code" required>
                            <xiaoyuyue-send-code [codeType]="unbindingCodeType" [phoneNumber]="phoneNum"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" (click)="verificationPhoneNum()" [disabled]="!currentPhoneFrom.form.valid">{{l('NextStep')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 验证旧手机后，绑定新手机 -->
    <div class="new-phone-wrap" *ngIf="!phoneNum ? false :  isVerified">
        <form #newPhoneFrom="ngForm">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-login-phone"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.NewTelephone')}}</label>
                            <input type="text" class="form-control" name="beforePhone" [(ngModel)]="changeBindingPhoneNumInput.newTelephone" (ngModelChange)="getPhoneNum($event)"
                                required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('VerifyCode')}}</label>
                            <input type="text" class="form-control" name="validateCode" [(ngModel)]="changeBindingPhoneNumInput.bundlingCode" required>
                            <xiaoyuyue-send-code [codeType]="bindingCodeType" [phoneNumber]="changeBindingPhoneNumInput.newTelephone"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" (click)="changeBindPhone()" [disabled]="!newPhoneFrom.form.valid">{{l('Confirm')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 没有绑定过手机，绑定手机 -->
    <div class="new-phone-wrap" *ngIf="!phoneNum">
        <form #newPhoneFrom="ngForm">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-login-phone"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.NewTelephone')}}</label>
                            <input type="text" class="form-control" name="beforePhone" [(ngModel)]="bindingPhoneNumInput.phoneNum" (ngModelChange)="getPhoneNum($event)"
                                required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('VerifyCode')}}</label>
                            <input type="text" class="form-control" name="validateCode" [(ngModel)]="bindingPhoneNumInput.code" required>
                            <xiaoyuyue-send-code [codeType]="bindingCodeType" [phoneNumber]="bindingPhoneNumInput.phoneNum"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" (click)="bindPhone()" [disabled]="!newPhoneFrom.form.valid">{{l('Binding')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>