<div *ngIf="hostSettings">
    <div class="md-checkbox-list">
        <div class="md-checkbox">
            <input id="Settings_IsEmailConfirmationRequiredForLogin" class="md-check" type="checkbox" name="IsEmailConfirmationRequiredForLogin" [(ngModel)]="hostSettings.userManagement.isEmailConfirmationRequiredForLogin">
            <label for="Settings_IsEmailConfirmationRequiredForLogin">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {{l("EmailConfirmationRequiredForLogin")}}
            </label>
        </div>
    </div>
</div>