.header {
    .card-header {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-list {
        width: 112px;
    }
}

.dashboard-chart {
    width: 100%;
    height: calc(100% - 60px);
}