<div class="card">
    <div class="clearfix">
        <div class="card-header card-header-text pull-left" data-background-color="orange">
            <h6 class="card-title">图片管理</h6>
        </div>
        <button class="btn btn-border-radius upload-btn pull-right light-bgcolor" (click)="uploadPicModel()"><span class="vapps-icon vapps-icon-app-upload"></span>本地上传</button>
    </div>
 
    <div class="card-content">
        <div class="row">
            <div class="gallery-wrap col-md-12">
                <div class="img-wrap">
                    <img alt="outletPicUrl" *ngIf="uploadPicInfo.pictureUrl" [src]="uploadPicInfo.pictureUrl" height="100%">
                </div>
            </div>
<!-- <div class="gallery-action col-md-12">
                <div class="upload-wrap">
                    <button class="upload btn btn-border-radius light-bgcolor" (click)="uploadPicModel()"><span class="vapps-icon vapps-icon-app-upload"></span>本地上传</button>
                </div>
            </div> -->
        </div>
    </div>
</div>
<xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel (picUploadInfoHandler)="getPicUploadInfoHandler($event)" [uploadUid]="uploadUid"></xiaoyuyue-upload-picture-none-gallery>