<div class="card-content" (click)="uploadPicModel()">
    <div class="row">
        <div class="gallery-wrap col-md-12">
            <div class="img-wrap">
                <span class="add-img-icon vapps-icon-cb-add-img" *ngIf="!uploadPicInfo.pictureUrl"></span>
                <img alt="outletPicUrl" *ngIf="uploadPicInfo.pictureUrl" [src]="uploadPicInfo.pictureUrl" height="100%">
            </div>
        </div>
    </div>
</div>
<xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel (picUploadInfoHandler)="getPicUploadInfoHandler($event)" [uploadUid]="uploadUid"></xiaoyuyue-upload-picture-none-gallery>