<div class="create-outlet" [@routerTransition]>
    <form #createBookingForm="ngForm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>新增门店</span>
                            <!--<span>编辑预约</span>-->
                            <small routerLink="/app/admin/org"><span class="fa fa-arrow-circle-left"></span><a >返回</a></small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" (click)="save()" class="btn btn-submit" [buttonBusy]="saving" [busyText]="'保存中...'"><i class="vapps-icon vapps-icon-app-submit"></i><span>{{l("Save")}}</span></button>
                <button type="botton" class="btn btn-submit">{{l("BusinessCenter.SavingAndEditing")}}</button>
                <!--<button class="btn btn-view"><span class="vapps-icon vapps-icon-app-preview"></span>{{l("View")}}</button>-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <!-- 门店信息 -->
                <div class="outlet-info">
                    <div class="portlet light portlet-fit">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject">{{l("General")}}</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!-- 门店名称 -->
                            <div class="info-row row">
                                <div class="outlet-name name col-md-3 text-right"><span>门店名称</span></div>
                                <div class="col-md-9 input-box row">
                                    <div class="col-md-12 input-form">
                                        <input class="form-control common-max-width" type="text" [(ngModel)]="outetInfo.name" name="outletName" placeholder="门店名称" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <!-- 营业时间 -->
                            <div class="shop-hours-row row">
                                <div class="project-intro name col-md-3 text-right"><span>营业时间</span></div>
                                <div class="col-md-9 input-box row">
                                    <div class="col-md-12 input-form">
                                        <div class="common-max-width">
                                            <span class="col-md-6 shop-hours-start">
                                                <input class="form-control" type="time" [(ngModel)]="startShopHours" name="startShopHours" placeholder="起始时间" required>
                                            </span>
                                            <span class="col-md-6 shop-hours-end">
                                                <input class="form-control col-md-6" type="time" [(ngModel)]="endShopHours" name="endShopHours" placeholder="结束时间" required>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 门店地址 -->
                            <div class="outlet-address-row row">
                                <div class="outlet-address name col-md-3 text-right"><span>门店地址</span></div>
                                <div class="col-md-9 row input-box">
                                    <div class="common-max-width select-address-wrap">
                                        <div class="col-md-4 item">
                                            <kendo-dropdownlist [data]="provinceSelectListData" (open)="openProvinceSledct()" (valueChange)="provinceSelectHandler($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="provinceSelectDefaultItem"></kendo-dropdownlist>
                                        </div>
                                        <div class="col-md-4 item">
                                            <kendo-dropdownlist [data]="citysSelectListData" [textField]="'text'" (valueChange)="citySelectHandler($event)" [valueField]="'value'" [valuePrimitive]="true" [value]="citySelectDefaultItem" [disabled]="!isCitySelect"> </kendo-dropdownlist>
                                        </div>
                                        <div class="col-md-4 item">
                                            <kendo-dropdownlist [data]="districtSelectListData" [textField]="'text'" (valueChange)="districtSelectHandler($event)" [valueField]="'value'" [valuePrimitive]="true" [value]="districtSelectDefaultItem" [disabled]="!isDistrictSelect"> </kendo-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-md-12 detailed-address-wrap">
                                        <textarea class="form-control common-max-width" [(ngModel)]="outetInfo.detailAddress" name="detailAddress"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- 固定电话 -->
                            <div class="landline-phone-row row">
                                <div class="info-checkbox name col-md-3 text-right"><span>固定电话</span></div>
                                <div class="col-md-9 input-box row">
                                    <div class="col-md-12 input-form">
                                        <input class="form-control common-max-width" type="text" [(ngModel)]="outetInfo.phoneNum" name="landlinePhone" placeholder="固定电话" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <xiaoyuyue-outlet-image [pictureInfo]="pictureInfo" (pictureInfoHandler)="getPictureInfo($event)"></xiaoyuyue-outlet-image>
            </div>
            <div class="col-lg-12">
                <xiaoyuyue-contact-info [onlineAllContactors]="onlineAllContactors" (contactorEditHandler)="getContactorEdit($event)"></xiaoyuyue-contact-info>
            </div>
        </div>
    </form>
    <!--<xiaoyuyue-share-booking-model #shareBookingModel></xiaoyuyue-share-booking-model>-->
</div>