<div class="share-booking">
    <div bsModal #shareBookingModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shareBookingModel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="xiaoyuyue-title-box">{{slogen}}</div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="share-source-wrap">
                        <p class="share-title">{{l('Booking.ShareTitle')}}</p>
                        <div class="share-btn-wrap">
                            <a class="btn-item">
                                <span>
                                    <img src="/assets/common/images/admin/wechat-x2.png" alt="wechat" width="100%">
                                </span>
                            </a>
                            <a (click)="getQQShareUrl()" class="btn-item">
                                <span>
                                    <img src="/assets/common/images/admin/qq-x2.png" alt="qq" width="100%">
                                </span>
                            </a>
                            <a (click)="getQzoneShareUrl()" class="btn-item">
                                <span>
                                    <img src="/assets/common/images/admin/qzone-x2.png" alt="qzone" width="100%">
                                </span>
                            </a>
                            <a (click)="getWeiboShareUrl()" class="btn-item">
                                <span>
                                    <img src="/assets/common/images/admin/weibo-x2.png" alt="weibo" width="100%">
                                </span>
                            </a>
                        </div>
                        <p class="share-url-text" title="{{l('Booking.Share.Copy')}}"> {{ shareUrl }}</p>
                        <div class="qr-code-wrap">
                            <qr-code [value]="shareUrl" [size]="200"></qr-code>
                            <p>{{l('Booking.CreateSuccess.Tip3')}}</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn primary-bgcolor" (click)="close()">
                        <span class="vapps-icon vapps-icon-app-confirm"></span>{{l('Close')}}</button>
                </div>
            </div>
        </div>
    </div>
</div>