.share-booking {
    position: relative;
    p {
        margin: 20px 0;
    }
    .xiaoyuyue-title-box {
        width: calc(100% - 40px);
        height: 64px;
        line-height: 64px;
        text-align: center;
        z-index: 12000;
    }
    .share-source-wrap {
        .share-btn-wrap {
            height: 50px;
            display: flex;
            margin-bottom: 16px;
            .btn-item {
                cursor: pointer;
                flex: 1;
                text-align: center;
                span {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    display: inline-block;
                    margin: 0 auto;
                    border-radius: 50%;
                    background-color: #E5E5E5;
                    img {
                        width: 25px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        .share-url-text {
            font-size: 18px;
            text-align: center;
            color: #FF9641;
        }
        .qr-code-wrap {
            text-align: center;
        }
    }
    .modal-dialog {
        width: 420px;
        border-radius: 2px;
        .modal-content {
            overflow: hidden;
            .modal-body {
                margin: 50px 20px 0px 20px;
                padding: 0;
            }
            .modal-footer {
                text-align: center;
            }
        }
    }
}