<div class="picture-manage">
    <div class="portlet light portlet-fit">
        <div class="portlet-title clearfix">
            <div class="caption pull-left">
                <span class="caption-subject">{{l("BusinessCenter.Booking.PictureManage")}}</span>
            </div>
            <button class="btn btn-border-radius upload-btn pull-right" (click)="show() "><span class="vapps-icon vapps-icon-app-upload"></span>本地上传</button>
        </div>

        <div class="portlet-body">
            <div class="row">
                <div class="gallery-wrap">
                    <div class="picture-item" *ngFor="let item of allPictureEdit">
                        <div class="content">
                            <!--<div class="area-wrap"></div>-->
                            <div class="img-wrap">
                                <img width=100% [src]="item.pictureUrl">
                            </div>
                        </div>
                    </div>

                    <!--<div class="picture-item">
                        <div class="content">
                            <div class="area-wrap"></div>
                            <div class="img-wrap">
                                <img width=100%>
                            </div>
                        </div>
                    </div>

                    <div class="picture-item">
                        <div class="content">
                            <div class="area-wrap"></div>
                            <div class="img-wrap">
                                <img width=100%>
                            </div>
                        </div>
                    </div>

                    <div class="picture-item">
                        <div class="content">
                            <div class="area-wrap"></div>
                            <div class="img-wrap">
                                <img width=100%>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>

        <uploadPictureModel #uploadPictureModel (sendPictureForEdit)="getPictureForEdit($event) "></uploadPictureModel>

    </div>