<div class="upload-picture">
    <div bsModal #uploadPictureModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModel"
        aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h4 class="modal-title row">
                        <span class="col-md-6 title-item picture-gallery" [ngClass]="{'active': tabToggle}" (click)="isShowPictureGallery()">{{l("PictureGallery")}}</span>
                        <span class="col-md-6 title-item local-upload" [ngClass]="{'active': !tabToggle}" (click)="isShowLocalUpload()">{{l("LocalUpload")}}</span>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="content-item" *ngIf="tabToggle">
                        <div class="pic-gallery-wrap">
                            <div class="flex-left" *ngIf="picGroupItemData">
                                <div [@routerTransition] class="col-lg-3" *ngFor="let item of picGroupItemData | paginate: { itemsPerPage: maxResultCount, currentPage: currentPage,totalItems: totalItems }; let index = index;">
                                    <div class="pic-item" [ngClass]="{'active': item.selected == true }" (click)="selectPicHandler(item, index)">
                                        <!-- <div class="img-wrap"></div> -->
                                        <div class="img-wrap" [ngStyle]="{'background-image': 'url(' + item.picUrl + ')'}"></div>
                                        <p class="img-name text-overflow" [title]="item.name">{{ item.picId }}</p>
                                    </div>
                                </div>
                            </div>
                            <div [@routerTransition] class="flex-right">
                                <div class="side-bar">
                                    <p class="sub-item text-overflow" *ngFor="let groupItem of picGalleryGroupData; let index = index" (click)="groupItemActive(groupItem,index)"
                                        [ngClass]="{'active': groupActiveIndex == index }" title="{{ groupItem.name }}({{ groupItem.pictureNum }})">{{ groupItem.name }}({{ groupItem.pictureNum }})</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [@routerTransition] class="content-item row" *ngIf="!tabToggle">
                        <div class="col-lg-6 col-md-6" id="dropArea">
                            <div class="upload-area-wrap" id="uploadAreaWrap">
                                <div class="upload-area" id="uploadArea"></div>
                                <div class="img-area"><img width="100%" id="profilePicture"></div>
                            </div>
                        </div>
                        <div class="upload-tips col-lg-6 col-md-6">
                            <div class="tips-item">
                                <span class="char"></span>
                                <span class="content">提个醒</span>
                            </div>
                            <div class="tips-item">
                                <span class="char">1、</span>
                                <span class="content">支持jpg/gif/png格式，单张图片大小不超过2M， 最多上传4张图片；</span>
                            </div>
                            <div class="tips-item clearfix">
                                <span class="char">2、</span>
                                <span class="content">所有图片皆有自动添加水印；</span>
                            </div>
                            <div class="tips-item clearfix">
                                <span class="char">3、</span>
                                <span class="content">上传图片不得违反国家相关法律法规，本站有权对争议图片进行删改。</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="tabToggle" class="clearfix">
                        <div class="pull-left">
                            已选{{ setPicSelectNum() }}个，可选{{ setPicElectiveNum() }}个
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn primary-bgcolor" [buttonBusy]="loading" [busyText]="'确认中...'" (click)="confirmGallerySelect()"><i class="vapps-icon vapps-icon-app-confirm"></i><span>确认</span></button>
                            <button type="button" class="btn btn-cancel" (click)="close()"><span class="vapps-icon vapps-icon-app-cancel"></span>{{l("Cancel")}}</button>
                        </div>
                        <div class="pull-right gallery-pagination">
                            <div class="has-text-centered">
                                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!tabToggle">
                        <button type="submit" class="btn primary-bgcolor" id="confirmUpload" [buttonBusy]="loading" [busyText]="'上传中...'"><i class="vapps-icon vapps-icon-app-confirm"></i><span>上传</span></button>
                        <button type="button" class="btn btn-cancel" id="cancelUpload" (click)="close()"><span class="vapps-icon vapps-icon-app-cancel"></span>{{l("Cancel")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>