<div class="upload-picture">
    <div bsModal #uploadPictureModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModel"
        aria-hidden="true" (onHidden)="onBSHide()" (onShown)="onBSShown()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header flex-item">
                    <h4 class="modal-title left-item row">
                        <span class="col-md-6 title-item picture-gallery" [ngClass]="{'active': tabToggle}" (click)="isShowPictureGallery()">{{l("PictureGallery")}}</span>
                        <span class="col-md-6 title-item local-upload" [ngClass]="{'active': !tabToggle}" (click)="isShowLocalUpload()">{{l("PictureGallery.LocalUpload")}}</span>
                    </h4>
                    <div class="close-wrap right-item">
                        <span title="关闭" class="vapps-icon-app-close" (click)="close()"></span>
                    </div>
                </div>

                <div [hidden]="!tabToggle">
                    <div class="modal-body">
                        <div class="content-item">
                            <div class="pic-gallery-wrap">
                                <div class="flex-left">
                                    <ng-container *ngIf="picGroupItemData.length > 0; else elseTemplate">
                                        <div [@routerTransition] class="col-lg-3" *ngFor="let item of picGroupItemData | paginate: { itemsPerPage: gridParam.MaxResultCount, currentPage: gridParam.CurrentPage,totalItems: totalItems }; let index = index;">
                                            <div class="pic-item" [ngClass]="{'active': item.selected == true }" (click)="selectPicHandler(item, index)">
                                                <!-- <div class="img-wrap"></div> -->
                                                <div class="img-wrap" [ngStyle]="{'background-image': 'url(' + item.picUrl + ')'}"></div>
                                                <p class="img-name text-overflow" [title]="item.name">{{ item.picId }}</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <xiaoyuyue-empty-page [text]="l('PictureGallery.NotPictures')" [height]="'470px'"></xiaoyuyue-empty-page>
                                    </ng-template>
                                </div>
                                <div [@routerTransition] class="flex-right">
                                    <div class="side-bar">
                                        <p class="sub-item text-overflow" *ngFor="let groupItem of picGalleryGroupData; let index = index" (click)="groupItemActive(groupItem,index)"
                                            [ngClass]="{'active': groupActiveIndex == index }" title="{{ groupItem.name }}({{ groupItem.pictureNum }})">{{ groupItem.name }}({{ groupItem.pictureNum }})</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="clearfix">
                            <div class="pull-left">
                                已选{{ setPicSelectNum() }}个，可选{{ setPicElectiveNum() }}个
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn primary-bgcolor" [buttonBusy]="loading" [busyText]="'确认中...'" (click)="confirmGallerySelect()">
                                    <i class="vapps-icon vapps-icon-app-confirm"></i>
                                    <span>确认</span>
                                </button>
                                <button type="button" class="btn btn-cancel" (click)="close()">
                                    <span class="vapps-icon vapps-icon-app-cancel"></span>{{l("Cancel")}}</button>
                            </div>
                            <div class="pull-right gallery-pagination">
                                <div class="has-text-centered">
                                    <pagination-controls *ngIf="totalItems > 0" (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [@routerTransition] [hidden]="tabToggle">
                    <div class="modal-body">
                        <div class="content-item row">
                            <div class="col-lg-8 col-md-8">
                                <div class="upload-area-wrap">
                                    <div class="img-area">
                                        <img id="profilePicture">
                                    </div>
                                </div>
                            </div>
                            <div class="upload-tips col-lg-4 col-md-4">
                                <div class="tips-item">
                                    <span class="char">
                                        <span class="vapps-icon-app-tip tip-icon"></span>
                                    </span>
                                    <span class="content">提个醒</span>
                                </div>
                                <div class="tips-item">
                                    <span class="char">1、</span>
                                    <span class="content">支持jpg/gif/png格式，单张图片大小不超过2M， 最多上传4张图片；</span>
                                </div>
                                <div class="tips-item clearfix">
                                    <span class="char">2、</span>
                                    <span class="content">所有图片皆有自动添加水印；</span>
                                </div>
                                <div class="tips-item clearfix">
                                    <span class="char">3、</span>
                                    <span class="content">上传图片不得违反国家相关法律法规，本站有权对争议图片进行删改。</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div id="uploadAreaWrap">
                            <button type="button" class="btn primary-bgcolor" id="uploadArea">
                                <span class="vapps-icon vapps-icon-app-add-time-field"></span>选择文件</button>
                            <button type="submit" class="btn primary-bgcolor" [disabled]="!addedFile" id="confirmUpload" [buttonBusy]="loading" [busyText]="'上传中...'">
                                <i class="vapps-icon vapps-icon-app-confirm"></i>
                                <span>确认上传</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>