<div class="modal fade" bsModal #changePasswdModel="bs-modal" tabindex="-1" role="dialog" aria-labelledby="changePasswdModel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="xiaoyuyue-title-box">修改密码</div>
            </div>
            <div class="modal-body">
                <form class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <input class="form-control edited" type="password" name="currentPassword" [(ngModel)]="input.currentPassword">
                                <label class="control-label">原密码</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <input class="form-control edited" type="password" name="newPassword" [(ngModel)]="input.newPassword">
                                <label class="control-label">新密码</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <input class="form-control edited" type="password" [(ngModel)]="input.repeatPasswd">
                                <label class="control-label">确认密码</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn primary-bgcolor" (click)="changePasswd()">确认</button>
            </div>
        </div>
    </div>
</div>