<div class="bscroll" #bscrollEl [ngStyle]="{'height': height}">
    <div class="bscroll-content" #bscrollContentEl>
        <!-- 顶部提示信息 -->
        <div class="top-tip" *ngIf="isNeedPullDownRefresh">
            <span class="refresh-hook" *ngIf="!scrollStatusOutput.pulledDownActive">{{ l('PullDownRefresh') }}</span>
            <span class="refresh-hook" *ngIf="scrollStatusOutput.pulledDownActive">
                <span class="swal-loading-spinner">
                    <i></i>
                </span> {{ l('PullDownRefreshing') }}
            </span>
        </div>
        <ng-content></ng-content>
        <!-- 
            1、底部提示信息 
            2、这里有一种情况,就是没有更多数据时,这里的文本应该显示"暂无更多数据"
          -->
        <div class="bottom-tip" *ngIf="isNeedPullUpLoad">
            <span class="loading-hook" *ngIf="scrollStatusOutput.noMore">{{ l('PullUpLoad.End') }}</span>
            <span class="loading-hook" *ngIf="scrollStatusOutput.noMore ? false : !scrollStatusOutput.pulledUpActive">{{ l('PullUpLoad') }}</span>
            <span class="loading-hook" *ngIf="scrollStatusOutput.noMore ? false : scrollStatusOutput.pulledUpActive">
                <span class="swal-loading-spinner">
                    <i></i>
                </span> {{ l('PullUpLoading') }}
            </span>
        </div>
    </div>
</div>