<div class="modal fade" bsModal #toPayModel="bs-modal" (onHidden)="onHidden()" tabindex="-1" role="dialog" aria-labelledby="toPayModel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="xiaoyuyue-title-box">{{ editionOutput.editionPaymentDisplayName }}</div>
            </div>
            <div class="modal-body">
                <!-- 版本类型 -->
                <div class="edition-choose content-item row">
                    <p class="col-lg-12">选择类型</p>
                    <div class="col-lg-3" *ngFor="let edition of editionsInfo; let index = index;">
                        <div class="choose-item edition-item" [ngClass]="{'active': edition.edition.id === editionId}" (click)="selectTypeHandle(index, edition)">{{ edition.edition.displayName }}</div>
                    </div>
                </div>

                <!-- 开通时长 -->
                <div class="time-limit-choose content-item row" *ngIf="editionOutput.editionPaymentType !== 2">
                    <p class="col-lg-12">开通时长</p>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 1}" (click)="selectTimeHandle(1)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">1年</p>
                            <span class="price">￥{{edition.annualPrice}}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 2}" (click)="selectTimeHandle(2)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">3个月</p>
                            <span class="price">￥{{edition.seasonPrice}}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 3}" (click)="selectTimeHandle(3)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">1个月</p>
                            <span class="price">￥{{edition.monthlyPrice}}</span>
                        </div>
                    </div>
                </div>

                <!-- 升级提示 -->
                <div class="upgrade-content content-item row" *ngIf="editionOutput.editionPaymentType === 2">
                    <p class="col-lg-12"><span>版本信息:  </span><span>{{ appSession.tenant.edition.displayName }}</span> 升级为 <span>{{ edition.displayName }}</span></p>
                    <p class="col-lg-12"><span>有效期至:  </span><span>{{ d(appSession.tenant.subscriptionEndDateUtc) }}</span></p>
                    <p class="col-lg-12"><span>需补差价:  </span><span>{{ finalPrice }}元</span></p>
                </div>

                <!-- 支付方式 -->
                <div class="pay-ways content-item row" *ngIf="edition.additionalData">
                        <p class="col-lg-12">支付方式</p>
                        <div class="col-lg-4" *ngIf="edition.additionalData.weChat">
                            <div class="qr-code-wrap" *ngIf="wechatQrcodeContent">
                                <qr-code [value]="wechatQrcodeContent" [iconUrl]="'false'" [size]="130"></qr-code>
                            </div>
                            <p>
                                <span class="vapps-icon-app-wechat-pay"></span> 微信支付</p>
                        </div>
                        <div class="col-lg-4" *ngIf="edition.additionalData.alipay">
                            <div class="qr-code-wrap" *ngIf="wechatQrcodeContent">
                                <qr-code [value]="alipayQrcodeContent" [iconUrl]="'false'" [size]="130"></qr-code>
                            </div>
                            <p>
                                <span class="vapps-icon-app-alipay"></span> 支付宝支付</p>
                        </div>
                    <div class="col-lg-4">
                        <p>支付金额：
                            <span>{{ finalPrice }}元</span>
                        </p>
                        <p>扫码支付，轻松快捷</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>