<div class="modal fade" bsModal #toPayModel="bs-modal" (onHidden)="onHidden()" tabindex="-1" role="dialog" aria-labelledby="toPayModel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="xiaoyuyue-title-box">开通会员</div>
            </div>
            <div class="modal-body">
                <!-- 版本类型 -->
                <div class="edition-choose content-item row">
                    <p class="col-lg-12">选择类型</p>
                    <div class="col-lg-3">
                        <div class="choose-item edition-item active">{{ edition.displayName }}</div>
                    </div>
                </div>

                <!-- 开通时长 -->
                <div class="time-limit-choose content-item row">
                    <p class="col-lg-12">开通时长</p>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 1}" (click)="selectTimeHandle(1, edition.annualPrice)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">1年</p>
                            <span class="price">￥{{edition.annualPrice}}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 2}" (click)="selectTimeHandle(2, edition.seasonPrice)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">3个月</p>
                            <span class="price">￥{{edition.seasonPrice}}</span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="choose-item time-limit-item" [ngClass]="{'active': selectTimeIndex === 3}" (click)="selectTimeHandle(3, edition.monthlyPrice)">
                            <img src="/assets/common/images/choose.png" width="60px" alt="choose" class="choose-img">
                            <p class="time">1个月</p>
                            <span class="price">￥{{edition.monthlyPrice}}</span>
                        </div>
                    </div>
                </div>

                <!-- 支付方式 -->
                <div class="pay-ways content-item row">
                    <p class="col-lg-12">支付方式</p>
                    <div class="col-lg-4">
                        <div class="qr-code-wrap" *ngIf="wechatQrcodeContent">
                            <qr-code [value]="wechatQrcodeContent" [size]="130"></qr-code>
                        </div>
                        <p>微信支付</p>
                    </div>
                    <!-- <div class="col-lg-4">
                        <p>
                            <img src="/assets/common/images/qr-code.png" width="130px" alt="">
                        </p>
                        <p>支付宝支付</p>
                    </div> -->
                    <div class="col-lg-4">
                        <p>支付金额：
                            <span>{{ finalPrice }}元</span>
                        </p>
                        <p>扫码支付，轻松快捷</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>