@import "variables";

@font-face {
  font-family: 'xiaoyuyue';
  src:  url('#{$icomoon-font-path}/xiaoyuyue.eot?bm8ijp');
  src:  url('#{$icomoon-font-path}/xiaoyuyue.eot?bm8ijp#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/xiaoyuyue.ttf?bm8ijp') format('truetype'),
    url('#{$icomoon-font-path}/xiaoyuyue.woff?bm8ijp') format('woff'),
    url('#{$icomoon-font-path}/xiaoyuyue.svg?bm8ijp#xiaoyuyue') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xiaoyuyue-icon-"], [class*=" xiaoyuyue-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xiaoyuyue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xiaoyuyue-icon-app-email {
  &:before {
    content: $xiaoyuyue-icon-app-email;
  }
}
.xiaoyuyue-icon-app-move {
  &:before {
    content: $xiaoyuyue-icon-app-move;
  }
}
.xiaoyuyue-icon-gm-menu {
  &:before {
    content: $xiaoyuyue-icon-gm-menu;
  }
}
.xiaoyuyue-icon-app-edit-group {
  &:before {
    content: $xiaoyuyue-icon-app-edit-group;
  }
}
.xiaoyuyue-icon-app-remove-group {
  &:before {
    content: $xiaoyuyue-icon-app-remove-group;
  }
}
.xiaoyuyue-icon-app-tip {
  &:before {
    content: $xiaoyuyue-icon-app-tip;
  }
}
.xiaoyuyue-icon-app-active {
  &:before {
    content: $xiaoyuyue-icon-app-active;
  }
}
.xiaoyuyue-icon-app-add-booking-item {
  &:before {
    content: $xiaoyuyue-icon-app-add-booking-item;
  }
}
.xiaoyuyue-icon-app-add-outlet {
  &:before {
    content: $xiaoyuyue-icon-app-add-outlet;
  }
}
.xiaoyuyue-icon-app-address {
  &:before {
    content: $xiaoyuyue-icon-app-address;
  }
}
.xiaoyuyue-icon-app-add-time-field {
  &:before {
    content: $xiaoyuyue-icon-app-add-time-field;
  }
}
.xiaoyuyue-icon-app-back {
  &:before {
    content: $xiaoyuyue-icon-app-back;
  }
}
.xiaoyuyue-icon-app-back-left {
  &:before {
    content: $xiaoyuyue-icon-app-back-left;
  }
}
.xiaoyuyue-icon-app-booking-menu {
  &:before {
    content: $xiaoyuyue-icon-app-booking-menu;
  }
}
.xiaoyuyue-icon-app-booking-new-join {
  &:before {
    content: $xiaoyuyue-icon-app-booking-new-join;
  }
}
.xiaoyuyue-icon-app-booking-total {
  &:before {
    content: $xiaoyuyue-icon-app-booking-total;
  }
}
.xiaoyuyue-icon-app-cancel {
  &:before {
    content: $xiaoyuyue-icon-app-cancel;
  }
}
.xiaoyuyue-icon-app-close {
  &:before {
    content: $xiaoyuyue-icon-app-close;
  }
}
.xiaoyuyue-icon-app-confirm {
  &:before {
    content: $xiaoyuyue-icon-app-confirm;
  }
}
.xiaoyuyue-icon-app-confirm-2 {
  &:before {
    content: $xiaoyuyue-icon-app-confirm-2;
  }
}
.xiaoyuyue-icon-app-contact {
  &:before {
    content: $xiaoyuyue-icon-app-contact;
  }
}
.xiaoyuyue-icon-app-copy-1 {
  &:before {
    content: $xiaoyuyue-icon-app-copy-1;
  }
}
.xiaoyuyue-icon-app-copy-2 {
  &:before {
    content: $xiaoyuyue-icon-app-copy-2;
  }
}
.xiaoyuyue-icon-app-custom-menu {
  &:before {
    content: $xiaoyuyue-icon-app-custom-menu;
  }
}
.xiaoyuyue-icon-app-default {
  &:before {
    content: $xiaoyuyue-icon-app-default;
  }
}
.xiaoyuyue-icon-app-delete {
  &:before {
    content: $xiaoyuyue-icon-app-delete;
  }
}
.xiaoyuyue-icon-app-delete-time-field {
  &:before {
    content: $xiaoyuyue-icon-app-delete-time-field;
  }
}
.xiaoyuyue-icon-app-detail {
  &:before {
    content: $xiaoyuyue-icon-app-detail;
  }
}
.xiaoyuyue-icon-app-detail-2 {
  &:before {
    content: $xiaoyuyue-icon-app-detail-2;
  }
}
.xiaoyuyue-icon-app-disable {
  &:before {
    content: $xiaoyuyue-icon-app-disable;
  }
}
.xiaoyuyue-icon-app-disabled {
  &:before {
    content: $xiaoyuyue-icon-app-disabled;
  }
}
.xiaoyuyue-icon-app-drop-down {
  &:before {
    content: $xiaoyuyue-icon-app-drop-down;
  }
}
.xiaoyuyue-icon-app-edit {
  &:before {
    content: $xiaoyuyue-icon-app-edit;
  }
}
.xiaoyuyue-icon-app-first-page {
  &:before {
    content: $xiaoyuyue-icon-app-first-page;
  }
}
.xiaoyuyue-icon-app-home-menu {
  &:before {
    content: $xiaoyuyue-icon-app-home-menu;
  }
}
.xiaoyuyue-icon-app-last-page {
  &:before {
    content: $xiaoyuyue-icon-app-last-page;
  }
}
.xiaoyuyue-icon-app-location {
  &:before {
    content: $xiaoyuyue-icon-app-location;
  }
}
.xiaoyuyue-icon-app-login-code {
  &:before {
    content: $xiaoyuyue-icon-app-login-code;
  }
}
.xiaoyuyue-icon-app-login-name {
  &:before {
    content: $xiaoyuyue-icon-app-login-name;
  }
}
.xiaoyuyue-icon-app-login-passwd {
  &:before {
    content: $xiaoyuyue-icon-app-login-passwd;
  }
}
.xiaoyuyue-icon-app-login-phone {
  &:before {
    content: $xiaoyuyue-icon-app-login-phone;
  }
}
.xiaoyuyue-icon-app-logo {
  &:before {
    content: $xiaoyuyue-icon-app-logo;
  }
}
.xiaoyuyue-icon-app-logo-text {
  &:before {
    content: $xiaoyuyue-icon-app-logo-text;
  }
}
.xiaoyuyue-icon-app-logout-menu {
  &:before {
    content: $xiaoyuyue-icon-app-logout-menu;
  }
}
.xiaoyuyue-icon-app-manage {
  &:before {
    content: $xiaoyuyue-icon-app-manage;
  }
}
.xiaoyuyue-icon-app-menu {
  &:before {
    content: $xiaoyuyue-icon-app-menu;
  }
}
.xiaoyuyue-icon-app-message {
  &:before {
    content: $xiaoyuyue-icon-app-message;
  }
}
.xiaoyuyue-icon-app-mode-toggle-1 {
  &:before {
    content: $xiaoyuyue-icon-app-mode-toggle-1;
  }
}
.xiaoyuyue-icon-app-mode-toggle-2 {
  &:before {
    content: $xiaoyuyue-icon-app-mode-toggle-2;
  }
}
.xiaoyuyue-icon-app-multitask {
  &:before {
    content: $xiaoyuyue-icon-app-multitask;
  }
}
.xiaoyuyue-icon-app-next-page {
  &:before {
    content: $xiaoyuyue-icon-app-next-page;
  }
}
.xiaoyuyue-icon-app-no-defalut {
  &:before {
    content: $xiaoyuyue-icon-app-no-defalut;
  }
}
.xiaoyuyue-icon-app-org-center-menu {
  &:before {
    content: $xiaoyuyue-icon-app-org-center-menu;
  }
}
.xiaoyuyue-icon-app-org-info-menu {
  &:before {
    content: $xiaoyuyue-icon-app-org-info-menu;
  }
}
.xiaoyuyue-icon-app-outlet-image {
  &:before {
    content: $xiaoyuyue-icon-app-outlet-image;
  }
}
.xiaoyuyue-icon-app-outlet-menu {
  &:before {
    content: $xiaoyuyue-icon-app-outlet-menu;
  }
}
.xiaoyuyue-icon-app-phone {
  &:before {
    content: $xiaoyuyue-icon-app-phone;
  }
}
.xiaoyuyue-icon-app-preview {
  &:before {
    content: $xiaoyuyue-icon-app-preview;
  }
}
.xiaoyuyue-icon-app-prev-page {
  &:before {
    content: $xiaoyuyue-icon-app-prev-page;
  }
}
.xiaoyuyue-icon-app-qr-code {
  &:before {
    content: $xiaoyuyue-icon-app-qr-code;
  }
}
.xiaoyuyue-icon-app-refurbish {
  &:before {
    content: $xiaoyuyue-icon-app-refurbish;
  }
}
.xiaoyuyue-icon-app-search {
  &:before {
    content: $xiaoyuyue-icon-app-search;
  }
}
.xiaoyuyue-icon-app-settings-menu {
  &:before {
    content: $xiaoyuyue-icon-app-settings-menu;
  }
}
.xiaoyuyue-icon-app-share {
  &:before {
    content: $xiaoyuyue-icon-app-share;
  }
}
.xiaoyuyue-icon-app-share-2 {
  &:before {
    content: $xiaoyuyue-icon-app-share-2;
  }
}
.xiaoyuyue-icon-app-shop-hours {
  &:before {
    content: $xiaoyuyue-icon-app-shop-hours;
  }
}
.xiaoyuyue-icon-app-submit {
  &:before {
    content: $xiaoyuyue-icon-app-submit;
  }
}
.xiaoyuyue-icon-app-upload {
  &:before {
    content: $xiaoyuyue-icon-app-upload;
  }
}
.xiaoyuyue-icon-app-user-auth {
  &:before {
    content: $xiaoyuyue-icon-app-user-auth;
  }
}
.xiaoyuyue-icon-app-user-center {
  &:before {
    content: $xiaoyuyue-icon-app-user-center;
  }
}
.xiaoyuyue-icon-app-user-feedback {
  &:before {
    content: $xiaoyuyue-icon-app-user-feedback;
  }
}
.xiaoyuyue-icon-app-user-logout {
  &:before {
    content: $xiaoyuyue-icon-app-user-logout;
  }
}
.xiaoyuyue-icon-app-user-profile {
  &:before {
    content: $xiaoyuyue-icon-app-user-profile;
  }
}
.xiaoyuyue-icon-app-user-security {
  &:before {
    content: $xiaoyuyue-icon-app-user-security;
  }
}
.xiaoyuyue-icon-bm-menu {
  &:before {
    content: $xiaoyuyue-icon-bm-menu;
  }
}
.xiaoyuyue-icon-cb-add-img {
  &:before {
    content: $xiaoyuyue-icon-cb-add-img;
  }
}
.xiaoyuyue-icon-cb-add-time {
  &:before {
    content: $xiaoyuyue-icon-cb-add-time;
  }
}
.xiaoyuyue-icon-cb-calendar {
  &:before {
    content: $xiaoyuyue-icon-cb-calendar;
  }
}
.xiaoyuyue-icon-cb-menu {
  &:before {
    content: $xiaoyuyue-icon-cb-menu;
  }
}
.xiaoyuyue-icon-dc-calendar {
  &:before {
    content: $xiaoyuyue-icon-dc-calendar;
  }
}
.xiaoyuyue-icon-dc-customer-vip {
  &:before {
    content: $xiaoyuyue-icon-dc-customer-vip;
  }
}
.xiaoyuyue-icon-dc-menu {
  &:before {
    content: $xiaoyuyue-icon-dc-menu;
  }
}
.xiaoyuyue-icon-download {
  &:before {
    content: $xiaoyuyue-icon-download;
  }
}
.xiaoyuyue-icon-female {
  &:before {
    content: $xiaoyuyue-icon-female;
  }
}
.xiaoyuyue-icon-leading-out {
  &:before {
    content: $xiaoyuyue-icon-leading-out;
  }
}
.xiaoyuyue-icon-linked-qq {
  &:before {
    content: $xiaoyuyue-icon-linked-qq;
  }
}
.xiaoyuyue-icon-linked-wechat {
  &:before {
    content: $xiaoyuyue-icon-linked-wechat;
  }
}
.xiaoyuyue-icon-linked-weibo {
  &:before {
    content: $xiaoyuyue-icon-linked-weibo;
  }
}
.xiaoyuyue-icon-male {
  &:before {
    content: $xiaoyuyue-icon-male;
  }
}
.xiaoyuyue-icon-oi-menu {
  &:before {
    content: $xiaoyuyue-icon-oi-menu;
  }
}
.xiaoyuyue-icon-print {
  &:before {
    content: $xiaoyuyue-icon-print;
  }
}
.xiaoyuyue-icon-save {
  &:before {
    content: $xiaoyuyue-icon-save;
  }
}

