@font-face {
  font-family: 'xiaoyuyue';
  src:  url('fonts/xiaoyuyue.eot?bm8ijp');
  src:  url('fonts/xiaoyuyue.eot?bm8ijp#iefix') format('embedded-opentype'),
    url('fonts/xiaoyuyue.ttf?bm8ijp') format('truetype'),
    url('fonts/xiaoyuyue.woff?bm8ijp') format('woff'),
    url('fonts/xiaoyuyue.svg?bm8ijp#xiaoyuyue') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xiaoyuyue-icon-"], [class*=" xiaoyuyue-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'xiaoyuyue' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xiaoyuyue-icon-app-email:before {
  content: "\e95b";
}
.xiaoyuyue-icon-app-move:before {
  content: "\e95a";
}
.xiaoyuyue-icon-gm-menu:before {
  content: "\e959";
}
.xiaoyuyue-icon-app-edit-group:before {
  content: "\e957";
}
.xiaoyuyue-icon-app-remove-group:before {
  content: "\e958";
}
.xiaoyuyue-icon-app-tip:before {
  content: "\e956";
}
.xiaoyuyue-icon-app-active:before {
  content: "\e900";
}
.xiaoyuyue-icon-app-add-booking-item:before {
  content: "\e901";
}
.xiaoyuyue-icon-app-add-outlet:before {
  content: "\e902";
}
.xiaoyuyue-icon-app-address:before {
  content: "\e903";
}
.xiaoyuyue-icon-app-add-time-field:before {
  content: "\e904";
}
.xiaoyuyue-icon-app-back:before {
  content: "\e905";
}
.xiaoyuyue-icon-app-back-left:before {
  content: "\e906";
}
.xiaoyuyue-icon-app-booking-menu:before {
  content: "\e907";
}
.xiaoyuyue-icon-app-booking-new-join:before {
  content: "\e908";
}
.xiaoyuyue-icon-app-booking-total:before {
  content: "\e909";
}
.xiaoyuyue-icon-app-cancel:before {
  content: "\e90a";
}
.xiaoyuyue-icon-app-close:before {
  content: "\e90b";
}
.xiaoyuyue-icon-app-confirm:before {
  content: "\e90c";
}
.xiaoyuyue-icon-app-confirm-2:before {
  content: "\e90d";
}
.xiaoyuyue-icon-app-contact:before {
  content: "\e90e";
}
.xiaoyuyue-icon-app-copy-1:before {
  content: "\e90f";
}
.xiaoyuyue-icon-app-copy-2:before {
  content: "\e910";
}
.xiaoyuyue-icon-app-custom-menu:before {
  content: "\e911";
}
.xiaoyuyue-icon-app-default:before {
  content: "\e912";
}
.xiaoyuyue-icon-app-delete:before {
  content: "\e913";
}
.xiaoyuyue-icon-app-delete-time-field:before {
  content: "\e914";
}
.xiaoyuyue-icon-app-detail:before {
  content: "\e915";
}
.xiaoyuyue-icon-app-detail-2:before {
  content: "\e916";
}
.xiaoyuyue-icon-app-disable:before {
  content: "\e917";
}
.xiaoyuyue-icon-app-disabled:before {
  content: "\e918";
}
.xiaoyuyue-icon-app-drop-down:before {
  content: "\e919";
}
.xiaoyuyue-icon-app-edit:before {
  content: "\e91a";
}
.xiaoyuyue-icon-app-first-page:before {
  content: "\e91b";
}
.xiaoyuyue-icon-app-home-menu:before {
  content: "\e91c";
}
.xiaoyuyue-icon-app-last-page:before {
  content: "\e91d";
}
.xiaoyuyue-icon-app-location:before {
  content: "\e91e";
}
.xiaoyuyue-icon-app-login-code:before {
  content: "\e91f";
}
.xiaoyuyue-icon-app-login-name:before {
  content: "\e920";
}
.xiaoyuyue-icon-app-login-passwd:before {
  content: "\e921";
}
.xiaoyuyue-icon-app-login-phone:before {
  content: "\e922";
}
.xiaoyuyue-icon-app-logo:before {
  content: "\e923";
}
.xiaoyuyue-icon-app-logo-text:before {
  content: "\e924";
}
.xiaoyuyue-icon-app-logout-menu:before {
  content: "\e925";
}
.xiaoyuyue-icon-app-manage:before {
  content: "\e926";
}
.xiaoyuyue-icon-app-menu:before {
  content: "\e927";
}
.xiaoyuyue-icon-app-message:before {
  content: "\e928";
}
.xiaoyuyue-icon-app-mode-toggle-1:before {
  content: "\e929";
}
.xiaoyuyue-icon-app-mode-toggle-2:before {
  content: "\e92a";
}
.xiaoyuyue-icon-app-multitask:before {
  content: "\e92b";
}
.xiaoyuyue-icon-app-next-page:before {
  content: "\e92c";
}
.xiaoyuyue-icon-app-no-defalut:before {
  content: "\e92d";
}
.xiaoyuyue-icon-app-org-center-menu:before {
  content: "\e92e";
}
.xiaoyuyue-icon-app-org-info-menu:before {
  content: "\e92f";
}
.xiaoyuyue-icon-app-outlet-image:before {
  content: "\e930";
}
.xiaoyuyue-icon-app-outlet-menu:before {
  content: "\e931";
}
.xiaoyuyue-icon-app-phone:before {
  content: "\e932";
}
.xiaoyuyue-icon-app-preview:before {
  content: "\e933";
}
.xiaoyuyue-icon-app-prev-page:before {
  content: "\e934";
}
.xiaoyuyue-icon-app-qr-code:before {
  content: "\e935";
}
.xiaoyuyue-icon-app-refurbish:before {
  content: "\e936";
}
.xiaoyuyue-icon-app-search:before {
  content: "\e937";
}
.xiaoyuyue-icon-app-settings-menu:before {
  content: "\e938";
}
.xiaoyuyue-icon-app-share:before {
  content: "\e939";
}
.xiaoyuyue-icon-app-share-2:before {
  content: "\e93a";
  color: #000;
}
.xiaoyuyue-icon-app-shop-hours:before {
  content: "\e93b";
}
.xiaoyuyue-icon-app-submit:before {
  content: "\e93c";
}
.xiaoyuyue-icon-app-upload:before {
  content: "\e93d";
}
.xiaoyuyue-icon-app-user-auth:before {
  content: "\e93e";
}
.xiaoyuyue-icon-app-user-center:before {
  content: "\e93f";
}
.xiaoyuyue-icon-app-user-feedback:before {
  content: "\e940";
}
.xiaoyuyue-icon-app-user-logout:before {
  content: "\e941";
}
.xiaoyuyue-icon-app-user-profile:before {
  content: "\e942";
}
.xiaoyuyue-icon-app-user-security:before {
  content: "\e943";
}
.xiaoyuyue-icon-bm-menu:before {
  content: "\e944";
}
.xiaoyuyue-icon-cb-add-img:before {
  content: "\e945";
}
.xiaoyuyue-icon-cb-add-time:before {
  content: "\e946";
}
.xiaoyuyue-icon-cb-calendar:before {
  content: "\e947";
}
.xiaoyuyue-icon-cb-menu:before {
  content: "\e948";
}
.xiaoyuyue-icon-dc-calendar:before {
  content: "\e949";
}
.xiaoyuyue-icon-dc-customer-vip:before {
  content: "\e94a";
  color: #000;
}
.xiaoyuyue-icon-dc-menu:before {
  content: "\e94b";
}
.xiaoyuyue-icon-download:before {
  content: "\e94c";
}
.xiaoyuyue-icon-female:before {
  content: "\e94d";
}
.xiaoyuyue-icon-leading-out:before {
  content: "\e94e";
}
.xiaoyuyue-icon-linked-qq:before {
  content: "\e94f";
}
.xiaoyuyue-icon-linked-wechat:before {
  content: "\e950";
}
.xiaoyuyue-icon-linked-weibo:before {
  content: "\e951";
}
.xiaoyuyue-icon-male:before {
  content: "\e952";
}
.xiaoyuyue-icon-oi-menu:before {
  content: "\e953";
}
.xiaoyuyue-icon-print:before {
  content: "\e954";
}
.xiaoyuyue-icon-save:before {
  content: "\e955";
}
