$icomoon-font-path: "fonts" !default;

$vapps-icon-app-back: "\e905";
$vapps-icon-app-active: "\e900";
$vapps-icon-app-add-booking-item: "\e901";
$vapps-icon-app-add-outlet: "\e902";
$vapps-icon-app-address: "\e903";
$vapps-icon-app-add-time-field: "\e904";
$vapps-icon-app-booking-new-join: "\e906";
$vapps-icon-app-booking-total: "\e907";
$vapps-icon-app-cancel: "\e908";
$vapps-icon-app-confirm: "\e909";
$vapps-icon-app-contact: "\e90a";
$vapps-icon-app-copy-1: "\e90b";
$vapps-icon-app-copy-2: "\e90c";
$vapps-icon-app-default: "\e90d";
$vapps-icon-app-delete: "\e90e";
$vapps-icon-app-delete-time-field: "\e90f";
$vapps-icon-app-detail: "\e910";
$vapps-icon-app-disable: "\e911";
$vapps-icon-app-drop-down: "\e912";
$vapps-icon-app-edit: "\e913";
$vapps-icon-app-first-page: "\e914";
$vapps-icon-app-last-page: "\e915";
$vapps-icon-app-location: "\e916";
$vapps-icon-app-logo: "\e917";
$vapps-icon-app-logo-text: "\e918";
$vapps-icon-app-message: "\e919";
$vapps-icon-app-mode-toggle-1: "\e91a";
$vapps-icon-app-mode-toggle-2: "\e91b";
$vapps-icon-app-multitask: "\e91c";
$vapps-icon-app-next-page: "\e91d";
$vapps-icon-app-no-defalut: "\e91e";
$vapps-icon-app-outlet-image: "\e91f";
$vapps-icon-app-phone: "\e920";
$vapps-icon-app-preview: "\e921";
$vapps-icon-app-prev-page: "\e922";
$vapps-icon-app-qr-code: "\e923";
$vapps-icon-app-refurbish: "\e924";
$vapps-icon-app-search: "\e925";
$vapps-icon-app-share: "\e926";
$vapps-icon-app-shop-hours: "\e927";
$vapps-icon-app-submit: "\e928";
$vapps-icon-app-upload: "\e929";
$vapps-icon-app-user-auth: "\e92a";
$vapps-icon-app-user-center: "\e92b";
$vapps-icon-app-user-feedback: "\e92c";
$vapps-icon-app-user-logout: "\e92d";
$vapps-icon-app-user-profile: "\e92e";
$vapps-icon-app-user-security: "\e92f";
$vapps-icon-bm-menu: "\e930";
$vapps-icon-cb-add-img: "\e931";
$vapps-icon-cb-add-time: "\e932";
$vapps-icon-cb-calendar: "\e933";
$vapps-icon-cb-menu: "\e934";
$vapps-icon-dc-calendar: "\e935";
$vapps-icon-dc-customer-vip: "\e936";
$vapps-icon-dc-menu: "\e937";
$vapps-icon-download: "\e938";
$vapps-icon-female: "\e939";
$vapps-icon-leading-out: "\e93a";
$vapps-icon-male: "\e93b";
$vapps-icon-oi-menu: "\e93c";
$vapps-icon-print: "\e93d";
$vapps-icon-save: "\e93e";

