$icomoon-font-path: "fonts" !default;

$xiaoyuyue-icon-app-email: "\e95b";
$xiaoyuyue-icon-app-move: "\e95a";
$xiaoyuyue-icon-gm-menu: "\e959";
$xiaoyuyue-icon-app-edit-group: "\e957";
$xiaoyuyue-icon-app-remove-group: "\e958";
$xiaoyuyue-icon-app-tip: "\e956";
$xiaoyuyue-icon-app-active: "\e900";
$xiaoyuyue-icon-app-add-booking-item: "\e901";
$xiaoyuyue-icon-app-add-outlet: "\e902";
$xiaoyuyue-icon-app-address: "\e903";
$xiaoyuyue-icon-app-add-time-field: "\e904";
$xiaoyuyue-icon-app-back: "\e905";
$xiaoyuyue-icon-app-back-left: "\e906";
$xiaoyuyue-icon-app-booking-menu: "\e907";
$xiaoyuyue-icon-app-booking-new-join: "\e908";
$xiaoyuyue-icon-app-booking-total: "\e909";
$xiaoyuyue-icon-app-cancel: "\e90a";
$xiaoyuyue-icon-app-close: "\e90b";
$xiaoyuyue-icon-app-confirm: "\e90c";
$xiaoyuyue-icon-app-confirm-2: "\e90d";
$xiaoyuyue-icon-app-contact: "\e90e";
$xiaoyuyue-icon-app-copy-1: "\e90f";
$xiaoyuyue-icon-app-copy-2: "\e910";
$xiaoyuyue-icon-app-custom-menu: "\e911";
$xiaoyuyue-icon-app-default: "\e912";
$xiaoyuyue-icon-app-delete: "\e913";
$xiaoyuyue-icon-app-delete-time-field: "\e914";
$xiaoyuyue-icon-app-detail: "\e915";
$xiaoyuyue-icon-app-detail-2: "\e916";
$xiaoyuyue-icon-app-disable: "\e917";
$xiaoyuyue-icon-app-disabled: "\e918";
$xiaoyuyue-icon-app-drop-down: "\e919";
$xiaoyuyue-icon-app-edit: "\e91a";
$xiaoyuyue-icon-app-first-page: "\e91b";
$xiaoyuyue-icon-app-home-menu: "\e91c";
$xiaoyuyue-icon-app-last-page: "\e91d";
$xiaoyuyue-icon-app-location: "\e91e";
$xiaoyuyue-icon-app-login-code: "\e91f";
$xiaoyuyue-icon-app-login-name: "\e920";
$xiaoyuyue-icon-app-login-passwd: "\e921";
$xiaoyuyue-icon-app-login-phone: "\e922";
$xiaoyuyue-icon-app-logo: "\e923";
$xiaoyuyue-icon-app-logo-text: "\e924";
$xiaoyuyue-icon-app-logout-menu: "\e925";
$xiaoyuyue-icon-app-manage: "\e926";
$xiaoyuyue-icon-app-menu: "\e927";
$xiaoyuyue-icon-app-message: "\e928";
$xiaoyuyue-icon-app-mode-toggle-1: "\e929";
$xiaoyuyue-icon-app-mode-toggle-2: "\e92a";
$xiaoyuyue-icon-app-multitask: "\e92b";
$xiaoyuyue-icon-app-next-page: "\e92c";
$xiaoyuyue-icon-app-no-defalut: "\e92d";
$xiaoyuyue-icon-app-org-center-menu: "\e92e";
$xiaoyuyue-icon-app-org-info-menu: "\e92f";
$xiaoyuyue-icon-app-outlet-image: "\e930";
$xiaoyuyue-icon-app-outlet-menu: "\e931";
$xiaoyuyue-icon-app-phone: "\e932";
$xiaoyuyue-icon-app-preview: "\e933";
$xiaoyuyue-icon-app-prev-page: "\e934";
$xiaoyuyue-icon-app-qr-code: "\e935";
$xiaoyuyue-icon-app-refurbish: "\e936";
$xiaoyuyue-icon-app-search: "\e937";
$xiaoyuyue-icon-app-settings-menu: "\e938";
$xiaoyuyue-icon-app-share: "\e939";
$xiaoyuyue-icon-app-share-2: "\e93a";
$xiaoyuyue-icon-app-shop-hours: "\e93b";
$xiaoyuyue-icon-app-submit: "\e93c";
$xiaoyuyue-icon-app-upload: "\e93d";
$xiaoyuyue-icon-app-user-auth: "\e93e";
$xiaoyuyue-icon-app-user-center: "\e93f";
$xiaoyuyue-icon-app-user-feedback: "\e940";
$xiaoyuyue-icon-app-user-logout: "\e941";
$xiaoyuyue-icon-app-user-profile: "\e942";
$xiaoyuyue-icon-app-user-security: "\e943";
$xiaoyuyue-icon-bm-menu: "\e944";
$xiaoyuyue-icon-cb-add-img: "\e945";
$xiaoyuyue-icon-cb-add-time: "\e946";
$xiaoyuyue-icon-cb-calendar: "\e947";
$xiaoyuyue-icon-cb-menu: "\e948";
$xiaoyuyue-icon-dc-calendar: "\e949";
$xiaoyuyue-icon-dc-customer-vip: "\e94a";
$xiaoyuyue-icon-dc-menu: "\e94b";
$xiaoyuyue-icon-download: "\e94c";
$xiaoyuyue-icon-female: "\e94d";
$xiaoyuyue-icon-leading-out: "\e94e";
$xiaoyuyue-icon-linked-qq: "\e94f";
$xiaoyuyue-icon-linked-wechat: "\e950";
$xiaoyuyue-icon-linked-weibo: "\e951";
$xiaoyuyue-icon-male: "\e952";
$xiaoyuyue-icon-oi-menu: "\e953";
$xiaoyuyue-icon-print: "\e954";
$xiaoyuyue-icon-save: "\e955";

