$icomoon-font-path: "fonts" !default;

$vapps-icon-app-active: "\e900";
$vapps-icon-app-add-booking-item: "\e901";
$vapps-icon-app-add-outlet: "\e902";
$vapps-icon-app-address: "\e903";
$vapps-icon-app-add-time-field: "\e904";
$vapps-icon-app-back: "\e905";
$vapps-icon-app-booking-menu: "\e906";
$vapps-icon-app-booking-new-join: "\e907";
$vapps-icon-app-booking-total: "\e908";
$vapps-icon-app-cancel: "\e909";
$vapps-icon-app-confirm: "\e90a";
$vapps-icon-app-confirm-2: "\e90b";
$vapps-icon-app-contact: "\e90c";
$vapps-icon-app-copy-1: "\e90d";
$vapps-icon-app-copy-2: "\e90e";
$vapps-icon-app-custom-menu: "\e90f";
$vapps-icon-app-default: "\e910";
$vapps-icon-app-delete: "\e911";
$vapps-icon-app-delete-time-field: "\e912";
$vapps-icon-app-detail: "\e913";
$vapps-icon-app-detail-2: "\e914";
$vapps-icon-app-disable: "\e915";
$vapps-icon-app-disabled: "\e916";
$vapps-icon-app-drop-down: "\e917";
$vapps-icon-app-edit: "\e918";
$vapps-icon-app-first-page: "\e919";
$vapps-icon-app-home-menu: "\e91a";
$vapps-icon-app-last-page: "\e91b";
$vapps-icon-app-location: "\e91c";
$vapps-icon-app-login-code: "\e91d";
$vapps-icon-app-login-name: "\e91e";
$vapps-icon-app-login-passwd: "\e91f";
$vapps-icon-app-login-phone: "\e920";
$vapps-icon-app-logo: "\e921";
$vapps-icon-app-logo-text: "\e922";
$vapps-icon-app-logout-menu: "\e923";
$vapps-icon-app-manage: "\e924";
$vapps-icon-app-menu: "\e925";
$vapps-icon-app-message: "\e926";
$vapps-icon-app-mode-toggle-1: "\e927";
$vapps-icon-app-mode-toggle-2: "\e928";
$vapps-icon-app-multitask: "\e929";
$vapps-icon-app-next-page: "\e92a";
$vapps-icon-app-no-defalut: "\e92b";
$vapps-icon-app-org-center-menu: "\e92c";
$vapps-icon-app-org-info-menu: "\e92d";
$vapps-icon-app-outlet-image: "\e92e";
$vapps-icon-app-outlet-menu: "\e92f";
$vapps-icon-app-phone: "\e930";
$vapps-icon-app-preview: "\e931";
$vapps-icon-app-prev-page: "\e932";
$vapps-icon-app-qr-code: "\e933";
$vapps-icon-app-refurbish: "\e934";
$vapps-icon-app-search: "\e935";
$vapps-icon-app-settings-menu: "\e936";
$vapps-icon-app-share: "\e937";
$vapps-icon-app-share-2: "\e938";
$vapps-icon-app-shop-hours: "\e939";
$vapps-icon-app-submit: "\e93a";
$vapps-icon-app-upload: "\e93b";
$vapps-icon-app-user-auth: "\e93c";
$vapps-icon-app-user-center: "\e93d";
$vapps-icon-app-user-feedback: "\e93e";
$vapps-icon-app-user-logout: "\e93f";
$vapps-icon-app-user-profile: "\e940";
$vapps-icon-app-user-security: "\e941";
$vapps-icon-bm-menu: "\e942";
$vapps-icon-cb-add-img: "\e943";
$vapps-icon-cb-add-time: "\e944";
$vapps-icon-cb-calendar: "\e945";
$vapps-icon-cb-menu: "\e946";
$vapps-icon-dc-calendar: "\e947";
$vapps-icon-dc-customer-vip: "\e948";
$vapps-icon-dc-menu: "\e949";
$vapps-icon-download: "\e94a";
$vapps-icon-female: "\e94b";
$vapps-icon-leading-out: "\e94c";
$vapps-icon-male: "\e94d";
$vapps-icon-oi-menu: "\e94e";
$vapps-icon-print: "\e94f";
$vapps-icon-save: "\e950";

