@icomoon-font-path: "fonts";

@vapps-icon-app-active: "\e900";
@vapps-icon-app-add-booking-item: "\e901";
@vapps-icon-app-address: "\e902";
@vapps-icon-app-add-time-field: "\e903";
@vapps-icon-app-back: "\e904";
@vapps-icon-app-cancel: "\e905";
@vapps-icon-app-confirm: "\e906";
@vapps-icon-app-copy-1: "\e907";
@vapps-icon-app-copy-2: "\e908";
@vapps-icon-app-delete: "\e909";
@vapps-icon-app-delete-time-field: "\e90a";
@vapps-icon-app-detail: "\e90b";
@vapps-icon-app-disable: "\e90c";
@vapps-icon-app-drop-down: "\e90d";
@vapps-icon-app-edit: "\e90e";
@vapps-icon-app-first-page: "\e90f";
@vapps-icon-app-last-page: "\e910";
@vapps-icon-app-logo: "\e911";
@vapps-icon-app-logo-text: "\e912";
@vapps-icon-app-message: "\e913";
@vapps-icon-app-mode-toggle-1: "\e914";
@vapps-icon-app-mode-toggle-2: "\e915";
@vapps-icon-app-multitask: "\e916";
@vapps-icon-app-next-page: "\e917";
@vapps-icon-app-phone: "\e918";
@vapps-icon-app-preview: "\e919";
@vapps-icon-app-prev-page: "\e91a";
@vapps-icon-app-qr-code: "\e91b";
@vapps-icon-app-refurbish: "\e91c";
@vapps-icon-app-search: "\e91d";
@vapps-icon-app-share: "\e91e";
@vapps-icon-app-submit: "\e91f";
@vapps-icon-app-upload: "\e920";
@vapps-icon-app-user-auth: "\e921";
@vapps-icon-app-user-center: "\e922";
@vapps-icon-app-user-feedback: "\e923";
@vapps-icon-app-user-logout: "\e924";
@vapps-icon-app-user-profile: "\e925";
@vapps-icon-app-user-security: "\e926";
@vapps-icon-bm-menu: "\e927";
@vapps-icon-cb-add-img: "\e928";
@vapps-icon-cb-add-time: "\e929";
@vapps-icon-cb-calendar: "\e92a";
@vapps-icon-cb-menu: "\e92b";
@vapps-icon-dc-calendar: "\e92c";
@vapps-icon-dc-customer-vip: "\e92d";
@vapps-icon-dc-menu: "\e92e";
@vapps-icon-download: "\e92f";
@vapps-icon-female: "\e930";
@vapps-icon-leading-out: "\e931";
@vapps-icon-male: "\e932";
@vapps-icon-oi-menu: "\e933";
@vapps-icon-print: "\e934";
@vapps-icon-save: "\e935";

