.contact-info {
    .xiaoyuyue-title-box {
        width: calc(100% - 40px);
        height: 64px;
        line-height: 64px;
        text-align: center;
        .btn-action-wrap {
            position: absolute;
            top: 0;
            right: 20px;
            .icon+.icon {
                margin-left: 15px;
            }
            .icon {
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                cursor: pointer;
            }
            .vapps-icon-app-delete {
                font-size: 36px;
            }
        }
    }
    .add-time {
        margin-right: 15px;
        span {
            color: #ff9742;
        }
    }
    .card-content {
        position: relative;
        min-height: 200px;
        padding-top: 0;
        .contact-info-wrap {
            position: relative;
            margin-top: 52px;
            border: 1px solid #eee;
            .contact-item {
                .input-box {
                    input.common-max-width {
                        width: 240px;
                        height: 34px;
                    }
                }
                &.wechat-item {
                    height: 132px;
                    .name {
                        line-height: 132px;
                    }
                    .flex-item {
                        display: flex;
                        .qr-code-wrap {
                            width: 92px;
                            height: 92px;
                            border: 1px dashed #CCC;
                            flex: 0 0 92px;
                            display: inline-block;
                            overflow: hidden;
                            margin-right: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .submit-item {
                text-align: center;
                >.primary-bgcolor,
                >.btn-cancel {
                    margin-top: 15px;
                }
            }
        } // 创建状态的展示样式
        .create-local-wrap {
            position: relative;
            margin-top: 52px;
            padding: 32px 0 20px;
            border: 1px solid #eee;
            .wechat-img-wrap,
            .contact-wrap {
                text-align: center;
                margin-top: 20px;
            }
            .contact-wrap {
                color: #ff9641;
                .vapps-icon-app-phone {
                    margin-right: 10px;
                    vertical-align: middle;
                }
            }
        }
    }
}