<div class="booking-about">
    <div class="about-header about-item">
        <div class="intro-wrap">瑜伽（英文：Yoga，印地语：योग）是一个汉语词汇，最早是从印度梵语“yug”或“yuj”而来，其含意为“一致”、“结合”或“和谐”。瑜伽源于古印度，是古印度六大哲学派别中的一系，探寻“梵我合一”的道理与方法。而现代人所称的瑜伽则是主要是一系列的修身养心方法。</div>
    </div>
    <div class="about-body about-item">
        <div class="banner-wrap item">banner区域</div>
        <div class="video-wrap item">视频区域</div>
    </div>
    <div class="about-footer about-item">
        <div class="address item clearfix">
            <div class="pull-left">
                <span class="name">地  址:</span>
                <span class="desc">广州市番禺区节能科技园</span>
            </div>
            <div class="pull-right"><span class="btn btn-view vapps-icon-app-address"></span></div>
        </div>
        <div class="contact item clearfix">
            <div class="pull-left">
                <span class="name">联系人:</span>
                <span class="desc">刘先生</span>
            </div>
            <div class="pull-right"><span class="btn btn-view vapps-icon-app-qr-code"></span></div>
        </div>
        <div class="phone item clearfix">
            <div class="pull-left">
                <span class="name">手  机:</span>
                <span class="desc">15800158000</span>
            </div>
            <div class="pull-right"><span class="btn btn-view vapps-icon-app-phone"></span></div>
        </div>
        <div class="ad-wrap">广告招租</div>
    </div>
</div>