<div *ngIf="_hostSettingService.hostSettings">
    <div class="margin-bottom-30">
        <h4>{{l('ExternalLoginSetting')}}</h4>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <select class="form-control edited" [(ngModel)]="_hostSettingService.hostSettings.externalAuthentication.userActivationId">
                <option *ngFor="let activation of _hostSettingService.activations; let i = index" [value]="i">{{activation.text}}</option>
            </select>
            <label for="TenantEditionSelectionCombobox">{{l('EnabledOption')}}</label>
        </div>

        <div class="md-checkbox-list">
            <div class="md-checkbox">
                <input id="Required_User_Name" class="md-check" type="checkbox" name="Required_User_Name" [(ngModel)]="_hostSettingService.hostSettings.externalAuthentication.requiredUserName">
                <label for="Required_User_Name">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    {{l('RequiredUserName')}}
                </label>
            </div>
        </div>

        <div class="md-checkbox-list">
            <div class="md-checkbox">
                <input id="Required_Email" class="md-check" type="checkbox" name="Required_Email" [(ngModel)]="_hostSettingService.hostSettings.externalAuthentication.requiredEmail">
                <label for="Required_Email">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    {{l('RequiredEmail')}}
                </label>
            </div>
        </div>

        <div class="md-checkbox-list">
            <div class="md-checkbox">
                <input id="Required_Telephone" class="md-check" type="checkbox" name="Required_Telephone" [(ngModel)]="_hostSettingService.hostSettings.externalAuthentication.requiredTelephone">
                <label for="Required_Telephone">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    {{l('RequiredTelephone')}}
                </label>
            </div>
        </div>

        <div class="md-checkbox-list">
            <div class="md-checkbox">
                <input id="Use_Telephone_For_Username" class="md-check" type="checkbox" disabled name="Use_Telephone_For_Username" [(ngModel)]="_hostSettingService.hostSettings.externalAuthentication.useTelephoneforUsername">
                <label for="Use_Telephone_For_Username">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    {{l('UseTelephoneforUsername')}}
                </label>
            </div>
        </div>
    </div>

    <form novalidate #myForm="ngForm">
        <h4>{{l('ExternalLoginProvider')}}</h4>
        <kendo-grid [data]="_hostSettingService.hostLoginProviderData | async" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)" [pageSize]="pageSize" [skip]="skip" [sort]="sort" [pageable]="true" [sortable]="false" (dataStateChange)="onStateChange($event)">
            <kendo-grid-column field="providerName" title="{{l('Admin.Configuration.Settings.ProviderName')}}">
                <ng-template let-dataItem="dataItem">
                    <p>{{ dataItem.providerName }}</p>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="{{l('Admin.Configuration.Settings.IsEnabled')}}">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <span class="fa font-blue" [class.fa-check]="dataItem.isEnabled" [class.font-red-mint]="!dataItem.isEnabled" [class.fa-times]="!dataItem.isEnabled"></span>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                    <label style="width:100%; cursor:pointer;">
                        <input [(ngModel)]="dataItem.isEnabled" name="isEnabled" type="checkbox" required/>
                    </label>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="appId" title="{{l('Admin.Configuration.Settings.AppId')}}">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                    <input [(ngModel)]="dataItem.appId" name="appId" class="k-textbox" required/>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="appSecret" title="{{l('Admin.Configuration.Settings.AppSecret')}}">
                <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                    <input [(ngModel)]="dataItem.appSecret" name="appSecret" class="k-textbox" required/>
                </ng-template>
            </kendo-grid-column>

            <!--<kendo-grid-column field="providerName" title="ProviderName" [width]="160"></kendo-grid-column>-->
            <kendo-grid-command-column title="{{l('Admin.Configuration.Settings.Command')}}" width="220">
                <ng-template let-isNew="isNew" kendoGridCellTemplate>
                    <!-- edit command directive, will be visible when not in edit mode -->
                    <button kendoGridEditCommand class="btn btn-xs btn-primary" title="{{l('Admin.Edit')}}">
                        <i class="fa fa-edit"></i>
                    </button>
                    <!-- save command directive, will be visible when in edit mode -->
                    <button kendoGridSaveCommand class="btn btn-xs btn-success" title="{{l('Admin.Save')}}">
                        <i class="fa fa-floppy-o"></i>
                    </button>
                    <!-- cancel command directive, will be visible when in edit mode -->
                    <button kendoGridCancelCommand class="btn btn-xs btn-danger" title="{{l('Admin.Cancel')}}">
                        <i class="fa fa-reply"></i>
                    </button>
                </ng-template>
            </kendo-grid-command-column>
        </kendo-grid>
    </form>
</div>