<div class="succeed-wrap">
    <div class="card">
        <div class="card-content">
            <div class="finshed-icon">
                <img src="../../assets/common/images/booking/app-booked.svg" style="width:46px">
            </div>
            <p class="success-tip" *ngIf="!isUpdate">{{l('CreateSuccess')}}</p>
            <p class="success-tip" *ngIf="isUpdate">{{l('UpdateSuccess')}}</p>

            <div class="booked-footer">
                <div class="qr-code-wrap">
                    <qr-code [value]="shareUrl" [size]="150"></qr-code>
                    <!-- <img src="/assets/common/images/qr-code.png" style="width:150px" alt="xiaoyuyue-qr-code"> -->
                </div>
                <p class="xiaoyuyue-tip">{{l('Booking.CreateSuccess.Tip1')}}</p>
                <p class="xiaoyuyue-tip">{{l('Booking.CreateSuccess.Tip2')}}</p>

                <div class="row">
                    <div class="col-xs-6" *ngIf="!isUpdate">
                        <div class="btn btn-yellow btn-submit btn-block">
                            <a routerLink="/booking/create">{{l('CreateContinue')}}</a>
                        </div>
                    </div>
                    <div [ngClass]="{'col-xs-6': !isUpdate,'col-xs-12': isUpdate}">
                        <div class="btn btn-orange btn-submit btn-block">
                            <a routerLink="/booking/list">{{l('Menu.ManageBooking')}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>