<!-- 预约饱和度 -->
<div class="header clearfix">
    <div class="card-header card-header-text pull-left" data-background-color="orange">
        <h6 class="card-title">{{l('Dashboard.BookingSaturation')}}</h6>
    </div>
    <span class="dropdown-list pull-right">
            <kendo-dropdownlist [data]="outletSelectListData"  (valueChange)="outletSelectListDataChangeHandler($event)" textField="text" valueField="value" [valuePrimitive]="true" [value]="outletDefaultListItem"></kendo-dropdownlist> 
        </span>
</div>

<div class="content" *ngIf="bookingStatisticsData">
    <div class="top-view clearfix">
        <div class="item left-item">
            <span class="text-data">
                    <p class="text">{{l('Dashboard.SubMaxBookingNum')}}</p>
                    <span class="total">{{ bookingStatisticsData.subMaxBookingNum }}</span>
            </span>
            <span class="icon vapps-icon-app-booking-total"></span>
        </div>
        <div class="item right-item">
            <span class="icon vapps-icon-app-booking-new-join"></span>
            <span class="text-data">
                <p class="text">{{l('Dashboard.SubNewBookingNum')}}</p>
                <span class="total">{{ bookingStatisticsData.subBookingNum }}</span>
            </span>
        </div>
    </div>

    <div class="table-list">
        <div class="table-head">
            <span class="head-item">{{l('Booking.Name')}}</span>
            <span class="head-item">{{l('Dashboard.BookingRate')}}</span>
            <span class="head-item">{{l('Dashboard.BookingPercent')}}</span>
            <span class="head-item">{{l('Dashboard.SubQueueNum')}}</span>
        </div>
        <div *ngIf="bookingsDataLength > 0; else elseTemplate">
            <div class="table-content" *ngFor="let item of bookingStatisticsData.bookings">
                <span class="content-item item-name text-overflow">{{ item.name }}</span>
                <span class="content-item text-overflow">{{ item.subBookedNum}} / {{ item.subBookingNum }}</span>
                <span class="content-item text-overflow">{{ getSaturationValue(item.subBookedNum, item.subBookingNum) }}</span>
                <span class="content-item text-overflow">{{ item.subQueueNum }}</span>
            </div>
        </div>
        <ng-template #elseTemplate>
            <xiaoyuyue-empty-page [text]="slogan" [height]="'190px'"></xiaoyuyue-empty-page>
        </ng-template>
    </div>
</div>