<div class="passwd-wrap" [@routerTransition] *ngIf="showCommandWrap">
    <div class="card-wrap col-xs-4 col-sm-3">
        <div class="card" (click)="usePhoneChangeEle()">
            <div class="item">
                <div class="content">
                    <span class="icon vapps-icon-app-login-phone"></span>
                    <p class="text">{{l('Security.ChangePasswd.ByPhone')}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrap col-xs-4 col-sm-3">
        <div class="card" (click)="showUseOldPasswdEle()">
            <div class="item">
                <div class="content">
                    <span class="icon vapps-icon-app-login-passwd"></span>
                    <p class="text">{{l('Security.ChangePasswd.ByOldPasswd')}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="use-old-passwd" *ngIf="oldPasswdChangePasswd" [@routerTransition]>
    <div class="card">
        <form #changePwFrom="ngForm">
            <div class="card-header card-header-text" data-background-color="orange">
                <span class="title-icon vapps-icon-app-login-passwd"></span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.Filed.OldPasswd')}}</label>
                            <input type="password" class="form-control" name="currentPassword" [(ngModel)]="input.currentPassword" #CurrentPassword="ngModel"
                                required>
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div *ngIf="CurrentPassword.invalid && (CurrentPassword.dirty || CurrentPassword.touched)">
                            <small class="text-danger" *ngIf="CurrentPassword.errors.required">{{l('Security.Tips.OldPasswd')}}</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.Filed.NewPasswd')}}</label>
                            <input type="password" class="form-control" name="MobilePassword" [(ngModel)]="input.newPassword" #MobilePassword="ngModel"
                                reverse="false" validateEqual="MobilePasswordRepeat" required>
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div *ngIf="MobilePassword.invalid && (MobilePassword.dirty || MobilePassword.touched)">
                            <small class="text-danger" *ngIf="MobilePassword.errors.required">{{l('Security.Tips.NewPasswd')}}</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.Filed.ComfirmPasswd')}}</label>
                            <input type="password" class="form-control" name="MobilePasswordRepeat" [(ngModel)]="input.repeatPasswd" #MobilePasswordRepeat="ngModel"
                                reverse="true" validateEqual="MobilePassword" required>
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                        <div *ngIf="MobilePassword.invalid && MobilePassword.touched">
                            <small class="text-danger">{{l('Security.Tips.Mismatching')}}</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-xs-6">
                        <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                    </div> -->
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" [disabled]="!changePwFrom.form.valid" (click)="oldPasswdChangeHandler()">{{l('Confirm')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="use-phone" *ngIf="phoneChangePasswd" [@routerTransition]>
    <div class="card">
        <form #changePwFrom="ngForm">
            <div class="card-header card-header-text" data-background-color="orange">
                <span class="title-icon vapps-icon-app-login-passwd"></span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.Filed.Phone')}}</label>
                            <span class="form-control" appStringEncrypt>{{ phoneNum }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 validate-code-wrap">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('VerifyCode')}}</label>
                            <input type="number" class="form-control" name="repeatPasswd" [(ngModel)]="byPhoneInput.code">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            <xiaoyuyue-send-code [codeType]="codeType" [phoneNumber]="phoneNum"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">{{l('Security.Filed.NewPasswd')}}</label>
                            <input type="password" class="form-control" name="repeatPasswd" [(ngModel)]="byPhoneInput.newPassword">
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-xs-6">
                                    <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                                </div> -->
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" [disabled]="!changePwFrom.form.valid" (click)="phoneChangeHandler()">{{l('Confirm')}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>