.passwd-wrap {
    padding: 0 10px 10px;
    .card {
        padding: 0px 16px 20px;
        .card-header.card-header-text {
            display: inline-block;
            .title-icon {
                font-size: 30px;
            }
        }
        .btn {
            padding: 12px 30px;
        }
    }
}