<div class="modal fade" bsModal #unbindingPhoneModel="bs-modal" tabindex="-1" role="dialog" aria-labelledby="changePasswdModel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <form #currentPhoneFrom="ngForm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="xiaoyuyue-title-box">{{ l('Security.RevisePhone') }}</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <input class="form-control edited" type="text" name="currentPassword" [(ngModel)]="phoneNumText" readonly required>
                                <label class="control-label">{{ l('Security.Filed.OldPhoneNum') }}</label>
                            </div>
                        </div>

                        <div class="col-md-12 validate-code-wrap">
                            <div class="form-group label-floating">
                                <input class="form-control edited" type="number" name="newPassword" [(ngModel)]="code" required>
                                <label class="control-label">{{ l('VerifyCodeField') }}</label>
                                <xiaoyuyue-send-sms-code [codeType]="codeType" [phoneNumber]="phoneNumber"></xiaoyuyue-send-sms-code>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn primary-bgcolor" (click)="unbindingPhone()" [disabled]="!currentPhoneFrom.form.valid">{{ l('Confirm') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<xiaoyuyue-binding-phone-model #bindingPhoneModel></xiaoyuyue-binding-phone-model>