<div class="form-horizontal">
    <h4>{{ l("SmsTemplateSetting") }}</h4>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group common-max-width">
                <label class="col-md-6 control-label">{{l("LoginInSmsTemplate")}}</label>
                <div class="col-md-6">
                    <select name="EditionName" class="form-control" title="{{l('LoginInSmsTemplate')}}" jq-plugin="selectpicker">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group common-max-width">
                <label class="col-md-6 control-label">{{l("RegisterSmsTemplate")}}</label>
                <div class="col-md-6">
                    <select name="EditionName" class="form-control" title="{{l('RegisterSmsTemplate')}}" jq-plugin="selectpicker">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group common-max-width">
                <label class="col-md-6 control-label">{{l("ChangePwdSmsTemplate")}}</label>
                <div class="col-md-6">
                    <select name="EditionName" class="form-control" title="{{l('ChangePwdSmsTemplate')}}" jq-plugin="selectpicker">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group common-max-width">
                <label class="col-md-6 control-label">{{l("ChangePhoneSmsTemplate")}}</label>
                <div class="col-md-6">
                    <select name="EditionName" class="form-control" title="{{l('ChangePhoneSmsTemplate')}}" jq-plugin="selectpicker">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>