<div class="create-booking" [@routerTransition] *hideItBootstrap="['xs','sm']">
    <form #createBookingForm="ngForm" [formGroup]="bookingBaseInfoForm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span *ngIf="!this.bookingId">{{l('Booking.Create')}}</span>
                            <span *ngIf="this.bookingId">{{l('Booking.Edit')}}</span>
                            <small routerLink="/booking" class="back-btn">
                                <span class="vapps-icon-app-back"></span>
                                <span class="text">{{l('Back')}}</span>
                            </small>
                        </h1>
                        <div>
                            <breadcrumb></breadcrumb>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" (click)="save()" class="btn primary-bgcolor" [disabled]="bookingId?false:(!infoFormValid || !createBookingForm.form.valid)" [buttonBusy]="saving" [busyText]="l('Saving')">
                    <i class="vapps-icon vapps-icon-app-submit"></i>
                    <span>{{l('Save')}}</span>
                </button>
                <button type="botton" (click)="saveAndEdit()" class="btn primary-bgcolor" [disabled]="bookingId?false:(!infoFormValid || !createBookingForm.form.valid)" [buttonBusy]="savingAndEditing" [busyText]="l('Saving')">
                    <i class="vapps-icon-save"></i>
                    <span>{{l('SavingAndEditing')}}</span>
                </button>
                <!-- <button class="btn btn-view"><span class="vapps-icon vapps-icon-app-preview"></span>{{l("View")}}</button> -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <!-- 基本信息 -->
                    <div class="base-info form-horizontal">
                        <div class="card-header card-header-text" data-background-color="orange">
                            <h6 class="card-title">{{l("General")}}</h6>
                        </div>
                        <div class="card-content">
                            <!-- 项目名称 -->
                            <div class="row">
                                <label class="col-md-3 label-on-left">{{l('Booking.Name')}}</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control " type="text" formControlName="bookingName" placeholder="{{l('Booking.Name')}}" required autofocus>
                                        <div *ngIf="bookingName.invalid && (bookingName.dirty || bookingName.touched)">
                                            <small class="text-danger" *ngIf="bookingName.errors.required">{{l('Booking.Name.Required')}}</small>
                                            <small class="text-danger" *ngIf=" bookingName.errors.maxlength">{{l('Booking.Name.MaxLenth',20)}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--项目简介-->
                            <div class="row">
                                <label class="col-md-3 label-on-left">{{l('Booking.Des')}}</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control " rows="5" name="projectIntro" minlength="10" formControlName="bookingDescription" placeholder="{{l('Booking.Des')}}" required></textarea>
                                        <div *ngIf="bookingDescription.invalid && (bookingDescription.dirty || bookingDescription.touched)">
                                            <small class="text-danger" *ngIf="bookingDescription.errors.required">{{l('Booking.Desc.Required')}}</small>
                                            <small class="text-danger" *ngIf=" bookingDescription.errors.minlength">{{l('Booking.Desc.MinLenth',10)}}</small>
                                            <small class="text-danger" *ngIf=" bookingName.errors.maxlength">{{l('Booking.Name.MaxLenth',24)}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--选择联系人-->
                            <div class="row">
                                <label class="col-md-3 label-on-left">{{l('Booking.Contactor')}}</label>
                                <!-- <div class="choose-contact name col-md-3 text-right label-on-left"><span>选择联系人</span></div> -->
                                <div class="col-md-9">
                                    <div class="col-md-6 input-item no-left-padding">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-item no-right-padding">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <kendo-dropdownlist [data]="contactorSelectListData" (valueChange)="contactorChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="contactorSelectDefaultItem"> </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--应约人所需信息选项-->
                            <div class="row">
                                <div class="info-checkbox name col-md-3 text-right label-on-left">
                                    <span>{{l('Booking.InfoOptions')}}</span>
                                </div>
                                <div class="col-md-9 row content">
                                    <div class="margin-top-14">
                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Name')}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.PhoneNumer')}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Gender')}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Age')}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Email')}}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-2 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Address')}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <app-picture-manage #pictureManageModel (sendAllPictureForEdit)="getAllPictureForEdit($event)" [pictureInfo]="pictureInfo"></app-picture-manage>
            </div>
            <div class="col-lg-12">
                <app-time-info (changeInput)="getTimeInfoInput($event)" (timeInfoFormDisabled)="getInfoFormValid($event)" [timeInfo]="timeInfo"></app-time-info>
            </div>
        </div>
    </form>
    <xiaoyuyue-share-booking-model #shareBookingModel [bookingId]="bookingId"></xiaoyuyue-share-booking-model>

</div>



<div class="mobile-create-booking common-container" [@routerTransition] *showItBootstrap="['xs','sm']">
    <tabset class="side-bar" #staticTabs>
        <tab heading="{{l('Booking.BaseInfo')}}" (select)="updateNextIndex(1)">
            <div class="booking-info">
                <div class="card">
                    <form #bookingInfo="ngForm" [formGroup]="bookingBaseInfoForm" class="form-horizontal">
                        <div class="card-content">
                            <div class="row">
                                <label class="col-sm-2 label-on-left"></label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="text" placeholder="{{l('Booking.Name')}}" formControlName="bookingName" required>
                                        <div *ngIf="bookingName.invalid && (bookingName.dirty || bookingName.touched)">
                                            <small class="text-danger" *ngIf="bookingName.errors.required">{{l('Booking.Name.Required')}}</small>
                                            <small class="text-danger" *ngIf=" bookingName.errors.maxlength">{{l('Booking.Name.MaxLenth',20)}}</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <label class="col-sm-3 label-on-right">
                                    <code>required</code>
                                </label> -->
                            </div>

                            <div class="row">
                                <label class="col-sm-2 label-on-left"></label>
                                <div class="col-sm-7">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="text" name="text" placeholder="{{l('Booking.Des')}}" formControlName="bookingDescription" required>
                                        <div *ngIf="bookingDescription.invalid && (bookingDescription.dirty || bookingDescription.touched)">
                                            <small class="text-danger" *ngIf="bookingDescription.errors.required">{{l('Booking.Desc.Required')}}</small>
                                            <small class="text-danger" *ngIf=" bookingDescription.errors.minlength">{{l('Booking.Desc.MinLenth',10)}}</small>
                                            <small class="text-danger" *ngIf=" bookingName.errors.maxlength">{{l('Booking.Name.MaxLenth',24)}}</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- <label class="col-sm-3 label-on-right">
                                        <code>required</code>
                                    </label> -->
                            </div>

                            <div class="row">
                                <label class="label-on-left"></label>
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="label-on-left"></label>
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label"></label>
                                        <kendo-dropdownlist [data]="contactorSelectListData" (valueChange)="contactorChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="contactorSelectDefaultItem"> </kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="pic-upload-title">{{l('PictureUpload')}}</p>
                                    <div class="upload-pic-wrap" UploadPicture (picUploadInfoHandler)="getPicUploadInfoHandler($event)" [browseButtonEle]="'#bookingUploadArea'" [groupId]="1" [dropEle]="" [containerEle]="'#bookingUploadAreaWrap'">
                                        <!-- <div id="uploadArea" class="upload-area"></div> -->
                                        <div class="img-wrap" id="bookingUploadAreaWrap">
                                            <div class="img col-xs-3 col-sm-3">
                                                <div class="item">
                                                    <div id="bookingUploadArea" class="content upload-area"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="img-wrap">
                                            <div class="img col-xs-3 col-sm-3" *ngFor="let pictureItem of pictureInfo; let picIndex = index;">
                                                <div class="item">
                                                    <div class="content" [ngStyle]="{'background-image': 'url(' + pictureItem.pictureUrl + ')'}">
                                                        <span class="triangle" (click)="removeBookingPic(picIndex)"><span class="close-icon vapps-icon-cb-add-img"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </tab>
        <tab heading="{{l('Booking.TimeInfo')}}" (select)="updateNextIndex(2)">
            <div class="time-create">
                <div class="add-time-btn">
                    <span class="icon vapps-icon-cb-add-time" (click)="createTimeField()"></span>
                </div>
                <div *ngIf="isNew">
                    <form #timeCreate="ngForm" [formGroup]="timeBaseInfoForm">
                        <!-- 创建时间段面板 -->
                        <div class="create-time-pannel">
                            <div class="card">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.AvailBookingNum')}}</label>
                                                <input class="form-control" type="number" name="maxBookingNum" formControlName="maxBookingNum" required>
                                                <div *ngIf="maxBookingNum.invalid && (maxBookingNum.dirty || maxBookingNum.touched)">
                                                    <small class="text-danger" *ngIf="maxBookingNum.errors.required">{{l('Booking.MaxBookingNum.Required')}}</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.MaxQueueNum')}}</label>
                                                <input class="form-control" type="number" name="maxQueueNum" formControlName="maxQueueNum" required>
                                                <div *ngIf="maxBookingNum.invalid && (maxBookingNum.dirty || maxBookingNum.touched)">
                                                    <small class="text-danger" *ngIf="maxBookingNum.errors.required">{{l('Booking.MaxQueueNum.Required')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.BookingStartTime')}}</label>
                                                <div class="time-point-wrap">
                                                    <input class="form-control" type="time" name="startHourOfDay" [ngModelOptions]="{standalone: true}" [(ngModel)]="startHourOfDay" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.BookingEndTime')}}</label>
                                                <div class="time-point-wrap">
                                                    <input class="form-control" type="time" name="endHourOfDay" [ngModelOptions]="{standalone: true}" [(ngModel)]="endHourOfDay" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.BookingDate')}}</label>
                                                <!-- <input class="form-control" type="date" name="text" placeholder="时间" required> -->
                                                <div id="createTimeFlatpickr" class="flatpickr-wrap">
                                                    <input class="form-control" type="text" name="bookingDate" [ngModelOptions]="{standalone: true}" [(ngModel)]="localSingleBookingItem.availableDates" data-input required>

                                                    <a class="input-button flatpickr-toggle" title="{{l('Switch')}}" data-toggle>
                                                        <i class="icon-calendar"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-block primary-bgcolor view-btn" [disabled]="timeBaseInfoForm.invalid" (click)="savePanelTimeField()">{{l('Save')}}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 创建时间段展示 -->
                <div class="time-view-wrap" *ngIf="allBookingTime.length>0">
                    <div class="time-item" *ngFor="let item of allBookingTime; let index = index;">
                        <div class="card">
                            <form #timeViewForm="ngForm">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.BookingTime')}}</label>
                                                <input class="form-control" type="text" name="hourOfDay" [(ngModel)]="item.hourOfDay" readonly disabled required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.BookingDate')}}</label>
                                                <input class="form-control" type="text" name="availableDates" [(ngModel)]="item.availableDates" readonly disabled required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.MaxBookingNum')}}</label>
                                                <input class="form-control" type="text" name="maxBookingNum1" #maxBookingNum1="ngModel" [(ngModel)]="item.maxBookingNum" [readonly]="!editingIndex[index]" [disabled]="!editingIndex[index]" required>
                                                <div *ngIf="maxBookingNum1.invalid && (maxBookingNum1.dirty || maxBookingNum1.touched)">
                                                    <small class="text-danger" *ngIf="maxBookingNum1.errors.required">{{l('Booking.MaxBookingNum.Required')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{l('Booking.MaxQueueNum')}}</label>
                                                <input class="form-control" type="text" name="maxQueueNum1" #maxQueueNum1="ngModel" [(ngModel)]="item.maxQueueNum" [readonly]="!editingIndex[index]" [disabled]="!editingIndex[index]" required>
                                                <div *ngIf="maxQueueNum1.invalid && (maxQueueNum1.dirty || maxQueueNum1.touched)">
                                                    <small class="text-danger" *ngIf="maxQueueNum1.errors.required">{{l('Booking.MaxQueueNum.Required')}}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row command-wrap">
                                        <!-- <div class="col-xs-4 command-item">
                                        <span class="vapps-icon-app-copy-2 icon"></span>
                                        <span class="text">复制</span>
                                    </div> -->
                                        <button class="col-xs-4 col-xs-offset-2 command-item" *ngIf="!editingIndex[index]" (click)="editingTimeField(index)">
                                            <span class="vapps-icon-app-edit icon"></span>
                                            <span class="text">{{l('Edit')}}</span>
                                        </button>
                                        <button class="col-xs-4 col-xs-offset-2 command-item" [disabled]="!timeViewForm.form.valid" *ngIf="editingIndex[index]" (click)="saveTimeField(index)">
                                            <span class="vapps-icon-app-edit icon"></span>
                                            <span class="text">{{l('Save')}}</span>
                                        </button>
                                        <div class="col-xs-4 command-item" (click)="deleteTimeField(index)">
                                            <span class="vapps-icon-app-delete icon"></span>
                                            <span class="text">{{l('Delete')}}</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="应约人选项" (select)="updateNextIndex(3)">
            <div class="customer-info-wrap">
                <div class="card">
                    <div class="card-content clearfix">
                        <div class="col-xs-12 title-wrap">
                            <p class="title">{{l('Booking.InfoOptions')}}</p>
                        </div>
                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Name')}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.PhoneNumer')}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Gender')}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Age')}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Email')}}
                                </label>
                            </div>
                        </div>

                        <div class="col-xs-4 item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes"> {{l('Booking.Info.Address')}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
    <button class="btn btn-block next-step primary-bgcolor" *ngIf="!isShowConfirm()" (click)="nextStep()">{{l('NextStep')}}</button>
    <button class="btn btn-block next-step primary-bgcolor" *ngIf="isShowConfirm()" (click)="save()" [buttonBusy]="savingAndEditing" [busyText]="l('Saving')">{{l('Submit')}}</button>
    <button class="btn btn-block next-step primary-bgcolor" *ngIf="isShowConfirm()&&bookingId" (click)="save()" [buttonBusy]="savingAndEditing" [busyText]="l('Saving')">{{l('Update')}}</button>
</div>

<xiaoyuyue-tips *ngIf="isShowImperfectTip" [slogen]="'您需要完善机构信息才能发起预约哦'" [redirectRoute]="'/organization/info'"></xiaoyuyue-tips>
<xiaoyuyue-tips *ngIf="(!isShowImperfectTip&&needImperfectOutlet)" [slogen]="'您需要创建门店才能发起预约哦'" [redirectRoute]="'/outlet/create'"></xiaoyuyue-tips>