@import '_colors';
@import '_variables';

/* kendo grid */

.k-grid thead th {
    padding: 20px 14px 20px 24px;
    border-bottom: 1px solid #E8E7E7;
}

.k-grid thead tr:hover {
    background-color: transparent;
}

.k-grid tbody td {
    padding: 16px;
}

.k-textbox::selection {
    background-color: #3598dc;
    color: #fff;
}

.k-dialog-titlebar {
    background-color: #3598dc;
}

.k-dropdown .k-dropdown-wrap {
    border: none !important;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2)!important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center 100%;
    background-color: transparent;
}

.k-button {
    background-image: none;
}

.k-dialog-buttongroup .k-button.k-primary {
    color: #3598dc;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-state-selected {
    margin: 2px;
    border-radius: 50% !important;
}

.k-link.k-state-selected {
    background-color: $main-color;
}

.k-state-selected {
    background-color: $main-color;
    padding: 4px 8px;
}

.k-pager-wrap .k-state-selected:hover {
    background-color: #ff8c2f;
    box-shadow: none;
    cursor: pointer;
}

.k-pager-wrap .k-link,
.k-pager-wrap .k-state-selected {
    border-radius: 2px;
}

.k-action-buttons .k-primary:hover,
.k-button.k-primary.k-flat.k-state-hover,
.k-button.k-primary.k-flat:hover,
.k-button.k-primary.k-state-hover,
.k-button.k-primary:hover,
.k-dialog-buttongroup .k-button.k-primary.k-state-hover,
.k-dialog-buttongroup .k-button.k-primary:hover,
.k-slider .k-draghandle:hover,
.k-switch-on:hover .k-switch-handle {
    transition: all .6s;
    background-color: #3598dc;
}

.k-i-arrow-60-down:before,
.k-i-arrow-s:before,
.k-i-collapse:before,
.k-i-expand-s:before,
.k-i-sarrow-s:before {
    font-family: $xiaoyuyue-font-family !important;
    content: '\e919';
}

.k-dateinput-wrap,
.k-dropdown-wrap,
.k-multiselect-wrap,
.k-numeric-wrap,
.k-picker-wrap {
    cursor: pointer;
}

::selection {
    color: #FFF !important;
    background-color: $main-color !important;
}

.k-dropdown-wrap .k-input {
    /* padding: 0; */
    height: auto;
}

.k-animation-container-shown .k-list-container {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    background: #fff;
    padding: 5px;
    margin-top: -1px;
}

.k-list .k-item.k-state-focused,
.k-list .k-item:focus {
    box-shadow: none;
}

.k-list .k-item {
    margin: 6px 2px;
    border-radius: 2px;
}

.k-list .k-item.k-state-selected {
    background-color: $main-color;
}

.k-dropdown .k-state-focused {
    box-shadow: none;
    /* box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .03), 1px 0px 0px 1px rgba(0, 0, 0, .04); */
}

.k-state-selected {
    background-color: $main-color;
}

.k-list .k-item:hover.k-state-selected {
    background-color: rgba(255, 141, 65, 0.91);
}

.k-list .k-item:hover,
.k-list-optionlabel:hover {
    color: #FFF;
    background-color: $main-color;
    /* box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4); */
}

.k-dropdown-wrap {
    border: 1px solid #c2cad8 !important;
    background-image: none !important;
    background-color: #FFF !important;
}

.k-dateinput-wrap,
.k-dropdown-wrap,
.k-multiselect-wrap,
.k-numeric-wrap,
.k-picker-wrap {
    border: 0;
}

.k-autocomplete,
.k-combobox,
.k-dateinput,
.k-datepicker,
.k-datetimepicker,
.k-dropdown,
.k-maskedtextbox,
.k-multiselect,
.k-numerictextbox,
.k-timepicker,
.k-datepicker .k-dateinput {
    width: 100%;
    height: 34px;
}

.k-datepicker .k-select,
.k-datetimepicker .k-select,
.k-timepicker .k-select {
    width: auto;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.k-dateinput-wrap .k-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/*重写覆盖kendo-date-picker样式*/

.k-drag-clue,
.k-grid-add-row,
.k-grid-footer,
.k-grid-header,
.k-grid-toolbar,
.k-grouping-header,
.k-pager-wrap {
    background-color: #FFF;
}

.k-grid tr.k-alt {
    background-color: #F9F9F9;
    transition: all .15s;
}

.k-grid td,
.k-grid th {
    border: none;
}

.k-grid tr:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.k-grid-header {
    padding: 0 !important;
}

.x-multiple-date-wrap {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
    right: 0;
    padding-right: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ff9742;
    text-align: right;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
}

.x-multiple-date-wrap .x-multiple-date-check {}

.k-calendar-monthview .k-calendar-weekdays span+span {
    margin-left: 3px;
}

.k-calendar-monthview .k-calendar-weekdays span {
    width: 30px;
    display: inline-block;
    border: 1px solid #ff9742;
    border-radius: 4px;
    transition: all .6s;
    text-align: center;
    font-size: 10px;
}

.k-calendar-monthview .k-calendar-weekdays span:hover {
    cursor: pointer;
    background-color: #ff9742;
}

.common-max-width {
    display: block;
    max-width: 480px;
}

.common-min-width {
    display: block;
    min-width: 150px;
}

.common-input-line-width {
    width: 60%;
}