.side-bar.ani {
    position: relative;
    top: 0;
    left: 0;
    transition: left 0.6s cubic-bezier(0.13, 0.41, 0, 1.17);
    &.fade-out {
        left: 0;
    }
    &.fade-in {
        left: -250px;
    }
}