<div class="picture-manage">
    <div class="portlet light portlet-fit">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject">{{l("UserCenter.Booking.PictureManage")}}</span>
            </div>
        </div>

        <div class="portlet-body">
            <div class="row">
                <div *ngIf="pictureInfo; else hasPictureInfo">
                    <div class="gallery-wrap col-md-6">
                        <div class="picture-item" *ngFor="let pictureUrlItem of pictureInfo">
                            <div class="content"><img [src]="'http://'+pictureUrlItem.pictureUrl" alt="" width=100% height=100%></div>
                        </div>
                    </div>
                </div>
                <ng-template #hasPictureInfo>
                    <div class="gallery-wrap col-md-6">
                        <div class="picture-item" *ngFor="let pictureUrlItem of allPictureUrl">
                            <div class="content"><img *ngIf="allPictureUrl" [src]="pictureUrlItem" alt="" width=100% height=100%></div>
                        </div>
                    </div>
                </ng-template>
                <div class="gallery-action col-md-6">
                    <div class="tip-text">
                        <div class="tips-item clearfix">
                            <span class="pull-left head">icon</span>
                            <span class="pull-left content">提个醒</span>
                        </div>
                        <div class="tips-item clearfix">
                            <span class="pull-left head">1</span>
                            <span class="pull-left content">支持jpg/gif/png格式，单张图片大小不超过2M， 最多上传4张图片；</span>
                        </div>
                        <div class="tips-item clearfix">
                            <span class="pull-left head">2</span>
                            <span class="pull-left content">所有图片皆有自动添加水印；</span>
                        </div>
                        <div class="tips-item clearfix">
                            <span class="pull-left head">3</span>
                            <span class="pull-left content">上传图片不得违反国家相关法律法规，本站有权对争议图片进行删改。</span>
                        </div>
                    </div>
                    <div class="upload-wrap">
                        <button class="upload btn btn-border-radius" (click)="createUser()"><span class="vapps-icon vapps-icon-app-upload"></span>本地上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <uploadPictureModel #uploadPictureModel (getAllPictureUrl)="getAllPictureUrl($event)" (sendPictureForEdit)="getPictureForEdit($event)"></uploadPictureModel>

</div>