.wrap {
    height: 100vh;
    .mobile-page-content {
        width: 100%;
        position: absolute;
        top: 55px;
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}