<div *hideItBootstrap="['xs','sm']">
    <header></header>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <side-bar id="sidebar"></side-bar>
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>


<div *showItBootstrap="['xs','sm']">
    <div class="wrap side-bar ani"  [ngClass]="{'fade-in': toggleSidebarFlag, 'fade-out': !toggleSidebarFlag}">
        <header></header>
        <div class="mobile-page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <xiaoyuyue-mobile-side-bar></xiaoyuyue-mobile-side-bar>
</div>


<!-- <footer></footer> -->