<div *hideItBootstrap="['xs','sm']">
    <div class="tip-old-browser" *ngIf="isOldBroFlag">
        <div class="content clearfix">
            <div class="text-tips pull-left">
                {{ l('NotSupportBrowser.Hint') }}
            </div>
            <div class="command pull-right">
                <button type="button" class="btn" routerLink="/supported-browsers">{{ l('NotSupportBrowser.More.Hint') }}</button>
                <button type="button" class="btn" (click)="hideTipOldBrowser()">{{ l('NotSupportBrowser.Ignore.Hint') }}</button>
            </div>
        </div>
    </div>
    <header class="header-wrap" [ngClass]="{'down': isOldBroFlag}"></header>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <side-bar id="sidebar"></side-bar>
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>


<div *showItBootstrap="['xs','sm']">
    <div class="wrap side-bar ani" [ngClass]="{'fade-in': toggleSidebarFlag, 'fade-out': !toggleSidebarFlag}">
    <!-- <div class="wrap side-bar"> -->
        <header></header>
        <div class="mobile-page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <xiaoyuyue-mobile-side-bar></xiaoyuyue-mobile-side-bar>
</div>
<!-- <footer></footer> -->