<div class="custom-list" [@routerTransition]>

    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>应约人列表</span>
                    </h1>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">{{l("Search")}}</span>
                    </div>
                </div>

                <div class="portlet-body clearfix">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form class="form-horizontal">
                                <div class="row">
                                    <!-- 姓名  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">客户姓名</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" [(ngModel)]="customerName" type="text" name="customerName" placeholder="姓名">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 预约项目名称  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">预约名称</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" [(ngModel)]="bookingName" type="text" name="bookingName" placeholder="预约项目名称">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 性别  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">客户性别</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="genderSelectListData" (valueChange)="genderChangeHandler($event)" [textField]="'displayText'" [valueField]="'value'" [valuePrimitive]="true" [defaultItem]="searchActiveSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 预约日期  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">预约日期</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" id="bookingDate" [(ngModel)]="bookingDate" type="text" name="bookingDate" placeholder="预约日期">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 电话号码  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">电话号码</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" [(ngModel)]="phoneNumber" type="text" name="phoneNumber" placeholder="电话号码">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 创建时间  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">创建时间</label>
                                            <div class="col-md-9" style="padding-right: 0; padding-left: 0;">
                                                <div class="col-md-6">
                                                    <input class="form-control" id="startCreationTime" [(ngModel)]="creationStartDate" type="text" name="startCreationTime" placeholder="请选择起始日期" data-input>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="endCreationTime" [(ngModel)]="creationEndDate" type="text" name="endCreationTime" placeholder="请选择结束日期" data-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 预约状态  -->
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">预约状态</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="orderStatusSelectList" (valueChange)="orderStatusChangeHandler($event)" [textField]="'displayText'" [valueField]="'value'" [valuePrimitive]="true" [defaultItem]="searchActiveSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-xs-6 col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-3 common-min-width">
                                        <div class="text-center filter-action">
                                            <button class="btn btn-block" (click)="loadData()"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-12" *ngIf="organizationBookingResultData">
            <div class="pull-right">
                <div class="has-text-centered">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="上一页" nextLabel="下一页" autoHide="false"></pagination-controls>
                </div>
            </div>
        </div> -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-body clearfix">
                    <kendo-grid xiaoyuyueGridRowClick (editRow)="editRowHandler($event)" [data]="customerListData | async" [pageSize]="maxResultCount" [skip]="skipCount" [sort]="sorting" [pageable]=" { buttonCount: buttonCount, info: info, type: type, pageSizes: pageSizes, previousNext: previousNext }"
                        [sortable]="false" (dataStateChange)="dataStateChange($event)">
                        <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}" pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}" pagerFirstPage="{{l('FirstPage')}}"
                            pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>

                        <!-- 订单状态  -->
                        <kendo-grid-column title="订单状态" width="84px">
                            <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                                <span class="order-status" [ngClass]="setOrderTipsClass(dataItem.status)">{{ bookingOrderStatusName[dataItem.status-1] }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 应约人 -->
                        <kendo-grid-column title="应约人" width="160px">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <img src="assets/common/images/default-profile-picture.png" width="50px" alt="avatar" class="avatar">
                                <span>{{ dataItem.customerName }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 预约项目名称 -->
                        <kendo-grid-column title="预约项目名称">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ dataItem.bookingName }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 预约门店 -->
                        <kendo-grid-column title="预约门店">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ dataItem.outletName }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 预约时间 -->
                        <kendo-grid-column title="预约时间">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ dataItem.hourOfDay }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 应约人数 -->
                        <kendo-grid-column title="应约人数">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ dataItem.subscriberNum }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 电话 -->
                        <kendo-grid-column title="电话">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ dataItem.phoneNum }}</span>
                            </ng-template>
                        </kendo-grid-column>

                        <!-- 订单创建时间 -->
                        <kendo-grid-column title="订单创建时间">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <span>{{ t(dataItem.creationTime) }}</span>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>
        </div>

        <xiaoyuyue-customer-for-edit-model #customerForEditModelComponent (isShowModelHander)="isShowComfirmOrderModelHander($event)"></xiaoyuyue-customer-for-edit-model>
    </div>
</div>