<div [@routerTransition]>
    <form #forgotPassForm="ngForm" method="post" (ngSubmit)="save()">
        <div class="forgot-passwd-wrap">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>
            <h3 class="form-title">{{l("ForgotPassword")}}</h3>
            <p>{{ l('SendPasswordResetLink_Information') }}</p>
            <div class="forgot-body">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <label class="control-label visible-ie8 visible-ie9">{{l("EmailAddress")}}</label>
                    <input [(ngModel)]="model.emailAddress" [class.edited]="model.emailAddress && model.emailAddress.length > 0" placeholder="{{l('EmailAddress')}}"
                        autoFocus class="form-control edited" type="text" autocomplete="off" name="emailAddress" id="userEmailAddress"
                        required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                    <label for="userEmailAddress"></label>
                </div>

                <div class="form-item clearfix account-action">
                    <button [disabled]="saving" routerLink="/auth/login" type="button" class="btn btn-default">
                        <i></i> {{l("Back")}}</button>
                    <button type="submit" class="btn primary-bgcolor" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('Saving')">
                        <i></i>
                        <span>提交</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>