.reset-passwd-wrap {
    width: 380px;
    position: relative;
    margin: 100px auto 0;
    padding: 60px 30px 30px;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    text-align: center;
    .logo-wrap {
        width: 100px;
        height: 100px;
        line-height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        border-radius: 50%;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
        img {
            display: inline-block;
            margin-right: 6px;
        }
    }
    .reset-body {
        text-align: left;
        .form-item {
            width: 100%;
        }
        .account-action {
            color: #FF9641;
            margin-top: 20px;
            text-align: center;
        }
    }
}