.confirm-order-wrap {
    .modal-dialog {
        margin-top: 40px;
        .modal-content {
            .modal-body {
                padding: 0px;
                img.avatar {
                    border-radius: 100%;
                    width: 26px;
                }
                .order-grid {
                    width: 100%;
                }
            }
        }
    }
}