.confirm-order-wrap {
    .modal-dialog {
        width: 974px;
        border-radius: 2px;
        .modal-content {
            border-radius: 4px;
            overflow: hidden;
            .btn-white {
                color: #FF9641;
                background-color: #FFF;
            }
            .confirm-btn {
                padding: 4px 8px;
                margin: 0;
                background-color: #FF9641;
            }
            .modal-header {
                height: 72px;
                line-height: 72px;
                padding: 0 40px;
                color: #FFF;
                background-color: #FF9641;
                .title-name {
                    float: left;
                }
                .process-batch {
                    float: right;
                    margin-top: 16px;
                }
            }
        }
    }
}