<div class="picture-lsit-wrap" [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>图片库</span>
                    </h1>
                    <div>
                        <breadcrumb></breadcrumb>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn primary-bgcolor" (click)="uploadPicModel()">
                <i class="vapps-icon-app-upload"></i>本地上传</button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="content-header clearfix">
                        <div class="card-header card-header-text pull-left" data-background-color="orange">
                            <h6 class="card-title">全部图片</h6>
                        </div>

                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" name="checkAll" ngModel (ngModelChange)="allSelectedHandler($event)" />{{ checkAllText }}
                            </label>
                        </div>

                        <button class="btn" (click)="movePicHandler($event, undefined)" [ngClass]="{'primary-bgcolor': selectedPicListArr.length > 0}" [disabled]="!(selectedPicListArr.length > 0)">
                            <span class="vapps-icon-app-move"></span> 移动</button>
                        <button class="btn" (click)="deletePicHandler($event, undefined)" [ngClass]="{'primary-bgcolor': selectedPicListArr.length > 0}" [disabled]="!(selectedPicListArr.length > 0)">
                            <span class="vapps-icon-app-delete"></span> 删除</button>
                    </div>

                    <div class="card-content clearfix">
                        <div class="row">
                            <div class="pic-gallery-wrap">
                                <div class="flex-left" *ngIf="picGroupItemData">
                                    <div [@routerTransition] class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of picGroupItemData | paginate: { itemsPerPage: maxResultCount, currentPage: currentPage,totalItems: totalItems }; let selectPicIndex = index;">
                                        <div class="pic-item" [ngClass]="{'active': item.selected == true }">
                                            <!-- <div class="img-wrap"></div> -->
                                            <div class="img-wrap" [ngStyle]="{'background-image': 'url(' + item.picUrl + ')'}" (click)="selectPicHandler(item, selectPicIndex)">
                                                <div class="bg-cover"></div>
                                                <div class="bg-tools">
                                                    <div class="wrap clearfix">
                                                        <div class="tool-item pull-left" title="删除" (click)="deletePicHandler($event, item)">
                                                            <span class="icon vapps-icon-app-delete"></span>
                                                        </div>
                                                        <div class="tool-item pull-right" title="移动" (click)="movePicHandler($event, item)">
                                                            <span class="icon vapps-icon-app-move"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="img-name text-overflow" (dblclick)="editingPicNameHandler($event, selectPicIndex)" title="双击修改图片名称">
                                                <input type="text" class="text-overflow" name="picName" [title]="picRename(item.name)" [ngClass]="{'input-border': editingPicName[selectPicIndex]}" [readonly]="!editingPicName[selectPicIndex]" [value]="picRename(item.name)" (keyup.enter)="picRenameEnter($event, selectPicIndex)"
                                                    (blur)="picRenameEnter($event, selectPicIndex)">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div [@routerTransition] class="flex-right">
                                    <div class="side-bar">
                                        <div class="sub-item" *ngFor="let groupItem of picGalleryGroupData; let index = index" [ngClass]="{'active': groupActiveIndex == index }" title="{{ groupItem.name }}({{ groupItem.pictureNum }})" (click)="eventStopPropagation($event)">
                                            <div class="left-item text-overflow">
                                                <div (click)="groupItemActive(groupItem,index)" *ngIf="!editingGroupName || !(editingGroupNameIndex == index)">{{ groupItem.name }} ({{ groupItem.pictureNum}})</div>
                                                <input type="text text-overflow" style="width: 100%;" autofocus name="groupName" *ngIf="editingGroupName && editingGroupNameIndex == index" [value]="groupItem.name" [readonly]="!editingGroupName" (keyup.enter)="updatePicGroupService(groupItem.id, $event)">
                                            </div>
                                            <div class="right-item clearfix" *ngIf="!groupItem.isSystemGroup">
                                                <div class="pull-right" *ngIf="!editingGroupName || editingGroupNameIndex !== index">
                                                    <span class="vapps-icon-app-edit-group pull-right" title="编辑名称" (click)="showUpdatePicInput(index)"></span>
                                                    <span class="vapps-icon-app-remove-group pull-right" title="删除分组" (click)="removePicGroupService(groupItem.id)"></span>
                                                </div>
                                                <div class="pull-right" *ngIf="editingGroupName && editingGroupNameIndex == index" (click)="updatePicGroupService(groupItem.id, $event)">
                                                    <span class="vapps-icon-app-confirm" title="保存名称"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="sub-item text-overflow" (click)="showCreatePicInput()">+ 新建分组</p>
                                        <p class="sub-item text-overflow new-group" *ngIf="picGroupCreating">
                                            <input type="text" placeholder="新分组" id="newGroupName" name="newGroupName" [(ngModel)]="picGroupInputDto.name" (keyup.enter)="createPicGroupService()" (blur)="closeCreatePicGroup()">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right gallery-pagination">
                            <div class="has-text-centered">
                                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel [cropScaleX]="16" [cropScaleY]="9" (picUploadInfoHandler)="getPicUploadInfoHandler($event)"
    [groupId]="selectedGroupId" [uploadUid]="uploadUid"></xiaoyuyue-upload-picture-none-gallery>

<div class="move-action-wrap clearfix" (click)="eventStopPropagation($event)" [style.top]="moveGroupTemplateY-50+'px'" [style.left]="moveGroupTemplateX+'px'" [hidden]="!isMoveGroupTemplate">
    <div class="checkbox-radios col-lg-6 col-md-6 col-sm-6" *ngFor="let groupItem of picGalleryGroupData; let index = index">
        <div class="radio">
            <label>
                <input type="radio" name="moveGroup" [value]="groupItem.id" [(ngModel)]="selectedMoveGroupInput.groupId" [checked]="groupItem.id == -1">{{ groupItem.name }}
            </label>
        </div>
    </div>

    <div class="action-btn-wrap col-lg-12">
        <button class="btn primary-bgcolor" (click)="movePicToGroupService()">确认</button>
        <button class="btn" (click)="hideMoveGroupTemplate()">取消</button>
    </div>
</div>