        .upload-logo-pic-wrap {
            width: 60%;
            margin: 0 auto;
            background-color: #EEE;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }