<div class="card org-logo-wrap">
    <div class="card-header card-header-text" data-background-color="orange">
        <h6 class="card-title">机构Logo</h6>
    </div>
    <div class="card-content">
        <div class="upload-logo-pic-wrap" (click)="uploadOrgLogo()">
            <img width="100%" *ngIf="orgLogoUrl" [src]="orgLogoUrl">
        </div>
    </div>
    <xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel (picUploadInfoHandler)="getPicUploadInfoHandler($event)" [uploadUid]="uploadUid"></xiaoyuyue-upload-picture-none-gallery>
</div>