<div class="portlet light portlet-fit">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject">机构LOGO</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="upload-logo-pic-wrap" (click)="uploadOrgLogo()">
            <img width="100%" *ngIf="orgLogoUrl" [src]="orgLogoUrl">
        </div>
    </div>
    <xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel [uniqueUid]="uniqueUid" (picUploadInfoHandler)="getPicUploadInfoHandler($event)"></xiaoyuyue-upload-picture-none-gallery>
</div>