.modal-dialog {
    .modal-content {
        .modal-header {
            position: relative;
            .xiaoyuyue-title-box {
                width: 90%;
                height: 64px;
                line-height: 64px;
            }
        }
        .modal-body {}
        .modal-footer {
            text-align: center;
        }
    }
}