<div class="manage-booking" [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("UserCenter.Menu.ManageBooking.List")}}</span>
                    </h1>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">{{l("Search")}}</span>
                    </div>
                </div>

                <div class="portlet-body clearfix">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("UserCenter.Booking.BookingName")}}</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" [(ngModel)]="bookingName" type="text" name="bookingName" placeholder="{{l('UserCenter.Booking.BookingName')}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("CreationTime")}}</label>
                                            <div class="col-md-9" style="padding-right: 0; padding-left: 0;">
                                                <div class="col-md-6">
                                                    <input class="form-control startCreationTime" type="text" name="startCreationTime" placeholder="请选择起始日期" [(ngModel)]="startCreationTime" data-input>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control endCreationTime" type="text" name="endCreationTime" placeholder="请选择结束日期" [(ngModel)]="endCreationTime" data-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("UserCenter.Booking.TenantField")}}</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChangeHandler($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("UserCenter.Booking.BookingState")}}</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="bookingActiveSelectListData" (valueChange)="bookingActiveChangeHandler($event)" [textField]="'displayText'" [valueField]="'value'" [valuePrimitive]="true" [defaultItem]="bookingActiveSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-xs-6 col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-3 common-min-width">
                                        <div class="text-center filter-action">
                                            <button class="btn btn-block" (click)="loadData()"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-12 booking-list-wrap">
            <!-- 翻转最外层，包含翻转前front-wrap / 翻转后back-wrap -->
            <div *ngFor="let bookingResultItem of organizationBookingResultData;let index = index" class="col-lg-3 col-md-3 col-sm-4 booking-item flip" #flipAni>
                <!--翻转前-->
                <div class="no-padding front-wrap box-shadow" #disabledAni [ngClass]="{'disabled-booking': !bookingResultItem.isActive}">
                    <div class="top-banner-wrap">
                        <div class="org-bg"><img src="/assets/common/images/admin/booking-bg.jpg" alt="org-bg" width="100%"></div>
                    </div>
                    <div class="booking-details">
                        <div class="xiaoyuyue-title-box">{{bookingResultItem.name}}</div>
                        <div class="content clearfix">
                            <div class="booking-overbrim pull-left"><img src="/assets/common/images/admin/booking-circle.jpg" alt="" width="100%"></div>
                            <div class="booking-info pull-right">
                                <div class="info-row-item">
                                    <span class="key">已预约人数</span><span class="value">{{bookingResultItem.subBookedNum}}</span>
                                </div>
                                <div class="info-row-item">
                                    <span class="key">可预约人数</span><span class="value">{{bookingResultItem.subMaxBookingNum}}</span>
                                </div>
                                <div class="info-row-item">
                                    <span class="key">已排队人数</span><span class="value">{{bookingResultItem.subQueueNum}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 蒙版遮罩 -->
                    <div class="booking-item-cover clearfix" *ngIf="bookingResultItem.isActive">
                        <div class="qr-code-wrap"><img src="/assets/common/images/qr-code.png" alt="qr-code" width="100%"></div>
                        <div class="handle-wrap">
                            <div class="handle-item-1 row">
                                <span class="item col-md-6 col-sm-6 col-xs-6" (click)="disabledBookingClass(disabledAni, index)"><i class="vapps-icon-app-disable"></i>禁用</span>
                                <span class="item col-md-6 col-sm-6 col-xs-6"><i class="vapps-icon-app-share"></i>分享</span>
                            </div>
                            <div class="handle-item-2 pull-right">
                                <span class="btn btn-default vapps-icon-app-delete" (click)="removeBooking(index)"></span>
                                <span class="btn btn-default vapps-icon-app-copy-1" (click)="copyBooking(index)"></span>
                                <span class="btn btn-default vapps-icon-app-detail" (click)="flipToBack(flipAni, $event)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="booking-item-cover clearfix" *ngIf="!bookingResultItem.isActive">
                        <div class="handle-wrap">
                            <div class="handle-item-1 row">
                                <span class="item col-md-6 active" (click)="beforeBookingClass(disabledAni, index)"><i class="vapps-icon-app-active"></i>激活</span>
                            </div>
                            <div class="handle-item-2 pull-right">
                                <span class="btn btn-default vapps-icon-app-delete"></span>
                                <span class="btn btn-default vapps-icon-app-detail" (click)="flipToBack(flipAni, $event)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--翻转后-->
                <div class="back-wrap box-shadow">
                    <div class="portlet light portlet-fit">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject">{{l("UserCenter.Booking.BookingDetail")}}</span>
                            </div>
                        </div>
                        <div class="portlet-body content-wrap clearfix">
                            <div class="content-item">
                                <div class="name">{{bookingResultItem.name}}</div>
                                <span class="vapps-icon-app-edit" (click)="editHandler(bookingResultItem.id)"></span>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderTenant")}}</div>
                                <div class="desc">{{bookingResultItem.outlet}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderTime")}}</div>
                                <div class="desc">{{bookingResultItem.time}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderPlace")}}</div>
                                <div class="desc">{{bookingResultItem.outletAddress}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderName")}}</div>
                                <div class="desc">{{bookingResultItem.contactor}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderPhone")}}</div>
                                <div class="desc">{{bookingResultItem.contactorTelephone}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("UserCenter.Booking.ResponderNumber")}}</div>
                                <div class="desc">{{bookingResultItem.wait4ConfirmNum}}</div>
                            </div>
                            <div class="back clearfix" (click)="flipToFront(flipAni, $event)">
                                <span class="vapps-icon-app-back btn btn-xs btn-default pull-right"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="pull-right">
                <ul class="pagination pagination-info">
                    <li><a href="javascript:void(0);" (click)="firstPage()"><span class="vapps-icon-app-first-page"></span></a></li>
                    <li><a href="javascript:void(0);" (click)="prevPage(currentPage)"><span class="fa fa-angle-left"></span></a></li>
                    <li *ngFor="let pages of pagesTotal; let index = index;" [ngClass]="{'active': index == currentPage}" (click)="changePage(index)"><a href="javascript:void(0);">{{pages}}</a></li>
                    <li><a href="javascript:void(0);" (click)="nextPage(currentPage)"><span class="vapps-icon-app-next-page"></span></a></li>
                    <li><a href="javascript:void(0);" (click)="lastPage()"><span class="vapps-icon-app-last-page"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>