<div class="manage-booking" [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("BusinessCenter.Menu.ManageBooking.List")}}</span>
                    </h1>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light portlet-fit">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject">{{l("Search")}}</span>
                    </div>
                </div>

                <div class="portlet-body clearfix">
                    <div class="inputs inputs-full-width">
                        <div class="portlet-input">
                            <form class="form-horizontal">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("BusinessCenter.Booking.BookingName")}}</label>
                                            <div class="col-md-9">
                                                <input class="form-control common-max-width" [(ngModel)]="bookingName" type="text" name="bookingName" placeholder="{{l('BusinessCenter.Booking.BookingName')}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("CreationTime")}}</label>
                                            <div class="col-md-9" style="padding-right: 0; padding-left: 0;">
                                                <div class="col-md-6">
                                                    <input class="form-control startCreationTime" type="text" name="startCreationTime" placeholder="请选择起始日期" [(ngModel)]="startCreationTime" data-input>
                                                </div>
                                                <div class="col-md-6">
                                                    <input class="form-control endCreationTime" type="text" name="endCreationTime" placeholder="请选择结束日期" [(ngModel)]="endCreationTime" data-input>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("BusinessCenter.Booking.TenantField")}}</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChangeHandler($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">
                                        <div class="form-group common-max-width">
                                            <label class="col-md-3 control-label">{{l("BusinessCenter.Booking.BookingState")}}</label>
                                            <div class="col-md-9">
                                                <kendo-dropdownlist [data]="bookingActiveSelectListData" (valueChange)="bookingActiveChangeHandler($event)" [textField]="'displayText'" [valueField]="'value'" [valuePrimitive]="true" [defaultItem]="bookingActiveSelectDefaultItem"></kendo-dropdownlist>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-10">
                                    <div class="col-xs-6 col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-3 common-min-width">
                                        <div class="text-center filter-action">
                                            <button class="btn btn-block" (click)="loadData()"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-12 booking-list-wrap" *ngIf="organizationBookingResultData">
            <!-- 翻转最外层，包含翻转前front-wrap / 翻转后back-wrap -->
            <div *ngFor="let bookingResultItem of organizationBookingResultData | paginate: { itemsPerPage: maxResultCount, currentPage: currentPage,totalItems: totalItems };let index = index" class="col-lg-3 col-md-4 col-sm-4 booking-item flip" #flipAni>
                <!--翻转前-->
                <div class="no-padding front-wrap box-shadow" #disabledAni [ngClass]="{'disabled-style': !bookingResultItem.isActive}">
                    <div class="top-banner-wrap">
                        <div class="org-bg"><img #bookingBg [src]="bookingResultItem.pictureUrl == '' ? pictureDefaultBgUrl : bookingResultItem.pictureUrl" alt="图片加载失败" width="100%"></div>
                    </div>
                    <div class="booking-details">
                        <div class="xiaoyuyue-title-box">{{bookingResultItem.name}}</div>
                        <div class="content clearfix">
                            <div class="pull-left">
                                <div class="booking-overbrim" [ngClass]="countOverbrimState(bookingResultItem.subMaxBookingNum, bookingResultItem.subBookedNum)">
                                    <div class="wave">
                                        <span class="before" [ngStyle]="{'top': countOverbrimTop(bookingResultItem.subMaxBookingNum, bookingResultItem.subBookedNum)}"></span>
                                        <span class="after" [ngStyle]="{'top': countOverbrimTop(bookingResultItem.subMaxBookingNum, bookingResultItem.subBookedNum)}"></span>
                                    </div>
                                </div>
                                <div class="overbrim-value">{{ getOverbrimValue(bookingResultItem.subMaxBookingNum, bookingResultItem.subBookedNum) }}</div>
                            </div>
                            <div class="booking-info pull-right">
                                <div class="info-row-item">
                                    <span class="key">已预约人数</span><span class="value">{{bookingResultItem.subBookedNum}}</span>
                                </div>
                                <div class="info-row-item">
                                    <span class="key">可预约人数</span><span class="value">{{bookingResultItem.subMaxBookingNum}}</span>
                                </div>
                                <div class="info-row-item">
                                    <span class="key">已排队人数</span><span class="value">{{bookingResultItem.subQueueNum}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 蒙版遮罩 -->
                    <div class="booking-item-cover unselectable clearfix" *ngIf="bookingResultItem.isActive">
                        <div class="qr-code-wrap">
                            <qr-code [value]="shareBaseUrl+bookingResultItem.id" [size]="118"></qr-code>
                        </div>
                        <div class="handle-wrap">
                            <div class="handle-item-1 row">
                                <span class="item col-md-6 col-sm-6 col-xs-6" (click)="disabledBookingClass(disabledAni, index)"><i class="vapps-icon-app-disable"></i>禁用</span>
                                <span class="item col-md-6 col-sm-6 col-xs-6" (click)="shareHandler(bookingResultItem.id)"><i class="vapps-icon-app-share"></i>分享</span>
                            </div>
                            <div class="handle-item-2 pull-right">
                                <span class="btn item-wrap" (click)="removeBooking(index)" title="删除预约">
                                    <span class="show-icon vapps-icon-app-delete"></span><span class="show-text">删除</span>
                                </span>

                                <span class="btn item-wrap" (click)="copyBooking(index)" title="复制预约">
                                    <span class="show-icon vapps-icon-app-copy-1"></span><span class="show-text">复制</span>
                                </span>

                                <span class="btn item-wrap" (click)="flipToBack(flipAni, $event)" title="查看详情">
                                    <span class="show-icon vapps-icon-app-detail"></span><span class="show-text">详情</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="booking-item-cover clearfix" *ngIf="!bookingResultItem.isActive">
                        <div class="handle-wrap">
                            <div class="handle-item-1 row">
                                <span class="item col-md-6 active" (click)="beforeBookingClass(disabledAni, index)">
                                    <i class="vapps-icon-app-active"></i>激活
                                </span>
                            </div>
                            <div class="handle-item-2 pull-right">
                                <span class="btn item-wrap" (click)="removeBooking(index)" title="删除预约">
                                    <span class="show-icon vapps-icon-app-delete"></span><span class="show-text">删除</span>
                                </span>

                                <span class="btn item-wrap" (click)="flipToBack(flipAni, $event)" title="查看详情">
                                    <span class="show-icon vapps-icon-app-detail"></span><span class="show-text">详情</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- 待确认人数  -->
                    <div class="wait-confirm-num" *ngIf="bookingResultItem.wait4ConfirmNum > 0" (click)="showConfirmOrderHander(bookingResultItem.id)">{{ bookingResultItem.wait4ConfirmNum}}</div>
                </div>
                <!--翻转后-->
                <div class="back-wrap box-shadow">
                    <div class="portlet light portlet-fit">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject">{{l("BusinessCenter.Booking.BookingDetail")}}</span>
                            </div>
                        </div>
                        <div class="portlet-body content-wrap clearfix">
                            <div class="content-item">
                                <div class="name">{{bookingResultItem.name}}</div>
                                <span class="vapps-icon-app-edit" (click)="editHandler(bookingResultItem.id)"></span>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderTenant")}}</div>
                                <div class="desc text-overflow" [title]="bookingResultItem.outlet">{{bookingResultItem.outlet}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderTime")}}</div>
                                <div class="desc text-overflow" [title]="bookingResultItem.availableBookingTime">{{bookingResultItem.availableBookingTime}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderPlace")}}</div>
                                <div class="desc text-overflow" [title]="bookingResultItem.outletAddress">{{bookingResultItem.outletAddress}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderName")}}</div>
                                <div class="desc text-overflow">{{bookingResultItem.contactor}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderPhone")}}</div>
                                <div class="desc text-overflow">{{bookingResultItem.contactorPhoneNum}}</div>
                            </div>
                            <div class="content-item">
                                <div class="name">{{l("BusinessCenter.Booking.ResponderNumber")}}</div>
                                <div class="desc text-overflow">{{bookingResultItem.wait4ConfirmNum}}</div>
                            </div>
                            <div class="back clearfix" (click)="flipToFront(flipAni, $event)">
                                <span class="vapps-icon-app-back btn btn-xs btn-default pull-right"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12" *ngIf="organizationBookingResultData">
            <div class="pull-right">
                <div class="has-text-centered">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="上一页" nextLabel="下一页" autoHide="false"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <xiaoyuyue-share-booking-model #shareBookingModel></xiaoyuyue-share-booking-model>
    <xiaoyuyue-confirm-order-model #confirmOrderModelComponent (isShowModelHander)="isShowComfirmOrderModelHander($event)"></xiaoyuyue-confirm-order-model>
</div>