<div class="share-booking">
    <div bsModal #shareBookingModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shareBookingModel" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
            <div class="xiaoyuyue-title-box">保存成功</div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="share-source-wrap">
                        <p class="share-title">分享预约</p>
                        <div class="share-btn-wrap">
                            <a href="#" class="btn-item"><span><img src="/assets/common/images/admin/wechat-x2.png" alt="wechat" width="100%"></span></a>
                            <a href="#" class="btn-item"><span><img src="/assets/common/images/admin/friends-x2.png" alt="friends" width="100%"></span></a>
                            <a href="#" class="btn-item"><span><img src="/assets/common/images/admin/qq-x2.png" alt="qq" width="100%"></span></a>
                            <a href="#" class="btn-item"><span><img src="/assets/common/images/admin/qzone-x2.png" alt="qzone" width="100%"></span></a>
                            <a href="#" class="btn-item"><span><img src="/assets/common/images/admin/weibo-x2.png" alt="weibo" width="100%"></span></a>
                        </div>
                        <div class="qr-code-wrap">
                            <qr-code [value]="shareUrl" [size]="200"></qr-code>
                            <p>分享预约,让更多人参与</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-submit"><span class="vapps-icon vapps-icon-app-confirm"></span>分享</button>
                </div>
            </div>
        </div>
    </div>
</div>