<div class="time-info">
    <div class="card ">
        <form #timeInfoForm="ngForm" class="form-horizontal">
            <div class="clearfix">
                <div class="card-header card-header-text pull-left" data-background-color="orange">
                    <h6 class="card-title">{{l("Booking.TimeInfo")}}</h6>
                </div>
                <div class="pull-right add-time">
                    <span (click)="createTimeField()" class="btn btn-border-radius light-bgcolor"><span class="vapps-icon vapps-icon-app-add-booking-item"></span>{{l('Booking.AddTime')}}</span>
                </div>
            </div>

            <div class="card-content clearfix">
                <!-- 创建时间段 -->
                <div style="width: 100%;" [formGroup]="timeBaseIngoForm" *ngIf="isCreateTimeField" class="clearfix">
                    <div class="col-md-6 time-info-wrap create-time-info box-shadow border-radius-14 pull-left paddingTop-32">
                        <div class="xiaoyuyue-title-box"></div>
                        <div class="time-item clearfix clearfix">
                            <div class="col-md-3 text-right label-on-left"><span>{{l("Booking.MaxBookingNum")}}</span></div>
                            <div class="col-md-9 row input-box">
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="number" name="maxBookingNum" formControlName="maxBookingNum" required autofocus>
                                        <div *ngIf="maxBookingNum.invalid && (maxBookingNum.dirty || maxBookingNum.touched)">
                                            <small class="text-danger" *ngIf="maxBookingNum.errors.required">{{l('Booking.MaxBookingNum.Required')}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-item clearfix">
                            <div class="col-md-3 text-right label-on-left"><span>{{l("Booking.MaxQueueNum")}}</span></div>
                            <div class="col-md-9 row input-box">
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control" type="number" name="maxQueueNum" formControlName="maxQueueNum" required>
                                        <div *ngIf="maxQueueNum.invalid && (maxQueueNum.dirty || maxQueueNum.touched)">
                                            <small class="text-danger" *ngIf="maxQueueNum.errors.required">{{l('Booking.MaxQueueNum.Required')}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-item clearfix booking-date-item">
                            <div class=" col-md-3 text-right label-on-left"><span>{{l("Booking.BookingDate")}}</span></div>
                            <div class="col-md-9 row input-box">
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <div id="timeInfoFlatpickr" class="flatpickr-wrap">
                                            <input class="form-control" type="text" name="bookingDate" placeholder="{{l('ChooseDate')}}" [ngModelOptions]="{standalone: true}"
                                                [(ngModel)]="editingBookingItem.availableDates" data-input required>

                                            <a class="input-button flatpickr-toggle" title="{{l('Switch')}}" data-toggle>
                                                <i class="icon-calendar"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="checkbox multiple-date-checkbox">
                                        <label>
                                            <input type="checkbox" name="optionsCheckboxes" ngModel (ngModelChange)="multipleDateHandler($event)" [ngModelOptions]="{standalone: true}"> 多选
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-item clearfix booking-time-item clearfix clearfix" style="height: 100%">
                            <div class="col-md-3 text-righ label-on-left"><span>{{l("Booking.BookingTime")}}</span></div>
                            <div class="col-md-9 row input-box clearfix">
                                <div *ngFor="let bookingTimeItem of allBookingTime; let index = index;" class="item">
                                    <div class="form-group">
                                        <div class="col-md-9" style="padding-right: 0; padding-left: 0;">
                                            <label class="control-label"></label>
                                            <div class="col-md-6">
                                                <kendo-dateinput [format]="'HH:mm'" [(value)]="bookingTimeItem[0]"></kendo-dateinput>
                                            </div>
                                            <div class="col-md-6">
                                                <kendo-dateinput [format]="'HH:mm'" [(value)]="bookingTimeItem[1]"></kendo-dateinput>
                                            </div>
                                        </div>
                                        <div *ngIf="showAddTimeIcon(index)" class="add-time-btn-wrap pull-right box-shadow" (click)="addTimeField()"><span class="vapps-icon-cb-add-time"></span></div>
                                        <div *ngIf="!showAddTimeIcon(index)" class="add-time-btn-wrap pull-right box-shadow" (click)="removeTimeField(index)"><span class="vapps-icon-dc-customer-vip"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="time-item clearfix submit-item">
                            <button class="btn primary-bgcolor" [disabled]="timeBaseIngoForm.invalid" (click)="save()"><span class="vapps-icon vapps-icon-app-confirm"></span>{{l('Save')}}</button>
                            <button class="btn btn-cancel" (click)="cancel()"><span class="vapps-icon vapps-icon-app-cancel"></span>{{l('Cancel')}}</button>
                        </div>
                    </div>
                </div>

                <!-- 展示时间段 -->
                <div *ngIf="timeInfo.length>0">
                    <div *ngFor="let timeInfoItem of timeInfo; let index = index;" class="col-lg-4 col-md-6 col-sm-12 view-time-info pull-left">
                        <div class="box-shadow border-radius-14 time-info-wrap paddingTop-32">
                            <div class="xiaoyuyue-title-box hover">
                                {{timeInfoItem.hourOfDay}}
                            </div>
                            <div class="btn-action-wrap">
                                <span class="icon vapps-icon-app-copy-2" (click)="copyBookingItem(index)" title="{{l('Copy')}}"></span>
                                <span class="icon vapps-icon-app-edit" (click)="editBookingItem(index)" title="{{l('Edit')}}"></span>
                                <span class="icon vapps-icon-app-delete" (click)="removeBookingItem(index)" title="{{l('Delete')}}"></span>
                            </div>
                            <div class="time-item clearfix">
                                <div class="name col-lg-6 col-md-5 col-sm-4 text-right"><span>{{l("Booking.MaxBookingNum")}}</span></div>
                                <div class="col-lg-6 col-md-7 col-sm-8 view-box">
                                    {{timeInfoItem.maxBookingNum}}
                                </div>
                            </div>
                            <div class="time-item clearfix">
                                <div class="name col-lg-6 col-md-5 col-sm-4 text-right"><span>{{l("Booking.MaxQueueNum")}}</span></div>
                                <div class="col-lg-6 col-md-7 col-sm-8 view-box">
                                    {{timeInfoItem.maxQueueNum}}
                                </div>
                            </div>
                            <div class="time-item clearfix">
                                <div class="name col-lg-6 col-md-5 col-sm-4 text-right"><span>{{l("Booking.BookingDate")}}</span></div>
                                <div class="col-lg-6 col-md-7 col-sm-8 view-box text-overflow">
                                    {{timeInfoItem.availableDates}}
                                </div>
                            </div>
                            <div class="time-item clearfix">
                                <div class="name col-lg-6 col-md-5 col-sm-4 text-right"><span>{{l("Booking.BookingTime")}}</span></div>
                                <div class="col-lg-6 col-md-7 col-sm-8 view-box text-overflow">
                                    {{timeInfoItem.hourOfDay}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 编辑状态的展示时间段 -->
                <ng-template #hasTimeInfo>

                </ng-template>
                <!--<div (click)="createTimeField()" class="add-time-btn-wrap pull-left box-shadow"><span class="vapps-icon-cb-add-time"></span></div>-->
            </div>
        </form>
    </div>
</div>