.page-header.navbar {
    .page-logo {
        .logo-wrap {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            .logo {
                vertical-align: middle;
                color: #FFF;
            }
            .vapps-icon-app-logo {
                font-size: 36px;
            }
            .vapps-icon-app-logo-text {
                font-size: 50px;
            }
        }
    }
    .back-icon {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 32px;
        color: #FFF;
        cursor: pointer;
    }
    .page-top {
        .create-bespeak {
            width: 130px;
            height: 32px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            outline: none;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
            background-color: #FFFEFE;
            .vapps-icon-cb-menu {
                margin-right: 9px;
            }
        }
        .top-menu {
            .navbar-nav {
                .dropdown-menu {
                    width: 300px;
                    max-width: 300px;
                    .item {
                        width: 100px;
                        height: 100px;
                        float: left;
                        cursor: pointer;
                        .content {
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                            text-align: center;
                            .icon {
                                font-size: 26px;
                                color: #ff9742;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #fixed-header {
        position: relative;
        z-index: 1000;
        background-image: url("/assets/common/images/booking/header-bg.png");
        background-color: #FF9641;
        background-size: cover;
        .top-title {
            width: 100%;
            height: 55px;
            line-height: 55px;
            text-align: center;
            padding: 0 15px;
            .title-text {
                font-size: 19px;
                color: #FFF;
            }
            .back-icon,
            .menu-icon {
                padding: 14px;
                margin-top: 6px;
                margin-right: -14px;
                font-size: 16px;
                color: #FFF;
            }
        }
    }
}