<div [@routerTransition]>
    <form #loginForm="ngForm" method="post">
        <div class="login-wrap portlet">
            <div class="login-title">
                <div class="title">{{l("LogIn")}}</div>
                <div class="toggle-wrap clearfix">
                    <span class="ordinary-login col-md-6" (click)="isOrdinaryLogin()">
                        账号登录
                        <span class="line" *ngIf="ordinaryLogin"></span>
                    </span>
                    <span class="phone-login col-md-6" (click)="isPhoneLogin()">
                        手机验证登录
                        <span class="line" *ngIf="!ordinaryLogin"></span>
                    </span>
                </div>
            </div>
            <div class="login-body">
                <div [@routerTransition] class="ordinary-login-wrap" *ngIf="ordinaryLogin">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input id="userName" class="form-control" type="text" autocomplete="off" [(ngModel)]="loginService.authenticateModel.loginCertificate" name="UserName" required maxlength="256" maxlength="32" [class.edited]="loginService.authenticateModel.loginCertificate && loginService.authenticateModel.loginCertificate.length > 0">
                                <label for="userName">{{l("UserName")}}/手机号/邮箱</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input id="password" class="form-control" type="password" [(ngModel)]="loginService.authenticateModel.password" name="EmailAddress" required autofocus maxlength="256" [class.edited]="loginService.authenticateModel.password && loginService.authenticateModel.password.length > 0">
                                <label for="password">{{l("Password")}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div [@routerTransition] class="phone-login-wrap" *ngIf="!ordinaryLogin">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input id="phoneNumber" class="form-control" type="phone" autocomplete="off" name="phoneNumber" required [class.edited]="loginService.authenticateModel.loginCertificate && loginService.authenticateModel.loginCertificate.length > 0">
                                <label for="phoneNumber">手机号</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group form-md-line-input form-md-floating-label">
                                <input id="identifyCode" class="form-control" type="text" name="identifyCode" required maxlength="256" [class.edited]="loginService.authenticateModel.password && loginService.authenticateModel.password.length > 0">
                                <label for="identifyCode">验证码</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-5 col-xs-6">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{l("RememberMe")}}
                                <span></span>
                            </label>
                        </div>
                        <div class="col-md-5 col-xs-6">
                            <span class="forgot-password pull-right">
                                <a routerLink="/account/forgot-password" id="forget-password" class="forget-password">{{l("ForgotPassword")}}</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="btn login-btn-wrap" (click)="login()">
                    {{l("LogIn")}}
                </div>

                <!--<div class="form-group form-md-line-input form-md-floating-label">
                    <input type="text" id="username" class="form-control" [(ngModel)]="loginService.authenticateModel.loginCertificate">
                    <label for="username">用户名</label>
                    <span class="help-block">请输入用户名</span>
                    
                </div>-->
            </div>
            <div class="login-footer"></div>
        </div>
    </form>
</div>