.login-wrap {
    width: 380px;
    position: relative;
    margin: 158px auto 0;
    padding: 170px 20px 0;
    background-color: #FFF;
    .login-title {
        width: 340px;
        position: absolute;
        top: -40px;
        background: url("http://localhost:5201/assets/common/images/login/bg-gradient.jpg");
        background-repeat: repeat-y;
        color: #FFF;
        background-color: #ff9742;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
        .title {
            height: 100px;
            line-height: 100px;
            font-size: 40px;
            font-weight: 100;
        }
        .toggle-wrap {
            padding: 15px 0;
            .ordinary-login {
                position: relative;
                line-height: 30px;
                cursor: pointer;
                border-right: 1px solid #FFF;
                .line {
                    width: 60%;
                    height: 2px;
                    position: absolute;
                    top: 28px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0 auto;
                    background-color: #FFF;
                }
            }
            .phone-login {
                position: relative;
                line-height: 30px;
                cursor: pointer;
                .line {
                    width: 60%;
                    height: 2px;
                    position: absolute;
                    top: 28px;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0 auto;
                    background-color: #FFF;
                }
            }
        }
    }
    .login-body {
        .login-btn-wrap {
            width: 100%;
            height: 44px;
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
            background: url("http://localhost:5201/assets/common/images/login/bg-gradient.jpg");
            background-repeat: repeat-y;
        }
    }
}

// 添加微信登录样式
#externalLogin {
    width: 300px;
    height: 260px; // top: 100px;
    // left: -36px;
    top: 60px;
    left: -36px;
    opacity: 0;
    transform: scale(0);
    background-color: #000;
    border-radius: 4px;
    .externalLogin-arrow {
        position: absolute;
        top: -5px;
        left: 50%;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 0 5px 5px;
        border-bottom-color: #000;
        margin-left: -5px;
    }
    .externalLogin-wrapper {
        width: 300px;
        height: 100%;
        overflow: hidden;
        opacity: 0;
    }
}

@media (max-width: 640px) {
    .login-with {
        margin-top: 5px;
    }
}

@media screen and (max-width: 1024px) {
    #externalLogin {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        .externalLogin-arrow {
            display: none;
        }
    }
}