<div class="supported-browsers-wrap">
    <div class="content">
        <div class="top clearfix">
            <div class="pull-left"><img src="/assets/common/images/upgrade-browser/logo.png" width="210px" alt="logo"></div>
            <div class="pull-right" style="margin-top: 16px;"><img src="/assets/common/images/upgrade-browser/tip.png" width="117px" alt="tip"></div>
        </div>

        <div class="tips-text">
            <p>{{ l('Browser.NotSupported.Tips1') }}</p>
            <p>{{ l('Browser.NotSupported.Tips2') }}</p>
        </div>

        <div class="optional-browser">
            <a class="flex-item" target="_blank" href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html">
                <img src="/assets/common/images/upgrade-browser/chrome.png" alt="chrome">
                <p>Google Chrome</p>
            </a>
            <a class="flex-item" target="_blank" href="http://www.firefox.com.cn/download/">
                <img src="/assets/common/images/upgrade-browser/firefox.png" alt="firefox">
                <p>Mozilla FireFox</p>
            </a>
            <a class="flex-item" target="_blank" href="http://www.opera.com/zh-cn">
                <img src="/assets/common/images/upgrade-browser/opera.png" alt="opera">
                <p>Opera</p>
            </a>
            <!-- <a class="flex-item" target="_blank">
                <img src="/assets/common/images/upgrade-browser/safari.png" alt="safari">
                <p>Apple Safari</p>
            </a> -->
        </div>
    </div>
</div>