<div class="customer-center" [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>会员中心</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-md-12 row">
            <div class="left-content col-md-3">
                <div class="org-profile box-shadow content-item" *ngIf="tenantBaseInfoData">
                    <div class="org-bg">
                        <img [src]="tenantBaseInfoData.logoUrl" width="100%" alt="logo">
                    </div>
                    <h4 class="org-name">{{ tenantBaseInfoData.tenancyName }}</h4>
                    <!-- <div class="edition-info clearfix">
                        <span class="col-md-4 edition-name">专业版</span>
                        <span class="col-md-8 edition-time">2018-01-01 <span>到期</span></span>
                    </div>
                    <div class="booking-amount row">
                        <div class="booked-num col-md-6">
                            <p>已用预约数</p>
                            <p>20</p>
                        </div>
                        <div class="not-booked-num col-md-6">
                            <p>可用预约数</p>
                            <p>20</p>
                        </div>
                    </div> -->
                </div>

                <div class="org-data box-shadow content-item clearfix" *ngIf="bookingDataStatistics">
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.pv }}</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.uv }}</p>
                        <p>首次访问</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.ypv }}</p>
                        <p>昨日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.yuv }}</p>
                        <p>昨日访问人数</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.complateNum+'/'+bookingDataStatistics.bookingSubscriberNum }}</p>
                        <p>昨日完成预约</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>{{ bookingDataStatistics.confirmNum }}</p>
                        <p>待确认</p>
                    </div>
                </div>
            </div>

            <div class="right-content col-md-9">
                <div class="booking-order-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">预约订单数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>

                <div class="booking-time-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">时间数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>

                <div class="booking-customer-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">应约人数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>