<div class="customer-center" [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-md-12">
            <div class="page-head">
                <div class="page-title">
                    <h1>会员中心</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="content row">
        <div class="col-md-12 row">
            <div class="left-content col-md-3">
                <div class="org-profile box-shadow content-item">
                    <div class="org-bg"></div>
                    <h4 class="org-name">机构名称</h4>
                    <div class="edition-info clearfix">
                        <span class="col-md-4 edition-name">专业版</span>
                        <span class="col-md-8 edition-time">2018-01-01 <span>到期</span></span>
                    </div>
                    <div class="booking-amount row">
                        <div class="booked-num col-md-6">
                            <p>已用预约数</p>
                            <p>20</p>
                        </div>
                        <div class="not-booked-num col-md-6">
                            <p>已用预约数</p>
                            <p>20</p>
                        </div>
                    </div>
                </div>

                <div class="org-data box-shadow content-item clearfix">
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                    <div class="col-md-6 item">
                        <p>1000</p>
                        <p>今日访问量</p>
                    </div>
                </div>
            </div>

            <div class="right-content col-md-9">
                <div class="booking-order-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">预约订单数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>

                <div class="booking-time-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">时间数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>

                <div class="booking-customer-data  data-item">
                    <div class="top-bar box-shadow">
                        <h5 class="top-title">应约人数据</h5>
                    </div>

                    <div class="content row">
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-item box-shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>