<div class="mobile-account-condition" [@routerTransition]>
    <div class="account-condition-menu">
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" routerLink="/account/condition">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-account-manage-menu"></span>
                        <p class="text">账户概况</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" routerLink="/editions/list">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-vip"></span>
                        <p class="text">账户版本</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>