<div class="create-booking" [@routerTransition]>
    <form #createBookingForm="ngForm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span *ngIf="!this.bookingId">{{l("BusinessCenter.Menu.CreateYuyue")}}</span>
                            <span *ngIf="this.bookingId">编辑预约</span>
                            <small routerLink="/app/admin/booking" class="back-btn">
                                <span class="vapps-icon-app-back"></span>
                                <span class="text">返回</span>
                            </small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <button type="submit" (click)="save()" class="btn primary-bgcolor" [disabled]="bookingId?false:(!infoFormValid || !createBookingForm.form.valid)" [buttonBusy]="saving" [busyText]="'保存中...'"><i class="vapps-icon vapps-icon-app-submit"></i><span>{{l("Save")}}</span></button>
                <button type="botton" (click)="saveAndEdit()" class="btn primary-bgcolor" [disabled]="bookingId?false:(!infoFormValid || !createBookingForm.form.valid)" [buttonBusy]="savingAndEditing" [busyText]="'保存中...'"><i></i><span>{{l("BusinessCenter.SavingAndEditing")}}</span></button>
                <button class="btn btn-view"><span class="vapps-icon vapps-icon-app-preview"></span>{{l("View")}}</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <!-- 基本信息 -->
                    <div class="base-info form-horizontal">
                        <div class="card-header card-header-text" data-background-color="orange">
                            <h6 class="card-title">{{l("General")}}</h6>
                        </div>
                        <div class="card-content">
                            <!-- 项目名称 -->

                            <div class="row">
                                <label class="col-md-3 label-on-left">项目名称</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input class="form-control " type="text" name="projectName" [(ngModel)]="baseInfo.name" placeholder="项目名称" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <!--项目简介-->

                            <div class="row">
                                <label class="col-md-3 label-on-left">项目简介</label>
                                <div class="col-md-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <textarea class="form-control " rows="5" name="projectIntro" [(ngModel)]="baseInfo.description" placeholder="项目简介" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <!--选择联系人-->
                            <div class="choose-contact-row row">
                                <div class="choose-contact name col-md-3 text-right label-on-left"><span>选择联系人</span></div>
                                <div class="col-md-9 input-box">
                                    <div class="col-md-6 input-item">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <kendo-dropdownlist [data]="outletSelectListData" (valueChange)="outletChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="outletSelectDefaultItem"></kendo-dropdownlist>
                                        </div>
                                    </div>
                                    <div class="col-md-6 input-item">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            <kendo-dropdownlist [data]="contactorSelectListData" (valueChange)="contactorChange($event)" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" [value]="contactorSelectDefaultItem"> </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--应约人所需信息选项-->
                            <div class="info-checkbox-row row">
                                <div class="info-checkbox name col-md-3 text-right label-on-left"><span>信息选项</span></div>
                                <div class="col-md-9 row content">
                                    <div class="margin-top-14">
                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                        <input type="checkbox" name="optionsCheckboxes"> 姓名
                                                    </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> 手机
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> 性别
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> 年龄
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> 邮箱
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-lg-4 item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="optionsCheckboxes"> 地址
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <app-picture-manage (sendAllPictureForEdit)="getAllPictureForEdit($event)" [pictureInfo]="pictureInfo"></app-picture-manage>
            </div>
            <div class="col-lg-12">
                <app-time-info (changeInput)="getTimeInfoInput($event)" (timeInfoFormDisabled)="getInfoFormValid($event)" [timeInfo]="timeInfo"></app-time-info>
            </div>
        </div>
    </form>
    <xiaoyuyue-share-booking-model #shareBookingModel [bookingId]="bookingId"></xiaoyuyue-share-booking-model>
    <xiaoyuyue-tips *ngIf="isShowImperfectTip"></xiaoyuyue-tips>
</div>