.common-max-width {
    max-width: 240px;
}

.margin-top-14 {
    margin-top: 14px;
}

.create-booking {
    .page-head {
        .back-btn {
            width: 26px;
            height: 26px;
            line-height: 26px;
            display: inline-block;
            border-radius: 26px;
            color: #FFF;
            background-color: #FF9641;
            overflow: hidden;
            transition: width .15s;
            cursor: pointer;
            vertical-align: text-top;
            .text {
                color: #FFF;
                padding-right: 8px;
            }
            .vapps-icon-app-back {
                font-size: 26px;
                font-weight: 800;
                vertical-align: middle;
            }
        }
        .back-btn:hover {
            width: 68px;
        }
    }
    .base-info {
        .card-content {
            .choose-contact-row {
                margin: 15px 0;
                .input-box {
                    padding-left: 2px;
                    padding-right: 2px;
                    .input-item:first-child {
                        padding-left: 0;
                    }
                    .input-item:last-child {
                        padding-right: 0;
                    }
                }
            }
            .info-checkbox-row {
                margin: 15px 0;
            }
        }
    }
}