<div class="booking-time">
    <div class="flatpickr"></div>
    <div class="valid-time-wrap clearfix">
        <div class="time-field-time col-xs-4 disabled">09:00-10:00</div>
        <div class="time-field-time col-xs-4">10:00-11:00</div>
        <div class="time-field-time col-xs-4">11:00-12:00</div>
        <div class="time-field-time col-xs-4">12:00-13:00</div>
        <div class="time-field-time col-xs-4">13:00-14:00</div>
        <div class="time-field-time col-xs-4 active">14:00-15:00</div>
        <div class="time-field-time col-xs-4">15:00-16:00</div>
        <div class="time-field-time col-xs-4">16:00-17:00</div>
        <div class="time-field-time col-xs-4">17:00-18:00</div>
    </div>
</div>