<div class="account-edition" [@routerTransition] *hideItBootstrap="[ 'xs', 'sm']">
    <form #createBookingForm="ngForm">
        <div class="row margin-bottom-5">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>账户版本</span>
                        </h1>
                        <div>
                            <breadcrumb></breadcrumb>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4" *ngFor="let edition of editionsWithFeatures">
                <div class="card">
                    <div class="form-horizontal">
                        <div class="xiaoyuyue-title-box">{{ edition.edition.displayName }}</div>
                        <div class="card-content">
                            <div class="edition-content">
                                <div class="edition-item" *ngFor="let editionContent of edition.featureValues">
                                    <div class="content" *ngIf="editionContent.name !== 'App.MaxUserCount' && editionContent.value !== 'false'">{{ getEditionDisplayName(editionContent) }}</div>
                                </div>
                            </div>
                            <div class="btn-wrap" (click)="showToPayModel(edition.edition.id)" *ngIf="edition.edition.id >= tenantEditionId">
                                <button class="btn btn-block primary-bgcolor" *ngIf="tenantEditionId < edition.edition.id">开通</button>
                                <button class="btn btn-block primary-bgcolor" *ngIf="tenantEditionId === edition.edition.id">续费</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div *showItBootstrap="[ 'xs', 'sm']">
    <div class="mobile-account-edition">
        <tabset class="tabset" #staticTabs>
            <tab [heading]="edition.edition.displayName" *ngFor="let edition of editionsWithFeatures">
                <div class="card">
                    <div class="content-item">
                        <div class="top-wrap clearfix">
                            <div class="title pull-left">{{ edition.edition.displayName }}</div>
                            <div class="icon pull-right">
                                <div *ngIf="edition.edition.id >= tenantEditionId">
                                    <button class="btn btn-xs primary-bgcolor" *ngIf="tenantEditionId < edition.edition.id">开通</button>
                                    <button class="btn btn-xs primary-bgcolor" *ngIf="tenantEditionId === edition.edition.id">续费</button>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="content-row" [hidden]="editionContent.name === 'App.MaxUserCount' || editionContent.value === 'false'" *ngFor="let editionContent of edition.featureValues">{{ getEditionDisplayName(editionContent) }}</div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>
<xiaoyuyue-to-pay-model #toPayModel></xiaoyuyue-to-pay-model>