.org-bg-wrap {
    .upload-bg-pic-wrap {
        width: 100%;
        margin: 0 auto;
        background-color: #EEE;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        cursor: pointer;
    }
}