.org-center {
    .flatpickr {
        height: 33px;
        .input-button {
            .vapps-icon {
                font-size: 14px;
                display: inline-block;
                transform: translateY(2px);
            }
        }
        input {
            width: 66px;
            border: 0;
            background: transparent;
            color: #FFF;
            cursor: pointer;
            padding-bottom: 10px;
        }
        .vapps-icon-dc-calendar:before {
            background-color: #FF9641;
            color: #fff;
        }
    }
    p {
        margin: 24px 0;
        font-weight: 400px;
    }
    .content {
        padding-top: 5px;
        .left-content {
            .content-item {
                .item :nth-of-type(1) {
                    font-size: 24px;
                }
            }
            .content-item+.content-item {
                margin-top: 15px;
            }
            .org-profile {
                width: 100%;
                background-color: #FFF;
                text-align: center;
                overflow: hidden;
                .org-bg {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: #555;
                    background-position: center center;
                    background-size: cover;
                    margin: 30px auto 0;
                }
                .org-name {
                    color: #FF9641;
                    font-size: 18px;
                }
                .edition-info {
                    .edition-name {
                        color: #E32600;
                    }
                    .edition-time {
                        color: #FF9641;
                    }
                }
                .booked-amount {
                    border-top: 1px solid #CCC;
                }
            }
            .org-data {
                width: 100%;
                background-color: #FFF;
                text-align: center;
                padding: 15px;
                .item:nth-of-type(odd) {
                    border-right: 1px solid #CCC;
                }
                .item:nth-of-type(n+3) {
                    border-top: 1px solid #CCC;
                }
                .item {
                    padding: 0 8px;
                }
            }
        }
        .right-content {
            margin-top: -10px;
            .data-item {
                .top-bar {
                    background-color: #FFF;
                    .top-title {
                        height: 72px;
                        line-height: 72px;
                        padding-left: 20px;
                        overflow: hidden;
                    }
                }
                .content {
                    .content-item {
                        height: 460px;
                        padding: 0 20px 20px;
                        background-color: #FFF;
                    }
                }
            }
            .booking-order-data {
                .top-title {
                    color: #FF9641;
                }
            }
            .booking-time-data {
                .top-title {
                    color: #FF2741;
                }
            }
            .booking-customer-data {
                .top-title {
                    color: #02AFF3;
                }
            }
        }
    }
}

.mobile-org-center {
    .header {
        width: 100vw;
        height: 210px;
        .tenant-base-info {
            height: 210px;
            position: relative;
            background-size: cover;
            background-position: center;
            .bg-cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 210px;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.3);
            }
            .info-wrap {
                position: relative;
                z-index: 2;
                .top {
                    text-align: center;
                    padding-top: 60px;
                    .tenant-logo {
                        border-radius: 50%;
                    }
                    .tenant-name {
                        font-size: 24px;
                        color: #FFF;
                        margin-left: 30px;
                        display: inline-block;
                        transform: translateY(5px);
                    }
                }
                .bottom {
                    display: flex;
                    color: #FFF;
                    text-align: center;
                    .flex-item {
                        flex: 1;
                        height: 85px;
                        margin-top: 20px;
                        .amount {
                            margin-bottom: 2px;
                            font-size: 24px;
                        }
                        p:last-child {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .add-time-btn {
        position: fixed;
        right: 10px;
        bottom: 60px;
        z-index: 1;
        .icon {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
            border-radius: 50%;
            background-color: #FF9641;
            color: #FFF;
            font-size: 18px;
        }
    }
    .content-wrap {
        height: calc(100vh - 215px);
        .manage-center-tab-content {
            padding: 5px;
            height: calc(100vh - 265px);
            .card-wrap {
                // display: inline-block;
                float: left; // width: calc(100% / 3);
                position: relative;
                padding: 10px 10px 4px 10px;
                .card {
                    margin: 0;
                    border-radius: 4px;
                    overflow: hidden;
                    .item {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        background: #FFF;
                        font-size: 34px;
                        &:before {
                            content: "";
                            display: inline-block;
                            padding-bottom: 100%;
                            width: .1px;
                            vertical-align: middle;
                        }
                        .content {
                            position: absolute;
                            width: 100%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            .icon {
                                color: #FF9641;
                            }
                            .text {
                                font-size: 16px;
                                margin-top: 14px;
                                margin-bottom: 0;
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
        .org-center-tab-content {
            height: calc(100vh - 265px);
            padding: 10px;
            .wrap {
                height: 100%;
                background-color: #FFF;
                border-radius: 6px;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                .content {
                    height: 300px;
                    .echarts {
                        height: 300px;
                    }
                }
                .title {
                    line-height: 60px;
                    text-align: center;
                    margin: 0 15px;
                    border-bottom: 1px solid #e2e2e2;
                }
            }
        }
    }
    .footer-tab {
        width: 100vw;
        height: 55px;
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: #FFF;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        .item:last-child {
            .icon {
                font-size: 20px;
            }
        }
        .item {
            height: 100%;
            margin-bottom: 10px;
            &.active {
                color: #FF9641;
            }
            .icon {
                font-size: 20px;
                display: inline-block;
                margin-top: 10px;
            }
            .text {
                font-size: 14px;
                margin: 0 0 2px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .mobile-org-center {
        .content-wrap {
            .manage-center-teb-content {
                .card-wrap {
                    .card {
                        .item {
                            font-size: 26px;
                        }
                        .content {
                            .text {
                                font-size: 14px !important;
                                margin-top: 4px !important;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}