<div class="card org-logo-wrap">
    <div class="card-header card-header-text" data-background-color="orange">
        <h6 class="card-title">{{ l('Tenant.Logo') }}</h6>
    </div>
    <div class="card-content">
        <div class="upload-logo-pic-wrap" [ngStyle]="{'background-image': 'url(' + getTenantLogoUrl() + ')'}" (click)="uploadOrgLogo()">
        </div>
    </div>
    <xiaoyuyue-upload-picture-none-gallery #uploadPictureNoneGalleryModel [groupId]="groupId" (picUploadInfoHandler)="getPicUploadInfoHandler($event)" [uploadUid]="uploadUid"></xiaoyuyue-upload-picture-none-gallery>
</div>