.picture-manage {
    .portlet-title {
        margin-bottom: 0;
    }
    .portlet-body {
        padding: 0;
        .row {
            margin: 0;
        }
        .gallery-wrap {
            padding: 0;
            padding: 10px;
            .picture-item {
                width: calc(100% / 2);
                position: relative;
                float: left;
                padding-top: calc((100% / 2) / 2);
                padding-bottom: calc((100% / 2) / 2);
                .content {
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #CCC;
                }
            }
        }
        .gallery-action {
            height: 394px;
            position: relative;
            padding-top: 40px;
            color: #808080;
            .tip-text {
                .tips-item+.tips-item {
                    margin-top: 12px;
                }
                .head {
                    width: 28px;
                    text-align: center;
                }
                .content {
                    width: calc(100% - 28px);
                    line-height: 24px;
                }
            }
            .upload-wrap {
                position: absolute;
                left: 0;
                bottom: 20px;
                .upload {
                    margin-right: 20px;
                    color: #ff9641;
                    border: 1px solid #ff9641;
                }
                .gallery {
                    color: #ff7241;
                    border: 1px solid #ff7241;
                }
            }
        }
    }
}