.common-max-width {
    max-width: 240px;
}


/* 移动端样式 */

.user-profile {
    width: 100%;
    max-width: 480px;
    min-height: 100vh;
    margin: 20px auto;
    .rotating {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }
    .avatar-wrap {
        width: 80px;
        height: 80px;
        line-height: 70px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.2);
        text-align: center;
        font-size: 44px;
        font-weight: 100;
        background-color: #E5E5E5;
        #orgLogoUploadAreaWrap {
            position: relative;
            z-index: 100;
        }
        .img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: #e5e5e5;
            background-size: cover;
            background-position: center;
        }
        .bg-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.51);
            z-index: 1;
        }
        .vapps-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #FFF;
        }
    }
    .org-bg-wrap {
        .img-wrap {
            position: relative;
            .img {
                width: 100%;
                height: 200px;
                background-size: cover;
                background-position: center;
            }
            .bg-cover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.51);
                z-index: 1;
            }
            .upload-tips {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 100;
                .vapps-icon {
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    display: inline-block;
                    border-radius: 50%;
                    color: #CCC;
                    border: 1px dashed #CCC;
                    text-align: center;
                    font-size: 24px;
                }
                .text {
                    margin-top: 10px;
                    color: #CCC;
                }
            }
        }
    }
    .card-content {
        margin-top: 40px;
    }
    .op-btn {
        margin-top: 10px;
    }
    .org-info-title {
        font-size: 12px;
    }
}