<ul class="pagination pagination-info clearfix">
    <li class="item"><a href="javascript:void(0);" (click)="firstPage()"><span class="vapps-icon-app-first-page"></span></a></li>
    <li class="item"><a href="javascript:void(0);" (click)="prevPage()"><span class="fa fa-angle-left"></span></a></li>
    <li class="item page-wrap">
        <ul class="page-list-wrap clearfix" [style.width]="pagesCount.length*40+'px'" [style.left]="pageOffset+'px'">
            <li class="page-list-item" *ngFor="let pages of pagesCount; let index = index;" [ngClass]="{'active': currentPage == index}" (click)="otherPage(index)">
                <a href="javascript:void(0);">{{pages}}</a>
            </li>
        </ul>
    </li>
    <li class="item"><a href="javascript:void(0);" (click)="nextPage()"><span class="vapps-icon-app-next-page"></span></a></li>
    <li class="item"><a href="javascript:void(0);" (click)="lastPage()"><span class="vapps-icon-app-last-page"></span></a></li>
</ul>