<div *ngIf="hostSettings" class="common-input-line-width">
    <h4>{{l("FormBasedRegistration")}}</h4>
    <div class="md-checkbox-list">
        <div class="md-checkbox">
            <input id="Setting_AllowSelfRegistration" class="md-check" type="checkbox" name="AllowSelfRegistration" [(ngModel)]="hostSettings.tenantManagement.allowSelfRegistration">
            <label for="Setting_AllowSelfRegistration">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {{l("AllowTenantsToRegisterThemselves")}}
            </label>
            <span class="help-block">{{l("AllowTenantsToRegisterThemselves_Hint")}}</span>
        </div>
        <div class="md-checkbox" [hidden]="!hostSettings.tenantManagement.allowSelfRegistration">
            <input id="Setting_IsNewRegisteredTenantActiveByDefault" class="md-check" type="checkbox" name="IsNewRegisteredTenantActiveByDefault" [(ngModel)]="hostSettings.tenantManagement.isNewRegisteredTenantActiveByDefault">
            <label for="Setting_IsNewRegisteredTenantActiveByDefault">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {{l("NewRegisteredTenantsIsActiveByDefault")}}
            </label>
            <span class="help-block">{{l("NewRegisteredTenantsIsActiveByDefault_Hint")}}</span>
        </div>
        <div class="md-checkbox" [hidden]="!hostSettings.tenantManagement.allowSelfRegistration">
            <input id="Setting_UseCaptchaOnRegistration" class="md-check" type="checkbox" name="UseCaptchaOnRegistration" [(ngModel)]="hostSettings.tenantManagement.useCaptchaOnRegistration">
            <label for="Setting_UseCaptchaOnRegistration">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                {{l("UseCaptchaOnRegistration")}}
            </label>
        </div>
    </div>
    <div class="form-group form-md-line-input form-md-floating-label no-hint">
        <select class="form-control edited" [(ngModel)]="hostSettings.tenantManagement.defaultEditionId">
            <option *ngFor="let edition of _hostSettingService.editions" [value]="edition.value">{{edition.displayText}}</option>
        </select>
        <label for="TenantEditionSelectionCombobox">{{l("Edition")}}</label>
    </div>
</div>