<div class="header-wrap clearfix">
    <div class="menu-wrap pull-left">
        <div class="menu-item">
            <div class="item"><a href="#">小预约</a></div>
            <div class="item"><a href="#">关于我们</a></div>
            <div class="item"><a href="#">如何使用</a></div>
            <div class="item"><a href="#">联系我们</a></div>
        </div>
    </div>
    <div class="login-or-register-wrap pull-right">
        <div class="menu-item">
            <div class="item"><a href="#" routerLink="/auth/login">登录</a></div>
            <div class="item"><a href="#" routerLink="/auth/register">注册</a></div>
        </div>
    </div>
</div>