.header-wrap {
    height: 80px;
    line-height: 80px;
    margin-top: 30px;
    padding: 0 378px;
    .menu-item {
        font-size: 0;
        .item+.item {
            margin-left: 70px;
        }
        .item {
            display: inline-block;
            font-size: 16px;
            a {
                color: #FFF;
                font-weight: normal;
            }
        }
    }
    .menu-wrap {}
    .login-or-register-wrap {
        .menu-item {
            .item+.item {
                margin-left: 18px;
            }
        }
    }
}