<div class="modal fade" bsModal #mobileConfirmOrderModel="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div *ngIf="orgBookingOrderData.length > 0">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ l('BookingOrder.ConfirmOrder') }}</h4>
                </div>
                <div class="modal-body">
                    <p class="order-item text-overflow" *ngFor="let orgBookingOrderItem of orgBookingOrderData | paginate: { itemsPerPage: maxResultCount, currentPage: currentPage,totalItems: totalItems }">
                        <img class="item" [src]="getProfilePictureUrl(orgBookingOrderItem.profilePictureUrl)" width="30px" height="30px">
                        <span class="item">{{ orgBookingOrderItem.customerName }}</span>
                        <span class="item">{{ t(orgBookingOrderItem.bookingDate, 'YYYY-HH-DD') }}</span>
                        <span class="item">{{ orgBookingOrderItem.hourOfDay }}</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn confirm-btn primary-bgcolor" (click)="batchConfirmBookingOrder()" [buttonBusy]="confirming" [busyText]="l('Confirming')"><i></i><span>{{ l('BookingOrder.ConfirmAllOrder') }}</span></button>
                    <div class="col-lg-12 pagination-wrap" *ngIf="!orgBookingOrderData">
                        <div class="pull-right">
                            <div class="has-text-centered">
                                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" autoHide="false"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>


                <span class="prev-icon" (click)="prevPage()"><i class="icon vapps-icon-app-prev-page"></i></span>
                <span class="next-icon" (click)="nextPage()"><i class="icon vapps-icon-app-next-page"></i></span>
            </div>
        </div>
    </div>
</div>