.modal-dialog {
    .modal-content {
        .modal-header {
            position: relative;
            .xiaoyuyue-title-box {
                width: 90%;
                height: 64px;
                line-height: 64px;
                display: flex;
                justify-content: center;
            }
        }
        .modal-body {
            .content-item+.content-item {
                margin-top: 40px;
            }
            .choose-item {
                border: 1px solid #CCC;
                border-radius: 10px;
                text-align: center;
                cursor: pointer;
                transition: all .6s;
            }
            .edition-choose {
                .edition-item {
                    line-height: 60px;
                    &.active,
                    &:hover {
                        border: 1px solid #FF9641;
                        background-color: #FF9641;
                        color: #FFF;
                    }
                }
            }
            .time-limit-choose {
                .time-limit-item {
                    position: relative;
                    overflow: hidden;
                    height: 80px;
                    padding-top: 14px;
                    .choose-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: all .6s;
                    }
                    .price {
                        color: #F00;
                    }
                    &.active {
                        .time {
                            color: #FF9641;
                        }
                        .choose-img {
                            opacity: 1;
                        }
                    }
                    &.active,
                    &:hover {
                        border: 1px solid #FF9641;
                    }
                }
            }
        }
    }
}